<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">FUNCIONES DEL SISTEMA</h4>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarFunciones()"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" ng-init="listarFunciones()">
        <div class="tabla-responsiva">
            <table ng-table="tablaFuncion" class="table table-striped table-hover">
            <colgroup>
                <col width="20px" /><col width="20%" /><col width="auto" /><col width="10%" /><col width="10%"/><col width="10%" /><col width="60px" /><col width="65px" />
            </colgroup>
            <tr ng-repeat="f in $data">                
                <td data-title="'N'" sortable="'i'">{{f.i}}</td>
                <td data-title="'Nombre'" sortable="'nombre'">{{f.nombre}}</td>
                <td data-title="'Url'" sortable="'url'">{{f.url}}</td>
                <td data-title="'Clave'" sortable="'clave'">{{f.clave}}</td>
                <td data-title="'Controlador'" sortable="'controlador'">{{f.controlador}}</td>
                <td data-title="'Icono'" >{{f.icono}}</td>
                <td data-title="'Estado'" sortable="'estado'" style="text-align: center">
                    <span class="label label-mini" ng-class="{'label-info': f.estado=='A','label-warning': f.estado=='I'}">{{f.estado}}</span>
                </td>
                <td data-title="'Accion'" style="text-align: center;">
                    <button class="btn btn-primary btn-xs" ng-click="prepararEditar(f)"><i class="fa fa-pencil" ></i></button>
                    <button class="btn btn-danger btn-xs" ng-click="eliminarFuncion(f.i,f.funcionID)"><i class="fa fa-trash-o " ></i></button>
                </td>
            </tr>
        </table></div>
        <div align="right" >
            <button class="btn btn btn-primary " data-toggle="modal" data-target="#modalNuevo"><i class="fa fa-plus" ></i> Agregar</button>
        </div>

    </div>
</section>
</div></div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ACTUALIZAR FUNCION DEL SISTEMA</h4>
      </div>
      <div class="modal-body">
          
          
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group" >
                    <label class="col-sm-2 col-sm-2 control-label">Sub Modulo</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="funcionSel.subModuloID" ng-options="sm.subModuloID as sm.nombre for sm in subModulos">
                        </select>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="funcionSel.nombre">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Descripcion</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ng-model="funcionSel.descripcion"></textarea>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Url</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="funcionSel.url"/>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">clave navegacion</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="funcionSel.clave"/>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">interfaz</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="funcionSel.interfaz"/>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">controlador</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="funcionSel.controlador"/>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">icono</label>
                    <div class="col-sm-10">
                        <input-file nombre="funcionSel.urlNom" archivo="funcionSel.archivo"></input-file>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="funcionSel.estado" ng-value="'A'" >activo</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="funcionSel.estado" ng-value="'I'">inactivo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="editarFuncion()"><i class="fa fa-save" ></i> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVA FUNCION</h4>
      </div>
      <div class="modal-body">
          
          
            <div class="form-panel">
                <div class="form-horizontal style-form" >
                    <div class="form-group" >
                        <label class="col-sm-2 col-sm-2 control-label">Sub Modulo</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="nuevaFuncion.subModuloID">
                                <option ng-repeat="sm in subModulos" value="{{sm.subModuloID}}">{{sm.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevaFuncion.nombre">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Descripcion</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" ng-model="nuevaFuncion.descripcion"></textarea>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Url</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevaFuncion.url"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">clave navegacion</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevaFuncion.clave"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">interfaz</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevaFuncion.interfaz"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">controlador</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevaFuncion.controlador"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">icono</label>
                        <div class="col-sm-10">
                            <input-file  nombre="nuevaFuncion.urlNom"  archivo="nuevaFuncion.archivo" ></input-file>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Estado</label>
                        <div class="col-sm-10">
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevaFuncion.estado" ng-value="'A'" checked>activo</label>
                            </div>
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevaFuncion.estado" ng-value="'I'">inactivo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="agregarFuncion()"><i class="fa fa-check" ></i> Guardar</button>
      </div>
    </div>
  </div>
</div>

