<div class="col-md-3 col-sm-4" ng-repeat="f in funcionalidades" style="margin-bottom: 25px">
    <div class="feed-box text-center">            
        <section class="panel" style="margin-bottom: 3px;" >
            <a href ng-click="elegirVista(f, s)">
            <div style="padding: 5px;min-height: 147px;color:{{color}}" >
                <img alt="" src="{{f.icono}}">
                <h5 style="font-weight: bold;font-size: 15px; color:#b51e51 ">{{f.nombre}}</h5>
            </div>
            </a>
        </section>
            
    </div>
        
</div>