<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrlanecdotario.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Anecdotario Escolar</h4>
            </header>
            <div class="panel-body">
                <div class="form-horizontal" >
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nivel</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrlanecdotario.nivel" ng-options="s.nom for s in ctrlanecdotario.niveles track by s.id" ng-change="ctrlanecdotario.mostrarGrados(ctrlanecdotario.nivel)">
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Grado</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrlanecdotario.grado" ng-options="s.nom for s in ctrlanecdotario.grados track by s.id" ng-change="ctrlanecdotario.mostrarSecciones(ctrlanecdotario.grado)">
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Seccion</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrlanecdotario.seccion" ng-options="s for s in ctrlanecdotario.secciones">
                            </select>
                        </div>
                        <div class=" col-sm-4">
                            <button class="btn btn-success btn-sm" type="button" ng-click="ctrlanecdotario.buscarAlumnos()">Listar</button>
                        </div>
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-4">
                        </div>
                    </div>
                </div>
                <div>
                    <table ng-table="ctrlanecdotario.estudiantes" class="table table-bordered table-hover table-condensed editable-table">
                        <colgroup>
                            <col width="5%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="5%" />
                        </colgroup>
                        <tr ng-repeat="row in $data">
                            <td ng-form="num" data-title="'N°'"><span>{{$index + 1}}</span></td>
                            <td filter="{dni: 'text'}" sortable="'org'"  ng-form="org" data-title="'DNI'"><span>{{row.dni}}</span></td>
                            <td filter="{pat: 'text'}" sortable="'nom'"  ng-form="nom" data-title="'Apellido Paterno'"><span>{{row.pat}}</span></td>
                            <td filter="{mat: 'text'}" sortable="'are'"  ng-form="are" data-title="'Apellido Materno'"><span>{{row.mat}}</span></td>
                            <td filter="{nom: 'text'}" sortable="'grad'"  ng-form="grad" data-title="'Nombres'"><span>{{row.nom}}</span></td>
                            <td filter="{nac: 'text'}" sortable="'fec'"  ng-form="fec" data-title="'Nacimiento'"><span>{{row.nac | date:'dd-MM-yyyy'}}</span></td>
                            <td>
                                <button class="btn btn-warning btn-xs" data-toggle="tooltip" title="ver anecdotario" ng-click="ctrlanecdotario.verAnecdotarioAlumno(row)">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>