<div class="modal fade" id="modalProgAnual" >
    <div class="modal-dialog modal-lg" style="width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        <div class="row" >
                            <label class="col-sm-3 control-label">Ingrese tipo de UGEL: </label>
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="nuevoMonitoreo.tipUgel">
                                   <option ng-repeat="p in tiposUgel" value="{{p.id}}">{{p.title}}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="programarMonitoreos()" data-dismiss="modal"> Guardar </button>                
                <button type="button" class="btn btn-danger" data-dismiss="modal" > Cancelar </button>                        
            </div>
        </div>
    </div>
</div>