<!DOCTYPE html>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrlcarpetaPedagogica.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Carpeta Pedagogica</h4>
            </header>
            <div class="panel-body">
                <table ng-table="ctrlcarpetaPedagogica.tablaCarpetas" class="table table-bordered table-hover table-condensed editable-table" >
                    <colgroup>
                        <col width="10%" />
                        <col width="20%" />
                        <col width="30%" />
                        <col width="20%" />
                        <col width="15%" />
                    </colgroup>
                    <tr ng-repeat="row in $data" ng-form="rowFormCarpeta">
                        <td filter="{eta: 'text'}" sortable="'eta'" ng-form="eta" data-title="'Año'"><span>{{row.eta}}</span></td>
                        <td ng-form="nom" data-title="'Nombre'"><span>{{row.nom | uppercase}}</span></td>
                        <td ng-form="des" data-title="'Descripcion'"><span>{{row.des}}</span></td>
                        <td ng-form="fec" data-title="'Fecha de Creacion'"><span>{{row.cre | date:'dd-MM-yyyy'}}</span></td>
                        <td>
                            <button class="btn btn-primary btn-xs" ng-click="ctrlcarpetaPedagogica.verDetalles(row)">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>