<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrlconfCarpetaDigital.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Configuracion de Carpeta Pedagogica</h4>
                <span class="tools pull-right">
                    <button type="submit" class="btn btn-primary" ng-click="ctrlconfCarpetaDigital.nuevaCarpeta()">Nueva Carpeta</button>
                </span>
            </header>
            <div class="panel-body">
                <table ng-table="ctrlconfCarpetaDigital.tablaCarpetas" class="table table-bordered table-hover table-condensed editable-table" >
                    <colgroup>
                        <col width="10%" />
                        <col width="20%" />
                        <col width="30%" />
                        <col width="20%" />
                        <col width="15%" />
                    </colgroup>
                    <tr ng-repeat="row in $data" ng-form="rowFormCarpeta">
                        <td filter="{eta: 'text'}" sortable="'eta'" ng-form="eta" data-title="'Año'"><span>{{row.eta}}</span></td>
                        <td ng-form="nom" data-title="'Nombre'"><span>{{row.nom | uppercase}}</span></td>
                        <td ng-form="des" data-title="'Descripcion'"><span>{{row.des}}</span></td>
                        <td ng-form="fec" data-title="'Fecha de Creacion'"><span>{{row.cre | date:'dd-MM-yyyy'}}</span></td>
                        <td>
                            <button class="btn btn-primary btn-sm" ng-click="ctrlconfCarpetaDigital.verDetalles(row)">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button class="btn btn-primary btn-sm" ng-click="ctrlconfCarpetaDigital.editarCarpeta(row)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-danger btn-sm md-primary md-raised" ng-click="ctrlconfCarpetaDigital.eliminarCarpeta($event,row)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>
<script type="text/ng-template" id="nuevaCarpeta.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title" id="myModalLabel">{{ctrl.titulo}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal style-form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Año:</label>
                        <div style="padding-left: 15px;" class="input-group col-sm-4 form-inline">
                            <input name="fec" type="text" class="form-control"  uib-datepicker-popup="yyyy" ng-model="ctrl.car.eta" is-open="ctrl.abrirCalendar"
                                   datepicker-options="ctrl.dateOptions" close-text="Cerrar" today-text="Hoy" clear-text="Limpiar" required/>
                            <span ng-show="myForm.fecini.$error.required">Este Campo es Requerido</span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>

                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" ng-model="ctrl.car.nom"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Descripcion</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" cols="20" rows="3" ng-model="ctrl.car.des"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary" ng-click="ctrl.guardar()">Guardar</button>
        </div>
    </div>
</script>