<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrl.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Detalle Carpeta Pedagogica</h4>
                <span class="tools pull-right">
                    <button type="submit" class="btn btn-primary btn-xs" ng-click="ctrl.descargarReporte()">Reporte</button>
                    <!--<button type="submit" class="btn btn-primary btn-sm" ng-click="ctrlplanCurricular.listar()">Listar</button>-->
                </span>
            </header>
            <div class="panel-body">
                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <fieldset >
                            <header class="panel-heading">
                                <h4 style="display:inline;line-height: 1.9">Secciones de Carpeta</h4>
                            </header>
                            <div class="panel-body">
                                <uib-tabset active="active">
                                    <uib-tab ng-repeat= "sec in ctrl.secciones" index="$index" heading="{{sec.nom}}">
                                        <div class="form-panel">
                                            <header class="panel-heading">
                                            </header>
                                            <table ng-table="sec.contenidos" class="table table-bordered table-hover table-condensed editable-table" >
                                                <colgroup>
                                                    <col width="5%" />
                                                    <col width="35%" />
                                                    <col width="20%" />
                                                    <col width="35%" />
                                                    <col width="5%" />
                                                </colgroup>
                                                <tr  ng-repeat="row in $data" ng-form="rowFormContenido">
                                                    <td ng-form="org" data-title="'N°'"><span>{{$index + 1}}</span></td>
                                                    <td filter="{conNom: 'text'}" sortable="'nom'"  ng-form="nom" data-title="'Nombre'"><span>{{row.conNom}}</span></td>
                                                    <td filter="{tipUsu: 'text'}" sortable="'tip'"  ng-form="tip" data-title="'Encargado'"><span>{{ctrl.mostrarTipo(row.tipUsu)}}</span></td>
                                                    <td data-title="'Archivo'">
                                                        <span ng-hide="!row.pat && !row.nomFil" ><view-file url="{{row.pat}}" nombre="row.nomFil" archivo> </view-file></span>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-success btn-xs" ng-disabled="row.tipUsu !== 3" data-toggle="tooltip" title="subir archivo" ng-click="ctrl.subirArchivoCarpeta(row)">
                                                            <span class="glyphicon glyphicon-upload"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script type="text/ng-template" id="nuevo_archivo_carpeta.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Nuevo Archivo</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal style-form">
                    <div class="form-group" >
                        <label class="col-lg-2 control-label">Archivo:</label>
                        <div class="col-lg-2 form-inline">
                            <input-file nombre="ctrl.arc.nomFil" archivo="ctrl.arc.arc"></input-file>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary" ng-click="ctrl.save()">Guardar</button>
        </div>
    </div>
</script>