<div class="row"><div class="col-lg-6">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">TURNO</h4>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarTurnos()"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" >
        
        <div class="tabla-responsiva"><table class="table table-striped table-hover " ng-init="listarTurnos()">
          <thead>
          <tr>
              <th style="width: 50px">codigo</th>
              <th >Nombre</th>
              <th style="text-align: center;width: 100px">Estado</th>
              <th style="width: 65px"></th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="e in turnos">
                <td >{{e.turnoID}}</td>
                <td >{{e.nombre}}</td>
                <td style="text-align: center">
                    <span class="label label-mini" ng-class="{'label-info': e.estado=='A','label-warning': e.estado=='I'}">{{e.estado}}</span>
                </td>
                <td>
                    <button type="buttom" class="btn btn-primary btn-xs" ng-click="prepararEditar($index,e,true)"><i class="fa fa-pencil" ></i></button>
                    <button type="buttom" class="btn btn-danger btn-xs" ng-click="eliminarTurno($index,e.turnoID)"><i class="fa fa-trash-o " ></i></button>
                </td>
            </tr>
          </tbody>
        </table></div> 
        <div align="right" >
            <button class="btn btn btn-primary " ng-click="prepararAgregar(true)"><i class="fa fa-plus" ></i> Agregar</button>
        </div>

    </div>
</section>
</div><div class="col-lg-6">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">PERIODO</h4>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarPeriodos()"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" >
        
        <div class="tabla-responsiva"><table class="table table-striped table-hover " ng-init="listarPeriodos()">
          <thead>
          <tr>
              <th style="width: 50px">codigo</th>
              <th >Nombre</th>
              <th style="width: 60px">factor</th>
              <th style="text-align: center;width: 100px">Estado</th>
              <th style="width: 65px"></th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in periodos">
                <td >{{p.periodoID}}</td>
                <td >{{p.nombre}}</td>
                <td >{{p.factor}}</td>
                <td style="text-align: center">
                    <span class="label label-mini" ng-class="{'label-info': p.estado=='A','label-warning': p.estado=='I'}">{{p.estado}}</span>
                </td>
                <td>
                    <button type="buttom" class="btn btn-primary btn-xs" ng-click="prepararEditar($index,p,false)"><i class="fa fa-pencil" ></i></button>
                    <button type="buttom" class="btn btn-danger btn-xs" ng-click="eliminarPeriodo($index,p.periodoID)"><i class="fa fa-trash-o " ></i></button>
                </td>
            </tr>
          </tbody>
        </table></div> 
        <div align="right" >
            <button class="btn btn btn-primary " ng-click="prepararAgregar(false)"><i class="fa fa-plus" ></i> Agregar</button>
        </div>

    </div>
</section>
</div></div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 400px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ACTUALIZAR {{tipoObj?'TURNO':'PERIODO'}}</h4>
      </div>
      <div class="modal-body">
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Codigo</label>
                    <div class="col-sm-10">
                        <input ng-show="tipoObj" type="text" class="form-control" maxlength="1" ng-model="objetoSel.turnoID">
                        <input ng-hide="tipoObj" type="text" class="form-control" maxlength="1" ng-model="objetoSel.periodoID">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="objetoSel.nombre">
                    </div>
                </div>
                <div class="form-group" ng-hide="tipoObj" >
                    <label class="col-sm-2 control-label">factor periodo</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" ng-model="objetoSel.factor">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="objetoSel.estado" ng-value="'A'" >activo</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="objetoSel.estado" ng-value="'I'">inactivo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="editarObjeto()"><i class="fa fa-save" ></i> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 400px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVO {{tipoObj?'TURNO':'PERIODO'}}</h4>
      </div>
      <div class="modal-body">
          
            <div class="form-panel" >
                <div class="form-horizontal style-form" >
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Codigo</label>
                        <div class="col-sm-10">
                            <input ng-show="tipoObj" type="text" class="form-control" maxlength="1" ng-model="objeto.turnoID">
                            <input ng-hide="tipoObj" type="text" class="form-control" maxlength="1" ng-model="objeto.periodoID">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="objeto.nombre">
                        </div>
                    </div>
                    <div class="form-group" ng-hide="tipoObj" >
                        <label class="col-sm-2 control-label">factor periodo</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" ng-model="objeto.factor">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Estado</label>
                        <div class="col-sm-10">
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="objeto.estado" ng-value="'A'" checked>activo</label>
                            </div>
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="objeto.estado" ng-value="'I'">inactivo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="agregarObjeto()"><i class="fa fa-check" ></i> Guardar</button>
      </div>
    </div>
  </div>
</div>

