<div class="row"><div class="col-lg-12" >
  <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">Consulta de Bienes Inmuebles</h4>
        </header>
      <div class="panel-body">
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group">
                    <label class="col-sm-2 control-label">REPORTE DE BIENES INMUEBLES :</label>
                    <div class="col-sm-4">
                        <button class="" ng-click="reporte_catalogo()"><i class="glyphicon glyphicon-print"></i></button>
                    </div>
                </div>
            
            </div>  
 
        </div>
      </div>
  <div class="panel-body" ng-init="listar_inmuebles(usuMaster.organizacion.organizacionID)">
            <div class="tabla-responsiva"><table ng-table="tabla_bienes_inmuebles" class="table table-striped table-hover" show-filter="true" >
                <colgroup>
                    <col width="20px" /><col width="50px" /><col width="auto" /><col width="auto" /><col width="200px" /><col width="200px" /><col width="65px" />
                </colgroup>
            <tr ng-repeat="o in $data">
                
                <td data-title="'Nro'" filter="{ i: 'text'}" sortable="'cod'" style="text-align: center">{{o.i}}</td>
                <td data-title="'Descripcion Bien'" filter="{ desc : 'text'}" sortable="'desc'" style="text-align: center">{{o.desc}}</td>
                <td data-title="'Fecha de Registro '" filter="{ fec_reg : 'text'}" sortable="'fec_reg'" style="text-align: center">{{o.fec_reg}}</td>
                <td data-title="'Ubicacion '" filter="{ ubi : 'text'}" sortable="'ubi'" style="text-align: center">{{o.ubi}}</td>
                <td data-title="'Estado '" filter="{ ubi : 'text'}" sortable="'ubi'" style="text-align: center">{{o.ubi}}</td>
                <td data-title="'Accion'" style="text-align: center;">
                   <button class="btn btn-primary btn-xs" ng-click="editarBienInmueble(o,usuMaster.organizacion.organizacionID)"><i class="fa fa-pencil" ></i></button>
                   <button class="btn btn-danger btn-xs"  ng-click="eliminarBienInmueble(o)"><i class="fa fa-trash-o"></i></button>  
                </td>
            </tr>   
            </table></div>
        </div>
  </section>
    </div>
</div>
    
    