           
<div class="row"><div class="col-lg-12" >
  <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">Control Patrimonial</h4>
        </header>
      <div class="panel-body">
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group">
                    <div class=" col-sm-2">
                        <button class="btn btn btn-warning" data-toggle="modal" ng-click="limpiar_campos_control()" data-target="#modalnuevocontrol"><i class="fa fa-plus"> Agregar Configuracion</i></button>
                    </div>  
                </div>
                
                  
                <!----- TABLA CONTROL PATRIMONIAL----->
                <div class="form-group">
                    <div class="panel-body" ng-init="mostrar_control_patrimonial(usuMaster.organizacion.organizacionID)">
                            <div class="tabla-responsiva"><table ng-table="tabla_control_patrimonial" class="table table-striped table-hover" show-filter="true" >
                            <colgroup>
                                <col width="20px" /><col width="50px" /><col width="auto" /><col width="auto" /><col width="200px" /><col width="200px" /><col width="65px" />
                            </colgroup>
                    <tr ng-repeat="o in $data">
                        <td data-title="'Nro'" filter="{ i: 'number'}" sortable="'i'" style="text-align: center">{{o.i}}</td>
                        <td data-title="'Descripcion '" filter="{ obs : 'text'}" sortable="'obs'" style="text-align: center">{{o.obs}}</td>
                        <td data-title="'Fecha de Inicio'" filter="{ fec_ini : 'text'}" sortable="'fec_ini'" style="text-align: center">{{o.fec_ini}}</td>
                        <td data-title="'Fecha de Cierre'" filter="{ fec_cie : 'text'}" sortable="'fec_cie'" style="text-align: center">{{o.fec_cie}}</td>
                        <td data-title="'Responsable'" filter="{ per_res : 'text'}" sortable="'per_res'" style="text-align: center">{{o.per_res}}</td>
         
                        <td data-title="'Accion'" style="text-align: center;">
                            <button class="btn btn-primary btn-xs" ng-click="editar_control_patrimonial(o)"><i class="fa fa-pencil" ></i></button>
                            <button class="btn btn-danger btn-xs"  ng-click="eliminar_control_patrimonial(o)"><i class="fa fa-trash-o"></i></button>  
                        </td>
                    </tr>   
                                </table></div>    
                    </div>
                </div>

            </div>
            
        </div>
          
      </div>
      
  </section>
        
    </div>
  
</div>

<div class="modal fade" id="modalnuevocontrol" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
        <div class="modal-dialog">
            <div class ="modal-content">
                <div class ="modal-header">
                    <div class="panel panel-primary">
                        <h4 class="modal-title" id="myModalLabel">Control Patrimonial</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal style-form">
                        <div class="form-panel" ng-init="">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Persona Responsable:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="nueva_configuracion.per_res">   
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3">Fecha Inicio :</label>
                                    <div class="col-sm-3">
                                        <input type="date" class="form-control" ng-model="nueva_configuracion.fec_ini">   
                                    </div>
                                <label class="col-sm-3">Fecha Cierre :</label>
                                 <div class="col-sm-3">
                                    <input type="date" class="form-control" ng-model="nueva_configuracion.fec_cie">   
                                 </div>
                                
                            </div>
                            
                            <div class="form-group">
                                 <label class="col-sm-3">Observacion :</label>
                                 <div class="col-sm-6">
                                     <textarea class="form-control" ng-model="nueva_configuracion.obs"></textarea>         
                                 </div>
 
                            </div>
                            
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-4">
                                    <button class="btn btn btn-warning"  data-dismiss="modal"><i class="fa fa-warning">Cancelar</i></button>
                                    <button class="btn btn btn-warning" ng-click="nuevo_control_patrimonial(usuMaster.organizacion.organizacionID,usuMaster.usuario)"><i class="fa fa-save" >Crear</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
