<div class="row"><div class="col-lg-12" >
  <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">Informes IIEE</h4>
        </header>
      <div class="panel-body">
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group">
                    <label class="col-sm-2 control-label">Informes IIEE</label>
                    <div class="col-sm-4">
                        <button class="" ng-click="reporte_catalogo()"><i class="glyphicon glyphicon-print"></i></button>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-sm-2">
                        <button class="btn btn btn-warning" data-toggle="modal" data-target="#modalnuevoitem"><i class="fa fa-plus"> Agregar Item</i></button>
                    </div>     
                    <div class=" col-md-offset-10">
                        <button class="btn btn btn-warning" data-toggle="modal" data-target="#modalNuevoPrestamo"><i class="fa fa-plus"> Acutalizar Catalogo</i></button>
                    </div>          
                </div>
            </div>  
 
        </div>
      </div>
        

        <!----- TABLA CATALOGO DE BIENES ----->
        <div class="panel-body" ng-init="mostrar_informes_patrimonial(usuMaster.organizacion.organizacionID)">
            <div class="tabla-responsiva"><table ng-table="tabla_patrimonio_institucional" class="table table-striped table-hover" show-filter="true" >
                <colgroup>
                    <col width="20px" /><col width="50px" /><col width="auto" /><col width="auto" /><col width="200px" /><col width="200px" /><col width="65px" />
                </colgroup>
            <tr ng-repeat="o in $data">
                
                <td data-title="'Codigo Institucional'" filter="{ cod_ie 'text'}" sortable="'cod_ie'" style="text-align: center">{{o.cod_ie}}</td>
                <td data-title="'Descripcion I.E.'" filter="{ des_ie : 'text'}" sortable="'des_ie'" style="text-align: center">{{o.des_ie}}</td>
                <td data-title="'Direccion'" filter="{ dir_ie : 'text'}" sortable="'dir_ie'" style="text-align: center">{{o.dir_ie}}</td>
                <td data-title="'Fecha Inicio'" filter="{ fec_ini : 'text'}" sortable="'fec_ini'" style="text-align: center">{{o.fec_ini}}</td>
                <td data-title="'Fecha Cierre'" filter="{ fec_cie : 'text'}" sortable="'fec_cie'" style="text-align: center">{{o.fec_cie}}</td>
                <td data-title="'Accion'" style="text-align: center;">
                    <button class="btn btn-danger btn-xs"  ng-click="reporte_ie(o)"><i class="fa fa-file"></i></button>  
                </td>
            </tr>   
            </table></div>
        </div>
        <!-------------------------------------------->
        
      
      
  </section>
    </div>
</div>