<div class="row"><div class="col-lg-12" ng-init="update_inventario()">
         <section class="panel">
             <header class="panel-heading">
                 <h4 style="display:inline;line-height: 1.9">DATOS DEL MOVIMIENTO </h4>
             </header>
             <div class="panel-body" >
                <div class="form-horizontal style-form" >
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tipo de Movimiento :</label>
                        <div class="col-sm-2" style="display: inline-block" ng-init="">
                            <select class="form-control" ng-options="mi.tip_mov_des for  mi in movimientos_ingreso" ng-model="lista.movimiento"></select>
                        </div> 
                                  
                        <label class="col-sm-2 control-label">Nro. Resolucion</label>
                        <div class="col-sm-2" style="display: inline-block">
                            <input type="text" class="form-control" ng-model="movimiento.num_res">   
                        </div>
                        <label class="col-sm-2 control-label">Fecha de Resolucion :</label>
                        <div class="col-sm-2" style="display: inline-block">
                            <input type="date" class="form-control" ng-model="movimiento.fec_res">   
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Observacion :</label>
                        <div class="col-sm-2" style="display: inline-block">
                           <textarea class="form-control" ng-model="movimiento.obs"></textarea>   
                        </div> 
                        
                    </div>
                </div>
             </div> 
         </section>
    </div>   
</div>

<div class="row"><div class="col-lg-12" >
  <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">INVENTARIO DE BIENES MUEBLES </h4>
        </header>
        <div class="panel-body">
        <div class="form-panel">
            <div class="form-horizontal style-form" >
               
                <!----- CABECERA DE CONFIGURACION ----->
                <div class="form-group">     
                    <div class="col-sm-4">
                       <div class=" col-sm-6">
                            <button class="btn btn btn-info"><i class="fa fa-plus"> Configuracion </i></button>
                       </div>
                       <div class ="col-sm-6">
                            <button class="btn btn btn-default" ng-click="reporte_inventario()"><i class="fa fa-print"></i></button>
                       </div> 
                    </div>

                    <div class ="col-sm-1">
                        <label class="col-sm-6 control-label">Leyenda: </label>        
                    </div>
                    
                    <div class ="col-sm-1">
                          <i class="fa fa-warning"></i>
                          <label>Inactivo</label>             
                    </div>
        
                    <div class ="col-sm-1">
                        <i class="fa fa-check"></i>
                        <label>Activo</label>         
                    </div>

                    <div class ="col-sm-1">
                        <i class="fa fa-times-circle-o"></i>
                        <label>Cerrado</label>         
                    </div>
                    
                    <div class="col-sm-1">
                        <label>Inv.Inicial</label>    
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-primary btn-xs" ng-disabled="tipo_inventario_inicial.val" ng-click="elegir_inv_inicial()"><i class="fa fa-check" ></i></button>
                    </div>
                    <div class="col-sm-1">
                        <label>Inv.Fisico</label>    
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-primary btn-xs" ng-disabled="tipo_inventario_fisico.val" ng-click="elegir_inv_fisico()"><i class="fa fa-check" ></i></button>
                    </div>
                  
                    
                </div>
                <!----- ----------------------- ----->
                
                <div class="form-group">
                    <div class="col-sm-2">
                         <button class="btn btn btn-info" data-toggle="modal" data-target="#modalListarBienes"><i class="glyphicon glyphicon-new-window"> Seleccionar Bienes </i></button>
                    </div> 
                    <div class="col-sm-1">
                        
                    </div>
                    <div class="col-sm-2">                    
                        <button class="btn btn btn-warning" ng-click="registro_bienes()"><i class="glyphicon glyphicon-plus"> Nuevo Bien </i></button>
                    </div>
                     <div class="col-sm-4">
                        
                    </div>
                    <div class=" col-sm-3">
                       <label class="col-sm-5 control-label">Cod. Patrimonial</label>
                      <div class="col-sm-7" ng-init="listar_controles_patrimoniales(usuMaster.organizacion.organizacionID)"> 
                            <select class="form-control" ng-options="cp.obs for cp in controles_patrimoniales" ng-model="lista.cont_pat"></select> 
                       </div> 
                    </div>
    
                
                <!----- TABLA DE INVENTARIO INICIAL ----->
                <div class="form-group">
                    <div class="panel-body" ng-init="">
                        <div class="tabla-responsiva"><table ng-table="tabla_inventario_inicial" class="table table-striped table-hover" show-filter="true" >
                            <colgroup>
                                <col width="20px" /><col width="50px" /><col width="auto" /><col width="auto" /><col width="200px" /><col width="200px" /><col width="65px" />
                            </colgroup>
                        <tr ng-repeat="o in $data">
                
                            <td data-title="'Nro Correlativo'" filter="{ i : 'number'}" sortable="'i'" style="text-align: center">{{o.i}}</td>
                            <td data-title="'Codigo Patrimonial'" filter="{ cod_pat : 'text'}" sortable="'cod_pat'" style="text-align: center">{{o.cat_bie_id}}</td>
                            <td data-title="'Descripcion del Bien'" filter="{ des_bie : 'text'}" sortable="'des_bie'" style="text-align: center">{{o.des_bie}}</td>
                            <td data-title="'Fecha de Registro'" filter="{ fec_reg : 'text'}" sortable="'fec_reg'" style="text-align: center">{{o.fec_reg}}</td>
                            <td data-title="'Estado'" filter="{ est_bien : 'text'}" sortable="'est_bien'" style="text-align: center">{{o.est_bien}}</td>
                            <td data-title="'Ubicacion'" filter="{ ubi_bien : 'text'}" sortable="'ubi_bien'" style="text-align: center">{{o.ubi_bien}}</td>
                            <td data-title="'Anexo'" filter="{ an_bien : 'text'}" sortable="'an_bien'" style="text-align: center">{{o.an_bien}}</td>

                            <td data-title="'Accion'" style="text-align: center;">
                                <button class="btn btn-primary btn-xs" ng-click="EditarItemCatalogo(o)"><i class="fa fa-pencil" ></i></button>
                                <button class="btn btn-danger btn-xs"  ng-click="EliminarItemCatalogo(o)"><i class="fa fa-trash-o"></i></button>  
                            </td>
                        </tr>   
                        </table></div>
                        
                        <div class="form-group">
                            <div class="col-md-offset-9">
                                <button class="btn btn-primary btn-xs" ng-click="registrar_bienes_inventario(usuMaster.usuario,usuMaster.organizacion.organizacionID)"><i class="fa fa-save" >{{accion_inventario}}</i></button>
                            </div>
                        </div>
                        
                    </div>    
                </div>
                <!-----  ----->
                
      
            </div>
        </div>

  </section>
    </div>
</div>
    
<div class="modal fade" id="modalListarBienes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <div class ="modal-content">
               <div class ="modal-header">
                   <div class="panel panel-primary">
                        <h4 class="modal-title" id="myModalLabel">Lista de Bienes Muebles de la Institucion </h4>
                   </div>
               </div>
               <div class="modal-body">
                   <div class="form-horizontal style-form" >
                       <div class="form-group" ng-init="mostrar_bienes_muebles(usuMaster.organizacion.organizacionID)">
                            <div class="tabla-responsiva">
                                <table ng-table="tabla_bienes_muebles" class="table table-striped table-hover">
                                    <tr ng-repeat="o in $data">
                                        <td data-title="'Codigo Bien'" filter="{cod_bie: 'number'}" sortable="'cod_bie'">{{o.cod_bie}}</td>
                                        <td data-title="'Catalogo SBN'" filter="{cat_bie_id : 'text'}" sortable="'cat_bie_id'">{{o.cat_bie_id}}</td>
                                        <td data-title="'Descripcion'" filter="{des_bie : 'text'}" sortable="'des_bie'">{{o.des_bie}}</td>
                                        <td data-title="'Cantidad'" filter="{cant_bie: 'number}" sortable="'cant_bie'">{{o.cant_bie}}</td>                                  
                                        <td data-title="'Accion'" style="text-align: center;">
                                             <button class="btn btn-primary btn-xs" ng-disabled="o.tip_bie" ng-click="elegir_bienes(o)"><i class="fa fa-check" ></i></button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                          
                       </div>
                       <div class="form-group">
                            <div class=" col-md-offset-9">
                                <button class="btn btn btn-warning" ng-click="registrar_bienes()"><i class="fa fa-file" > Registrar Bienes </i></button>
                                  
                            </div>  
                       </div>
                       
                   </div>
               </div>
             
           </div>
        </div>
</div>   
   
    
    