<div class="row"><div class="col-lg-12" ng-init="update_bien()">
        <section class="panel">
             <header class="panel-heading">
                 <h4 style="display:inline;line-height: 1.9">BUSCAR BIEN :</h4>
             </header>
             <div class="panel-body" >
                <div class="form-horizontal style-form" ng-init="listar_controles_patrimoniales(usuMaster.organizacion.organizacionID)">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Codigo de Barras :</label>
                        <div class="col-sm-4" style="display: inline-block">
                            <input type="text" class="form-control"  ng-model="codigo_barras" ng-change="verificar_codigo_barras()">   
                        </div>
                        
                    </div>
                </div>
             </div>
        </section>
        
        
         <section class="panel">
             <header class="panel-heading">
                 <h4 style="display:inline;line-height: 1.9">DATOS DEL MOVIMIENTO </h4>
             </header>
             <div class="panel-body" >
                <div class="form-horizontal style-form" ng-init="">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tipo de Movimiento :</label>
                        <div class="col-sm-2" style="display: inline-block" ng-init="">
                            <select class="form-control" ng-options="mi.tip_mov_des for  mi in movimientos_ingreso" ng-model="lista.movimiento"></select>
                        </div> 
                    
                        <label class="col-sm-2 control-label">Nro. Resolucion</label>
                        <div class="col-sm-2" style="display: inline-block">
                            <input type="text" class="form-control" ng-model="movimiento.num_res">   
                        </div>
                        <label class="col-sm-2 control-label">Fecha de Resolucion :</label>
                        <div class="col-sm-2" style="display: inline-block">
                            <input type="date" class="form-control" ng-model="movimiento.fec_res">   
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Observacion :</label>
                        <div class="col-sm-2" style="display: inline-block">
                           <textarea class="form-control" ng-model="movimiento.obs"></textarea>   
                        </div>    
                    </div>
                </div>
             </div> 
         </section>
    </div>   
</div>

<div class="row"><div class="col-lg-8">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">SELECCIONE TIPO DE BIEN </h4>
       
    </header>
    <div class="panel-body" >
        <div class="form-horizontal style-form" >
            <div class="form-group">
                <div class="col-sm-4" ng-init="">
                    <label class="col-sm-6 control-label">Tipo de Anexo :</label>
                    <select class="form-control" ng-options="an.ane_nom for an in tipo_anexo" ng-model="lista.anexo"></select>
                </div>
                <div class="col-sm-8" ng-init="">
                    
                    <div class="tabla-responsiva"><table ng-table="tabla_catalogo" class="table table-striped table-hover" show-filter="true" >
                        <colgroup>
                            <col width="20px" /><col width="50px" /><col width="auto" /><col width="auto" /><col width="200px" /><col width="200px" /><col width="65px" />
                        </colgroup>
                   <tr ng-repeat="o in $data">
                
                         <td data-title="'Codigo Bien'" filter="{ cod: 'text'}" sortable="'cod'" style="text-align: center">{{o.cod}}</td>
                         <td data-title="'Descripcion Bien'" filter="{ den_bie : 'text'}" sortable="'den_bie'" style="text-align: center">{{o.den_bie}}</td>
                         <td data-title="'Unidad de Medida'" filter="{ uni_med_nom : 'text'}" sortable="'uni_med_nom'" style="text-align: center">{{o.uni_med_nom}}</td>
                         <td data-title="'Accion'">
                             <button class="btn btn-primary btn-xs" ng-disabled="editar_item_catalogo" ng-click="ElegirCatalogo(o)"><i class="fa fa-check" ></i></button>
                             
                         </td>        
                   </tr>   
                   </table></div>
                 
                </div>
                <div class="form-group">
                    <div class=" col-md-offset-10">
                        <button class="btn btn btn-warning" ng-click="mostrarCatalogo()"><i class="fa fa-chain-broken">Deshacer</i></button>
                    </div>  
                </div>
            
        </div>    
    </div>
</section>
</div>
    
 <div class="col-lg-4">
     <section class="panel">
          <header class="panel-heading">
              <h4 style="display:inline;line-height: 1.9">CUENTA DEL ACTIVO </h4>
          </header>
         <div class="panel-body" >
             <div class="form-horizontal style-form" >
                 <div class="form-group">
                     <label class="col-sm-6 control-label">Valor S/.</label>
                          <div class="col-sm-6">
                             <input type="number" min="1" class="form-control" ng-model="bien_mueble.valor_cont">   
                          </div>
                 </div>
                 <div class="form-group">
                     <label class="col-sm-4 control-label">Activo Depreciable</label>
                          <div class="col-sm-1 checkbox" style="display: inline-block">
                             <input type="checkbox" class="form-control" ng-model="bien_mueble.act_dep" ng-value="false">   
                          </div>
                 </div>
                 <div class="form-group"></div>
     
                 <div class="form-group">
                     <label class="col-sm-6 control-label">Activo Cod. de Cuenta</label>
                          <div class="col-sm-6">
                             <input type="text" class="form-control" ng-model="bien_mueble.cod_cuenta">   
                          </div>
                 </div>
                 <div class="form-group">
                      <div class="col-sm-4">
                           <button class="btn btn btn-info" ng-click=""><i class="fa fa-plus-circle"> Cuenta Contable </i></button>
                      </div>
                 </div>
                 
             </div>
         </div>
         
         
     </section>   
     
 </div>
    
</div>


<div class="row"><div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">DATOS DEL BIEN </h4>
        </header>
        <div class="panel-body" >
            <div class="form-horizontal style-form" >
                <div class="form-group">
                    <div class="col-sm-3">
                      <label class="col-sm-4 control-label">Cod. Patrimonial</label>
                      <div class="col-sm-8" ng-init="">
                        
                        <select class="form-control" ng-options="cp.obs for cp in controles_patrimoniales" ng-model="lista.cont_pat"></select> 
                    </div> 
                    </div>
                    <div class="col-sm-5">
                       <label class="col-sm-6 control-label">Descripcion del Bien</label>
                       <div class="col-sm-6">
                         <input type="text" class="form-control" ng-model="bien_mueble.des_bie"> 
                       </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <label class="col-sm-5 control-label">Fecha de Registro :</label>
                            <div class="col-sm-7">
                                    <input type="date" class="form-control" ng-model="bien_mueble.fec_reg">   
                            </div>
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-sm-1 control-label">Ubicacion</label>
                    <div class="col-sm-2" ng-init="">
                        
                        <select class="form-control" ng-options="am.amb_des for am in ambientes" ng-model="lista.ambiente"></select> 
                    </div>
                    <label class="col-sm-1 control-label">Cantidad</label>
                    <div class="col-sm-1">
                       <input type="number" min="1" class="form-control" ng-model="bien_mueble.cant">       
                    </div>
                    <label class="col-sm-2 control-label">Codigo de Barras</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" ng-model="bien_mueble.cod_ba_bie" ng-disabled="true">                
                    </div>
                    <label class="col-sm-2 control-label">Codigo Interno</label>
                    <div class="col-sm-1">
                       <input type="text"  class="form-control" ng-model="bien_mueble.cod_int" ng-disabled="true">       
                    </div>      
                </div>  
                <div class="form-group">
                    
                    <label class="col-sm-3 control-label">Doc. de Referencia </label>
                    <div class="col-sm-3">
                       <input-file nombre="doc_referencia.nombre" archivo="doc_referencia.archivo"></input-file> 
                       <span><view-file nombre="doc_referencia.nombre_archivo" archivo="doc_referencia.nombre_archivo"></view-file></span>
                    </div>
                </div>
            </div>      
        </div>
    
    </section>
   
    </div>
</div>
    
 <div class="row"><div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">DETALLE TECNICO </h4>
        </header>
        <div class="panel-body" >
            <div class="form-horizontal style-form" >
                <div class="form-group">   
                    <label class="col-sm-2 control-label">Marca:</label>
                    <div class="col-sm-2">
                       <input type="text" class="form-control" ng-model="bien_mueble.marc">   
                    </div>
                    <label class="col-sm-2 control-label">Dimensiones:</label>
                    <div class="col-sm-2">
                       <input type="number" min="1" class="form-control" ng-model="bien_mueble.dim">  
                    </div>
                    <label class="col-sm-2 control-label">Nro. Motor:</label>
                    <div class="col-sm-2">
                       <input type="text"  class="form-control" ng-model="bien_mueble.nro_mot">  
                    </div>
                    
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Modelo:</label>
                    <div class="col-sm-2">
                       <input type="text" class="form-control" ng-model="bien_mueble.mod">     
                    </div>    
                    <label class="col-sm-2 control-label">Serie:</label>
                    <div class="col-sm-2">
                       <input type="text" class="form-control" ng-model="bien_mueble.ser">          
                    </div>
                    <label class="col-sm-2 control-label">Nro. Placa:</label>
                    <div class="col-sm-2">
                       <input type="text" class="form-control" ng-model="bien_mueble.nro_pla">        
                    </div>
                </div>
                <div class="form-group">
                   
                        <label class="col-sm-2 control-label">Condicion:</label>
                        <div class="col-sm-2" ng-init=""> 
                             <select class="form-control"  ng-options="con.cond_nom for con in condicion" ng-model="lista.condicion">
<!--                                <option value=""></option>
                                <option ng-repeat="con in condicion" value="{{con.cond_id}}">{{con.cond_nom}}</option>
                                 <select ng-model="myColor" ng-options="color.name for color in colors"></select>-->
                            </select>  
                        </div>   
                        <label class="col-sm-2 control-label">Color:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" ng-model="bien_mueble.col">  
                        </div>
                        <label class="col-sm-2 control-label">Nro. Chasis:</label>
                        <div class="col-sm-2">
                             <input type="text" class="form-control" ng-model="bien_mueble.nro_cha">  
                        </div>
                     
                </div>
                <div class="form-group">
                   
                    <label class="col-sm-2 control-label">Tipo:</label>
                    <div class="col-sm-2">
                       <input type="text" class="form-control" ng-model="bien_mueble.tip">     
                    </div>
                    <label class="col-sm-2 control-label">Raza:</label>
                    <div class="col-sm-2">
                       <input type="text" class="form-control" ng-model="bien_mueble.raza">     
                    </div>
                    <label class="col-sm-2 control-label">Edad:</label>
                     <div class="col-sm-2">
                       <input type="number" min="1" class="form-control" ng-model="bien_mueble.edad">     
                    </div>
                </div>
                
                  <!----- ADJUNTAR IMAGENES ----->
                <div class="form-group">
                    <div class=" col-md-offset-8">
                         <label class="col-sm-4 control-label">Adjuntar : </label>
                    </div>
                </div>
                <div class="form-group">
                     <div class=" col-md-offset-8">
                          <button class="btn btn btn-default" ng-click="adjuntar_foto_1(bien_mueble.rut_imag_1)"><i class="fa fa-camera-retro"></i>
                                 <input-file nombre="imag_1.nombre" archivo="imag_1.archivo"></input-file>
                                <span><view-file nombre="imag_1.nombre_archivo" archivo="imag_1.nombre_archivo"></view-file></span>
                          </button>
                    </div>  
                </div>
                <div class="form-group">
                    <div class=" col-md-offset-8">
                         <button class="btn btn btn-default" ng-click="adjuntar_foto_2(bien_mueble.rut_imag_2)"><i class="fa fa-camera-retro" ></i>
                                  <input-file nombre="imag_2.nombre" archivo="imag_2.archivo"></input-file>
                                  <span><view-file nombre="imag_2.nombre_archivo" archivo="imag_2.nombre_archivo"></view-file></span>
                         </button>
                    </div>
                </div>
                <!-------------------------------------->  

                <!----- ADJUNTAR IMAGENES AUTOPARTES ----->
                <div class="form-group">
                    <div class=" col-md-offset-8">
                         <label class="col-sm-4 control-label">Autopartes : </label>
                    </div>
                </div>
                <div class ="form-group">
                     <div class=" col-md-offset-8">
                        <button class="btn btn btn-default" ng-click="adjuntar_autopartes(bien_mueble.rut_aut_img)"><i class="fa fa-wrench" ></i>
                            <input-file nombre="autopartes.nombre" archivo="autopartes.archivo"></input-file>
                            <span><view-file nombre="autopartes.nombre_archivo" archivo="autopartes.nombre_archivo"></view-file></span>
                        </button>
                     </div>   
                </div>
                <!-------------------------------------->  
                
                </div>
                

                
            </div>
        
    </section>
     </div>
     
 </div>
    <div class="form-group" ng-if="bien_mueble.actualizar_bien" >
        <div class="form-horizontal style-form" >
                <div class="form-group"> 
                    <label class="col-sm-1 control-label">Validar</label>
                    <div class="col-sm-1 checkbox" style="display: inline-block">
                        <input type="checkbox" class="form-control" ng-click="validar_bien()">   
                    </div>
                </div>
        </div>
    </div>

 <div class="panel-body" >
     <div class="form-horizontal style-form" >
            <div class="form-group">
                    <div class=" col-md-offset-6">
                      <button class="btn btn btn-warning" data-toggle="modal" data-target="#"><i class="fa fa-warning">Cancelar</i></button>
                      <button class="btn btn btn-warning" ng-click="registrar_bien(usuMaster.usuario,usuMaster.organizacion.organizacionID)"><i class="fa fa-save" >{{accion_bien}}</i></button>
                      <button class="btn btn btn-send" ng-if="!bien_mueble.actualizar_bien" ng-click="registrar_bien()"><i class="fa fa-file-o" >  Agregar por Grupo </i></button>
                      
                    </div> 
            </div>   
     </div>  
 </div>

<div class="modal fade" id="modalvalidarbien" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
        <div class="modal-dialog">
            <div class ="modal-content">
                <div class ="modal-header">
                    <div class="panel panel-primary">
                        <h4 class="modal-title" id="myModalLabel">Validar Bien Mueble</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal style-form">
                        <div class="form-panel">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tipo Validacion:</label>
                                <div class="col-sm-4">
                                    <select class="form-control" ng-model="tipo_validacion.id" ng-change="listar_causal()">
                                        <option value=""></option>
                                        <option ng-repeat="val in validacion" value="{{val.id}}">{{val.nombre}}</option>
                                    </select> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Causal :</label>
                                <div class="col-sm-4" ng-init="">
                                    <select class="form-control" ng-model="tipo_validacion.causal_id" ng-change="">
                                        <option value=""></option>
                                        <option ng-repeat="con in tipo_causal" value="{{con.id_cau}}">{{con.nom_cau}}</option>
                                    </select> 
                                </div>
                            </div>
             
                            <div class="form-group">
                                  <div class="col-md-offset-4">
                                      <button class="btn btn btn-warning" ng-click="actualizar_bien(usuMaster.organizacion.organizacionID,usuMaster.usuario.ID)" ><i class="fa fa-save">Actualizar Bien</i></button>
                                  </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>





