<div class="row">
    <div class="col-lg-12">
        <section class="panel">
                <uib-tabset active="activeJustified" justified="true">
                    
                    <!-- REPORTES. -->
                    <uib-tab index="0" heading="REPORTES" >
                             <!-- POR ANEXO. -->
                            <div class="row"><div class="col-lg-10" ng-init="listar_anexos()">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <h4 style="display:inline;line-height: 1.9">POR ANEXO</h4>
                                    </header>
                                    <div class="panel-body" >
                                        <div class="form-horizontal style-form" >
                                            <div class="form-group">
                                                <label class="col-sm-1">Desde el :</label> 
                                                <div class="col-sm-3">
                                                    <input type="date" class="form-control" ng-model="reporte.fec_ini">   
                                                </div> 
                                                <label class="col-sm-1">Tipo del Bien : </label>
                                                    <div class="col-sm-3">
                                                        <select class="form-control" ng-model="reporte.tip_bie" ng-change="">
                                                            <option value=""></option>
                                                            <option ng-repeat="a in anexos" value="{{a.ane_id}}">{{a.ane_nom}}</option>
                                                        </select>
                                                    </div> 
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-1">Hasta el  :</label> 
                                                <div class="col-sm-3">
                                                    <input type="date" class="form-control" ng-model="reporte.fec_fin">   
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                </div>
                            </div>
                             
                             <!-- ATRIBUTOS ESPECIFICOS. -->
                            <div class="row"><div class="col-lg-10">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <h4 style="display:inline;line-height: 1.9">ATRIBUTOS ESPECIFICOS</h4>
                                    </header>
                                    <div class="panel-body" >
                                        <div class="form-horizontal style-form" ng-init="" >
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    <button class="btn btn btn-info" data-toggle="modal" data-target="#modalListarAmbientes" ><i class="fa fa-home">AMBIENTE</i></button>
                                                </div>      
                                                <div class="col-sm-3">
                                                    <button class="btn btn btn-info" data-toggle="modal" data-target="#modalListarControl" ><i class="fa fa-square-o">BIEN PATRIMONIAL</i></button>
                                                </div> 
                                                <div class="col-sm-3">
                                                    <label>Estado : </label>
                                                    <div class>
                                                        <select class="form-control" ng-model="reporte.est">
                                                            <option value=""></option>
                                                            <option ng-repeat="c in condicion" value="{{c.cond_id}}">{{c.cond_nom}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                           </div>
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                     <input type="text" class="form-control" ng-model="reporte.cod_amb" placeholder="Codigo de Ambiente">
                                                </div>
                                                 <div class="col-sm-3">
                                                     <input type="text" class="form-control" ng-model="reporte.cod_pat" placeholder="Codigo Patrimonial">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-10">
                                                    <button class="btn btn btn-warning" ng-click="ver_reporte(usuMaster.organizacion.organizacionID)" ><i class="fa fa-home">Ver Reporte</i></button>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                </div>
                            </div>
                             
                    </uib-tab>
                    
                    
                    <!-- DOCUMENTOS ADJUNTOS. -->
                    <uib-tab index="1" heading="DOCUMENTOS ADJUNTOS" >
                              
                            <!-- POR ANEXO. -->
                            <div class="row"><div class="col-lg-10">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <h4 style="display:inline;line-height: 1.9">CATALOGO DE DOCUMENTOS Y ACTAS</h4>
                                    </header>
                                    <div class="panel-body" >
                                        <div class="form-horizontal style-form" >
                                            <div class="form-group">

                                                <div class="tabla-responsiva" ng-init="mostrar_archivos(usuMaster.organizacion.organizacionID)">    
                                                        <table ng-table="tabla_archivos" class="table table-striped table-hover">
                                                            <tr ng-repeat="o in $data">
                                                                <td data-title="'Nro.'" filter="{i : 'number'}" sortable="'i'">{{o.i}}</td>
                                                                <td data-title="'Descripcion Bien'" filter="{des_bie : 'text'}" sortable="'des_bie'">{{o.des_bie}}</td>
                                                                 <td data-title="'Nombre del Archivo'" filter="{nom_arch_bie : 'text'}" sortable="'nom_arch_bie'">{{o.nom_arch_bie}}</td>
                                                                <td data-title="'Fecha de Registro '" filter="{fec_reg_bie : 'text'}" sortable="'fec_reg_bie'">{{o.fec_reg_bie}}</td>
                                                                <td data-title="'Ver Documento'" style="text-align: center;">
                                                                      <span><view-file nombre="o.nombre_archivo" archivo="o.nombre_archivo"></view-file></span>
                                                                </td>
                                                            </tr>
         
                                                        </table>
                                                </div> 

                                            </div>
                                        </div>
                                    </div>
                                </section>
                                </div>
                            </div>
   
                    </uib-tab>
    
                </uib-tabset>
        </section>
    </div>
</div>
                 
          
<div class="modal fade" id="modalListarAmbientes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <div class ="modal-content">
               <div class ="modal-header">
                   <div class="panel panel-primary">
                        <h4 class="modal-title" id="myModalLabel">Lista de Bienes Muebles de la Institucion </h4>
                   </div>
               </div>
               <div class="modal-body">
                   <div class="form-horizontal style-form" >
                       <div class="form-group" ng-init="mostar_ambientes(usuMaster.organizacion.organizacionID)">
                            <div class="tabla-responsiva">    
                                <table ng-table="tabla_ambientes" class="table table-striped table-hover">
                                    <tr ng-repeat="o in $data">
                                        <td data-title="'Id. Ambiente'" filter="{amb_id 'number'}" sortable="'amb_id'">{{o.amb_id}}</td>
                                        <td data-title="'Descripcion'" filter="{amb_des : 'text'}" sortable="'amb_des'">{{o.amb_des}}</td>
                                        <td data-title="'Ubicacion'" filter="{amb_ubi : 'text'}" sortable="'amb_ubi'">{{o.amb_ubi}}</td>
                                        <td data-title="'Accion'" style="text-align: center;">
                                             <button class="btn btn-primary btn-xs"  ng-click="elegir_ambiente(o)"><i class="fa fa-check" ></i></button>
                                        </td>
                  
                                    </tr>
                                </table>
                                
                            </div>
                       </div>
                   </div>
               </div>
           </div>
        </div>
</div>


<div class="modal fade" id="modalListarControl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <div class ="modal-content">
               <div class ="modal-header">
                   <div class="panel panel-primary">
                        <h4 class="modal-title" id="myModalLabel">Lista de Bienes Muebles de la Institucion </h4>
                   </div>
               </div>
               <div class="modal-body">
                   <div class="form-horizontal style-form" >
                       <div class="form-group" ng-init="mostrar_control(usuMaster.organizacion.organizacionID)">
                            <div class="tabla-responsiva">    
                                <table ng-table="tabla_control_patrimonial" class="table table-striped table-hover">
                                    <tr ng-repeat="o in $data">
                                        <td data-title="'Id. Control'" filter="{cp_id 'number'}" sortable="'cp_id'">{{o.cp_id}}</td>
                                        <td data-title="'Observacion'" filter="{obs : 'text'}" sortable="'obs'">{{o.obs}}</td>
                                        <td data-title="'Persona Responsable'" filter="{per_res : 'text'}" sortable="'per_res'">{{o.per_res}}</td>
                                        <td data-title="'Accion'" style="text-align: center;">
                                             <button class="btn btn-primary btn-xs"  ng-click="elegir_control(o)"><i class="fa fa-check" ></i></button>
                                        </td>
                                    </tr>
                                </table>
                                
                            </div>
                       </div>
                   </div>
               </div>
           </div>
        </div>
</div>