<div class="row"><div class="col-lg-12" >
  <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">REPORTE DE BIENES MUEBLES</h4>
     
        </header>
        <div class="panel-body" ng-init="listar_anexos()">
            
         <div class="form-panel">
            <div class="form-horizontal style-form" >
                 <div class="form-group">
                     
                    <label class="col-sm-1">Desde el :</label> 
                    <div class="col-sm-3">
                        <input type="date" class="form-control" ng-model="reporte.fec_ini">   
                    </div>
                    <label class="col-sm-1">Hasta el :</label> 
                    <div class="col-sm-3">
                        <input type="date" class="form-control" ng-model="reporte.fec_fin">   
                    </div>
                    <label class="col-sm-1">Tipo del Bien : </label>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="reporte.tip_ane" ng-change="">
                            <option value=""></option>
                            <option ng-repeat="a in anexos" value="{{a.ane_id}}">{{a.ane_nom}}</option>
                        </select>
                    </div>              
                </div>
   
                <div class="form-group">
                    <div class=" col-md-offset-9">
                         <button class="btn btn btn-warning" ng-click="generar_reporte(usuMaster.organizacion.organizacionID)"><i class="fa fa-file" > Generar Reporte </i></button>
                    </div>    
                </div>
                
                <div class="form-group">
                    <h4>NO SE ENCONTRARON COINCIDENCIAS</h4>
                    
                    
                </div>
            </div>  
            
            
        </div>   
    </div>
    

    </section> 
</div>
</div>
      