

<div class="modal fade " >
    <div class="modal-dialog">
        <div class="modal-content" style="width: 950px">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal " method="get">
                        <div class="form-group col-sm-12">
                            <div class="form-group col-lg-12">
                                <div class="form-group ">
                                    <label class="col-lg-4"><strong>Descripcion</strong></label>
                                </div> 
                                <div class="form-group ">   
                                    <div class="col-lg-12">
                                        <input ng-if="title === 'Nuevo Horario'" type="text" placeholder="Descripcion"  class="form-control" ng-model="horarioGeneral.des">
                                        <input ng-if="title === 'Ver Horario'" type="text" placeholder="Descripcion"  class="form-control" ng-model="cabecera" disabled="true">
                                        <input ng-if="title === 'Asignar Horario'" type="text" placeholder="Descripcion"  class="form-control" ng-model="cabecera.des" disabled="true">
                                        <input ng-if="title === 'Editar Horario'" type="text" placeholder="Descripcion"  class="form-control" ng-model="cabecera.des">
                                    </div>  
                                </div> 
                            </div>
                            <div class="col-sm-4" ng-if="title === 'Nuevo Horario'">  

                                <label for="sel2" >Seleccionar Dia:</label>
                                <select multiple class="form-control" size="7" id="sel2" ng-model="diaNuevo.dia" ng-options="tip.id as tip.nom for tip in diaSemana">


                                </select>

                            </div>
                            <div class="col-sm-4" ng-if="title === 'Editar Horario'">  

                                <label for="sel2" >Seleccionar Dia:</label>
                                <select multiple class="form-control" size="7" id="sel2" ng-model="diaNuevo.dia" ng-options="tip.id as tip.nom for tip in diaSemana">


                                </select>

                            </div>
                            <div class="col-md-8" ng-if="title === 'Nuevo Horario'">   
                                <table class="table peque"  style="margin-bottom: 8px;background: #f1f2f7;">
                                    <thead>
                                        <tr>
                                            <th style="width:20px">N°</th>
                                            <th style="width:auto">Desde</th>
                                            <th style="width:40%;">Hasta</th>

                                        </tr>
                                    </thead>
                                    <tr>
                                        <td>+</td>
                                        <td><input type="time" class="form-control input-table" ng-model="diaNuevo.desde"></td>
                                        <td><input type="time" class="form-control input-table" ng-model="diaNuevo.hasta"></td>

                                        <td style="width:80px">
                                            <button class="btn btn-success btn-xs" ng-click="agregarDia()" title="agregar Dia"><i class="fa fa-plus" ></i></button>
                                        </td>

                                    </tr>                      
                                </table>

                            </div>
                            <div class="col-md-8" ng-if="title === 'Editar Horario'">   
                                <table class="table peque"  style="margin-bottom: 8px;background: #f1f2f7;">
                                    <thead>
                                        <tr>
                                            <th style="width:20px">N°</th>
                                            <th style="width:auto">Desde</th>
                                            <th style="width:40%;">Hasta</th>

                                        </tr>
                                    </thead>
                                    <tr>
                                        <td>+</td>
                                        <td><input type="time" class="form-control input-table" ng-model="diaNuevo.desde"></td>
                                        <td><input type="time" class="form-control input-table" ng-model="diaNuevo.hasta"></td>

                                        <td style="width:80px">
                                            <button class="btn btn-success btn-xs" ng-click="agregarDia()" title="agregar Dia"><i class="fa fa-plus" ></i></button>
                                        </td>

                                    </tr>                      
                                </table>

                            </div>

                        </div>
                        <div class="col-sm-12">
                            <div class="tabla-responsiva" style="max-height: 230px;border-top: 2px solid #ddd;margin-bottom: 0px;">
                                <table class="table" style="margin-bottom: 0;">
                                    <thead>
                                        <tr>
                                            <th style="width:10%">LUN</th>
                                            <th style="width:10%">MAR</th>
                                            <th style="width:10%">MIE</th>
                                            <th style="width:10%">JUE</th>
                                            <th style="width:10%">VIE</th>
                                            <th style="width:10%">SAB</th>
                                            <th style="width:10%">DOM</th>
                                            <!--                                            <th style="width:10%">Borrar</th>-->
                                            <th style="width:10%">Accion</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="d in horario">
                                            <td>
                                                <span ng-hide="d.edi">{{d.lunDesde| date: "HH:mm a"}}<br>  {{d.lunHasta| date: "HH:mm a"}}</span>
                                                <span ng-show="d.edi" ><input type="time" ng-model="d.copia.lunDesde" ng-disabled="!(!!d.copia.lunDesde)"><br><input type="time" ng-model="d.copia.lunHasta" ng-disabled="!(!!d.copia.lunHasta)"></span>
                                            </td>    

                                            <td>
                                                <span ng-hide="d.edi"> {{d.marDesde| date: "HH:mm a"}}<br> {{d.marHasta| date: "HH:mm a"}}</span>
                                                <span ng-show="d.edi"><input type="time" ng-model="d.copia.marDesde" ng-disabled="!(!!d.copia.marDesde)"><br><input type="time" ng-model="d.copia.marHasta" ng-disabled="!(!!d.copia.marHasta)"></span>
                                            </td>
                                            <td>
                                                <span ng-hide="d.edi">{{d.mieDesde| date: "HH:mm a"}}<br> {{d.mieHasta| date: "HH:mm a"}}</span>
                                                <span ng-show="d.edi"><input type="time" ng-model="d.copia.mieDesde" ng-disabled="!(!!d.copia.mieDesde)"><br><input type="time" ng-model="d.copia.mieHasta" ng-disabled="!(!!d.copia.mieHasta)"></span>
                                            </td>
                                            <td>
                                                <span ng-hide="d.edi">{{d.jueDesde| date: "HH:mm a"}}<br> {{d.jueHasta| date: "HH:mm a"}}</span>
                                                <span ng-show="d.edi"><input type="time" ng-model="d.copia.jueDesde" ng-disabled="!(!!d.copia.jueDesde)"><br><input type="time" ng-model="d.copia.jueHasta" ng-disabled="!(!!d.copia.jueHasta)"></span>
                                            </td>
                                            <td>
                                                <span ng-hide="d.edi">{{d.vieDesde| date: "HH:mm a"}}<br> {{d.vieHasta| date: "HH:mm a"}}</span>
                                                <span ng-show="d.edi"><input type="time" ng-model="d.copia.vieDesde" ng-disabled="!(!!d.copia.vieDesde)"><br><input type="time" ng-model="d.copia.vieHasta" ng-disabled="!(!!d.copia.vieHasta)"></span>
                                            </td>
                                            <td>
                                                <span ng-hide="d.edi">{{d.sabDesde| date: "HH:mm a"}}<br> {{d.sabHasta| date: "HH:mm a"}}</span>
                                                <span ng-show="d.edi"><input type="time" ng-model="d.copia.sabDesde" ng-disabled="!(!!d.copia.sabDesde)"><br><input type="time" ng-model="d.copia.sabHasta" ng-disabled="!(!!d.copia.sabHasta)"></span>
                                            </td>
                                            <td>
                                                <span ng-hide="d.edi">{{d.domDesde| date: "HH:mm a"}}<br> {{d.domHasta| date: "HH:mm a"}}</span>
                                                <span ng-show="d.edi"><input type="time" ng-model="d.copia.domDesde" ng-disabled="!(!!d.copia.domDesde)"><br><input type="time" ng-model="d.copia.domHasta" ng-disabled="!(!!d.copia.domHasta)"></span>
                                            </td>
                                            <!--                                            <td data-title="'Borrar'">
                                                                                            <button class="btn btn-danger btn-xs"  title="Eliminar" ng-click="eliminarFila(d)">
                                                                                                <i class="glyphicon glyphicon-trash" ></i>
                                                                                            </button>
                                                                                        </td>-->
                                            <td ng-if="title === 'Nuevo Horario'">
                                                <button type="button" class="btn btn-primary btn-xs" ng-click="editarFila($index, d)"><i class="fa" ng-class="{'fa-check':d.edi,'fa-pencil':!d.edi}" ></i></button>
                                                <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!d.edi}" ng-click="eliminarFila($index, d)"><i class="fa" ng-class="{'fa-times':d.edi,'fa-trash-o':!d.edi}"></i></button>                          
                                            </td>
                                            <td ng-if="title === 'Editar Horario'">
                                                <button type="button" class="btn btn-primary btn-xs" ng-click="editarFila($index, d)"><i class="fa" ng-class="{'fa-check':d.edi,'fa-pencil':!d.edi}" ></i></button>
                                                <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!d.edi}" ng-click="eliminarFila($index, d)"><i class="fa" ng-class="{'fa-times':d.edi,'fa-trash-o':!d.edi}"></i></button>                          
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="form-group "><label></label></div>

                        <div class="form-group col-lg-12" ng-if="title === 'Asignar Horario'">
                            <div class="form-group ">
                                <label class="col-lg-4"><strong>Cargo:</strong></label>
                            </div> 

                            <div class="form-group" >
                                <label class="col-sm-1 control-label">Tipo</label>
                                <div class="col-sm-4">

                                    <select class="form-control" ng-model="hora.tipo" ng-change="listarCargoTrabajador()" ng-options="tip.title for tip in tipoTrabajadores">
                                        <option value="">Seleccione:</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">Cargo</label>
                                <div class="col-sm-4">
                                    <select class="form-control" ng-model="horarioGeneral.idCargo" ng-change="verificarCargoSeleccionado()" ng-options="tip.id as tip.nombre for tip in cargoTrabajadores"  >
                                        <!--                                <option value="">Seleccione:</option>-->
                                    </select>
                                    <!--<input type="text" class="form-control" ng-model="nuevoTrabajador.cargo.nombre" ng-show="nuevoTrabajador.existe" disabled="true">-->
                                </div>
                            </div>
                        </div>
                        <div class="form-group "><label></label></div>
                        <div class="form-group col-lg-12" ng-if="title === 'Asignar Horario'">
                            <div class="form-group ">
                                <label class="col-lg-4 "><strong>Observacion:</strong></label>
                            </div>
                        </div>
                        <div class="form-group"  ng-if="title === 'Asignar Horario'">
                            <label class="col-sm-2 control-label">Horario asignado en Cargo Seleccionado:</label>
                            

                            <div class="col-sm-9">
                                <!--<label class="col-sm-4 control-label"> </label>-->
                                <input  type="text" class="form-control" placeholder="Ninguno" ng-model="observacion.obs" disabled="true"></label>
                            </div>

                        </div>


                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default " data-dismiss="modal">Cancelar</button>

                <button  ng-if="title === 'Nuevo Horario'" type="button" class="btn btn-primary"  ng-click="guardarHorario()">Guardar</button>                     
                <button  ng-if="title === 'Ver Horario'" type="button" class="btn btn-primary" data-dismiss="modal" >Cerrar</button> 
                <button  ng-if="title === 'Editar Horario'" type="button" class="btn btn-primary" ng-click="editarHorario()" >Editar</button> 
                <button  ng-if="title === 'Asignar Horario'" type="button" class="btn btn-primary" ng-click="asignarHorarioByCargo()" >Asignar</button> 
                <!--<button ng-hide="title==='Nuevo Horario'"  type="button" class="btn btn-primary" ng-click="actualizarConfiguracion()">Actualizar Configuracion</button>-->


            </div>
        </div>
    </div>
</div>       
