<div class="modal fade " >
     <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                   <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal " method="get">
                        <div class="form-group col-sm-12">
                            <div class="col-sm-4">  

                                <div class="form-group ">
                                    <label><strong>Leyenda</strong></label>
                                </div> 
                                <br>
                                <div class="form-group ">
                                    <label class="control-label col-sm-8">Dia Laborable</label>
                                    <div class="col-sm-1">
                                        <button class="btn btn-default">31</button> 
                                    </div>
                                   
                                    <label class="col-sm-12"></label>
                                    <label class=" control-label col-sm-8">Dia de Recuperacion</label>
                                    <div class="col-sm-1">
                                        <button class="btn btn-primary">31</button>
                                    </div>
                                    
                                    <label class="col-sm-12"></label>
                                    <label class=" control-label col-sm-8">Dia No Laborable</label>
                                    <div class="col-sm-1">
                                        <button class="btn btn-danger">31</button>
                                    </div>
                                   
                                    
                                </div> 

                            </div>
                            <div class="col-md-5">   
                                <div class="form-group ">
                                    <label class="col-sm-12">Haga clic en un dia para ver su detalle:</label>
                                </div> 
                                <div style="display:inline-block; min-height:290px;">
                                    <div uib-datepicker ng-model="dt" ng-click="actualizardt()" class="well well-sm" datepicker-options="options"></div>
                                </div>

                            </div>
                            <div class="col-sm-3">   
                                
                                <label><strong>Descripcion</strong></label>                  
                                <label class="col-sm-12"><em>{{dt | date:'fullDate' }}</em></label>
                                <label class="col-sm-12"></label>
                                <label class="col-sm-12"><em>{{ descripciondt.des }}</em></label>

                            </div>
                            
                        </div>
                        <div class="col-sm-12">
                            <div class="tabla-responsiva" style="max-height: 230px;border-top: 2px solid #ddd;margin-bottom: 0px;">
                                <table class="table" style="margin-bottom: 0;">
                                    <thead>
                                        <tr>
                                            <th style="width:22%">Dia</th>
                                            <th style="width:30%">Descripcion</th>
                                            <th style="width:35%">Motivo</th>
                                            <th style="width:auto"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="d in events">
                                            <td>
                                                <span ng-hide="d.edi" >{{d.fec}}</span>
                                                <span ng-show="d.edi" ><input type="date" ng-model="d.copia.fec"/></span>

                                            </td>    
                                            <td>
                                                <span ng-hide="d.edi" >{{d.des}}</span>
                                                <span ng-show="d.edi" ><input ng-model="d.copia.des"/></span>
                                            </td>
                                            <td>
                                                <span ng-hide="d.edi" >{{d.reg}}</span>
                                                <span ng-show="d.edi" >
                                                    <select  ng-model="d.copia.reg" ng-options="tip.nom for tip in estado">

                                                    </select>
                                                    <!--                                                    <input ng-model="d.copia.reg"/>-->
                                                </span>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-xs" ng-click="editarDia($index,d)"><i class="fa" ng-class="{'fa-check':d.edi,'fa-pencil':!d.edi}" ></i></button>
                                                <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!d.edi}" ng-click="eliminarDia($index,d)"><i class="fa" ng-class="{'fa-times':d.edi,'fa-trash-o':!d.edi}"></i></button>                          
                                            </td>
                                            <!--                        <td>
                                                                        <div class="radio">
                                                                            <label><input type="radio" name="optradio"></label>
                                                                        </div>
                                                                    </td>-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <table class="table peque" style="margin-bottom: 8px;background: #f1f2f7;">
                                <tr>
                                    <td style="width:15px">+</td>
                                    <td style="width:20%"><input type="date" class="form-control input-table" ng-model="nuevoDia.fec"></td>
                                    <td style="width:30%"><input type="text" class="form-control input-table" ng-model="nuevoDia.des"></td>
                                    <td style="width:33%">
                                        <select  ng-model="nuevoDia.reg" ng-options="tip.nom for tip in estado">
                                        </select>
                                    </td>
                                    <td style="width:80px">
                                        <button class="btn btn-success btn-xs" ng-click="agregarDia  ()" title="agregar Dia"><i class="fa fa-plus" ></i></button>
                                    </td>

                                </tr>                      
                            </table>
                        </div>

                        <div class="form-group "><label></label></div> 
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <!--<button type="button" class="btn btn-default " data-dismiss="modal">Cancelar</button>-->

                <button  type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>                     
<!--                <button ng-hide="title==='Nueva Configuracion'"  type="button" class="btn btn-primary" ng-click="actualizarConfiguracion()">Actualizar Configuracion</button>-->


            </div>
        </div>
     </div>
</div>       
