<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">CONTROL ASISTENCIA</h4>
                <span class="tools pull-right">
                
                    <button class="btn btn-success" type="button"  title="Listar" ng-click="showHorasAdicionales()"><i class="fa fa-plus"></i> Horas Adicionales </button>
                </span>
                
                
            </header>
          
            <div class="panel-heading" style="text-align: center">
                <span class="tools pull-left">
                    <button class="btn btn-warning col-sm-push-6" type="button"  title="Semana Anterior" ng-click="listarHorarioPrev()"><i class="fa fa-arrow-left"></i> </button>
                </span>
                
                    <label ><h3>{{datosControl.cabecera}}</h3> ({{datosControl.semana}})</label>
               
                
              

                <span class="tools pull-right">
                    <button class="btn btn-warning col-sm-push-6" type="button"  title="Semana Posterior" ng-click="listarHorarioNext()"><i class="fa fa-arrow-right"></i></button>
                </span>
            </div>

            <br>
            
            <div class="tabla-responsiva" ng-init="iniciarDatos()">
                <table ng-table="miTabla" class="table table-striped table-hover" show-filter="true" >
                    <colgroup>
                        <col width="3%" />
                        <col width="10%" />
                        <col width="20%" />
                        <col width="10%" />
                        <col width="10%" />
                        
                        <col width="5%" />
                        <col width="5%" />
                        <col width="5%" />
                        <col width="5%" />
                        <col width="5%" />
                        <col width="5%" />
                        <col width="5%" />
                    </colgroup>
                    <tr ng-repeat="o in $data">
                        
                        <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                        <td data-title="'DNI'" filter="{ dni: 'text'}" 
                            style="text-align: center">{{o.dni}}
                        </td>
                        <td data-title="'Nombres y Apellidos'" filter="{ nombres: 'text'}"style="text-align: center">{{o.datos}}</td>
                        <td data-title="'Cargo'"  filter="{ cargo: 'text'}" style="text-align: center">{{o.cargo}}</td>
                        <td data-title="'Horario'"  filter="{ horario: 'text'}" style="text-align: center">{{o.horario}}</td>
                        <!--ng-class="{'label-info': o.estado == 1,'label-warning': o.estado == 2}-->
                        <td data-title="'L'" style="text-align: center">
                            <button class="btn  btn-xs"  ng-class="{'btn-success': o.l == 1,'btn-warning': o.l == 2,'btn-danger': o.l == 3,'btn-default': o.l == 4,'btn-info': o.l == 5}" ng-click="showJustificacion(o.l_,o.datos,o.dni,o.lf,o.id)" ng-disabled="verificarFechaDia(o.lf,o.l_h)" title="Ver">
                                <i class=" fa fa-edit" ></i>
                            </button>
                        </td>
                        <td data-title="'M'" style="text-align: center">
                            <button class="btn btn-white btn-xs" ng-class="{'btn-success': o.m == 1,'btn-warning': o.m == 2,'btn-danger': o.m == 3,'btn-default': o.m == 4,'btn-info': o.m == 5}" ng-click="showJustificacion(o.m_,o.datos,o.dni,o.mf,o.id)"  ng-disabled="verificarFechaDia(o.mf,o.m_h)" title="Ver">
                                <i class=" fa fa-edit" ></i>
                            </button>
                        </td>
                        <td data-title="'MI'" style="text-align: center">
                            <button class="btn btn-white btn-xs" ng-class="{'btn-success': o.mi == 1,'btn-warning': o.mi == 2,'btn-danger': o.mi == 3,'btn-default': o.mi == 4,'btn-info': o.mi == 5}" ng-click="showJustificacion(o.mi_,o.datos,o.dni,o.mif,o.id)" ng-disabled="verificarFechaDia(o.mif,o.mi_h)  " title="Ver">
                                <i class=" fa fa-edit" ></i>
                            </button>
                        </td>
                        <td data-title="'J'" style="text-align: center">
                            <button class="btn btn-white btn-xs" ng-class="{'btn-success': o.j == 1,'btn-warning': o.j == 2,'btn-danger': o.j == 3,'btn-default': o.j == 4,'btn-info': o.j == 5}" ng-click="showJustificacion(o.j_,o.datos,o.dni,o.jf,o.id)" ng-disabled="verificarFechaDia(o.jf,o.j_h)" title="Ver">
                                <i class=" fa fa-edit" ></i>
                            </button>
                        </td>
                        <td data-title="'V'" style="text-align: center">
                            <button class="btn btn-white btn-xs" ng-class="{'btn-success': o.v == 1,'btn-warning': o.v == 2,'btn-danger': o.v == 3,'btn-default': o.v == 4,'btn-info': o.v == 5}" ng-click="showJustificacion(o.v_,o.datos,o.dni,o.vf,o.id)"  ng-disabled="verificarFechaDia(o.vf,o.v_h) " title="Ver">
                                <i class=" fa fa-edit" ></i>
                            </button>
                        </td>
                        <td data-title="'S'" style="text-align: center">
                            <button class="btn btn-white btn-xs" ng-class="{'btn-success': o.s == 1,'btn-warning': o.s == 2,'btn-danger': o.s == 3,'btn-default': o.s == 4,'btn-info': o.s == 5}" ng-click="showJustificacion(o.s_,o.datos,o.dni,o.sf,o.id)"  ng-disabled="verificarFechaDia(o.sf,o.s_h)  " title="Ver">
                                <i class=" fa fa-edit" ></i>
                            </button>
                        </td>
                         <td data-title="'D'" style="text-align: center">
                            <button class="btn btn-white btn-xs" ng-class="{'btn-success': o.d == 1,'btn-warning': o.d == 2,'btn-danger': o.d == 3,'btn-default': o.d == 4,'btn-info': o.d == 5}" ng-click="showJustificacion(o.d_,o.datos,o.dni,o.df,o.id)"  ng-disabled="verificarFechaDia(o.df,o.d_h)  " title="Ver">
                                <i class=" fa fa-edit" ></i>
                            </button>
                        </td>

                        
                    </tr>
                </table>
            </div>
            <br>
            <div class="form-group col-lg-12">  

                <div class="form-group ">
                    <label><strong>Leyenda</strong></label>
                </div> 
                <br>
                <div class="form-group ">
                    <label class="control-label col-sm-1">Asistio</label>
                    <div class="col-sm-1">
                        <button class="btn btn-success"><i class=" fa fa-edit" ></i></button> 
                    </div>

                    <label class="col-sm-1"></label>
                    <label class=" control-label col-sm-1">Tardanza</label>
                    <div class="col-sm-1">
                        <button class="btn btn-warning"><i class=" fa fa-edit" ></i></button>
                    </div>

                    <label class="col-sm-1"></label>
                    <label class=" control-label col-sm-1">Otros</label>
                    <div class="col-sm-1">
                        <button class="btn btn-danger"><i class=" fa fa-edit" ></i></button>
                    </div>
                    <label class="col-sm-1"></label>
                    <label class=" control-label col-sm-1">Inasistencia</label>
                    <div class="col-sm-1">
                        <button class="btn btn-white"><i class=" fa fa-edit" ></i></button>
                    </div>
  
                </div> 
                

            </div>
            
            <div class="form-group col-lg-12">  
                <div class="form-group ">
                    <label class=" control-label col-sm-1">Asistencia Justificada</label>
                    <div class="col-sm-1">
                        <button class="btn btn-default"><i class=" fa fa-edit" ></i></button>
                    </div>
                    <label class="col-sm-1"></label>
                    <label class=" control-label col-sm-1">Inasistencia Justificada</label>
                    <div class="col-sm-1">
                        <button class="btn btn-info"><i class=" fa fa-edit" ></i></button>
                    </div>
                </div>
            </div>    
        </section>

    </div>

</div>

