<div class="modal fade " >
     <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                   <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal " method="get">  
                        
                        <div class="form-group ">   
                            <label class="col-lg-3 control-label "> Nombre de cuenta: </label>
                                <div class="col-lg-7">
                                    <input type="text" class="form-control" ng-model="cuentaContable.nombre">
                                </div>
                        </div> 
                        
                        <div class="form-group">
                                        <label class="col-sm-1 control-label">Tipo</label>

                                        <div class="col-sm-2 icheck minimal">
                                            
                                            <div class="radio single-row " style="display: inline-block" >                                                  
                                                <label>
                                                    <input type="radio" ng-model="cuentaContable.tipo" ng-value="1" ng-click="listar('1')" >
                                                     Activo
                                                </label>
                                            </div>
                                           <div  class="radio single-row" style="display: inline-block">
                                               <label>
                                                    <input type="radio" ng-model="cuentaContable.tipo" ng-value="4" ng-click="listar('4')">
                                                    Pasivo                                                                                                   
                                                 </label>
                                             </div>                                            
                                            <div class="radio single-row" style="display: inline-block">
                                                <label>
                                                    <input type="radio" ng-model="cuentaContable.tipo" ng-value="5" ng-click="listar('5')">
                                                     Patrimonio
                                                </label>
                                            </div>
                                           <div class="radio single-row" style="display: inline-block">
                                                <label>
                                                     <input type="radio" ng-model="cuentaContable.tipo" ng-value="6" ng-click="listar('6')">
                                                    Egresos
                                                 </label>
                                             </div>
                                            <div class="radio single-row" style="display: inline-block">
                                                <label>
                                                     <input type="radio" ng-model="cuentaContable.tipo" ng-value="7" ng-click="listar('7')">
                                                    Ingresos
                                                 </label>
                                             </div>                                                                                       
                                        </div>
                                        
                                                                                   
                                        <div class="col-lg-5">
                                            <select disabled="true" class="form-control input-sm m-bot15" id="select1" ng-model="cuentaContable.subClase" ng-options="tipoSubClase.tipo as tipoSubClase.descripcion for tipoSubClase in listaTipos" ng-click="seleccionar('1')">
                                                <option value="">Seleccionar</option>
                                              
                                            </select>
                                            <select disabled="true" class="form-control input-sm m-bot15" id="select4" ng-model="cuentaContable.subClase" ng-options="tipoSubClase.tipo as tipoSubClase.descripcion for tipoSubClase in listaTipos" ng-click="seleccionar('4')">
                                                <option value="">Seleccionar</option>
                                              
                                            </select>
                                            <label> </label>
                                            <select disabled="true" class="form-control input-sm m-bot15" id="select6"ng-model="cuentaContable.subClase" ng-options="tipoSubClase.tipo as tipoSubClase.descripcion for tipoSubClase in listaTipos" ng-click="seleccionar('6')">
                                                <option value="">Seleccionar</option>
                                              
                                            </select>
                                            <select disabled="true" class="form-control input-sm m-bot15" id="select7" ng-model="cuentaContable.subClase" ng-options="tipoSubClase.tipo as tipoSubClase.descripcion for tipoSubClase in listaTipos" ng-click="seleccionar('7')">
                                                <option value="">Seleccionar</option>
                                              
                                            </select>
                                        
                                        </div>
                                        
                                        
                        </div>
                 
                        
                <!--        <div class="form-group ">
                            <label class="col-lg-3  control-label "> Clasificación para flujo de caja: </label>
                               <div class="col-lg-5">
                                   <select class="form-control input-sm m-bot15" ng-model="cuentaContable.clasificacion" ng-options="tipoClasificacion.tipo as tipoClasificacion.descripcion for tipoClasificacion in listaClasificacion" >
                                      <option value="">Seleccionar</option>

                                    </select>
                               </div>
                            
                            
                        </div> -->
                                          
                        <div class="form-group ">   
                            <label class="col-lg-3 control-label "> Número de cuenta: </label>
                                <div class="col-lg-5">
                                    <input type="tex" class="form-control" ng-model="cuentaContable.numero">
                                </div>
                        </div> 
                       <!-- <div class="form-group ">   
                            <label class="col-lg-3 control-label "> Saldo inicial: </label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" ng-model="cuentaContable.saldo">
                                </div>
                        </div> -->
                        
                        <div class="form-group">
                              <div class="col-sm-3 icheck minimal">  </div>

                              <div class="col-sm-6 icheck minimal">
                                    <div class="checkbox single-row" style="display: inline-block" >
                                       <label>
                                           <input type="checkbox" ng-model="cuentaContable.encabezado" >
                                            Es sólo una cuenta de encabezado
                                       </label>
                                   </div>
                                   <div class="checkbox single-row" style="display: inline-block" >
                                       <label>
                                           <input type="checkbox" ng-model="cuentaContable.efectivo" >
                                            Efectivo que se puede registrar
                                       </label>
                                   </div>
                                    <div class="checkbox single-row" style="display: inline-block" >
                                       <label>
                                           <input type="checkbox" ng-model="cuentaContable.iva" >
                                            Usar en informe de IVA
                                       </label>
                                   </div>
                                </div>
                            <div class="col-sm-6 icheck minimal">
                                   
                             <!--       <div class="checkbox single-row" style="display: inline-block" >
                                       <label>
                                           <input type="checkbox" ng-model="cuentaContable.impuesto" >
                                            Impuesto incluido
                                       </label>
                                   </div> -->
                                </div>
                            
                        </div>
                        
                        
                                                                
                    </form>
                </div>
            </div>
      <div class="modal-footer">
         
          <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                     
          <button ng-show="title==='Nueva Cuenta Contable'" type="button" class="btn btn-primary" ng-click="agregarCuentaContable()">Crear Cuenta</button>                        
          <button ng-hide="title==='Nueva Cuenta Contable'" type="button" class="btn btn-primary" ng-click="actualizarCuentaContable()">Actualizar Cuenta</button>
            
           
      </div>
        </div>
    </div>
</div>       
