<div class="modal fade" >
    <div class="modal-dialog " style="max-width:600px">
        <div class="modal-content">
            <div class="modal-header">
                   <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body" >
                <div class="form-panel">
                    <form class="form-horizontal " method="get">                          
                                            
                       <div class="form-group col-lg-8 ">
                         <div class="input-group ">
                             <div ng-if="search">
                             <input type="text" class="form-control" placeholder="Buscar Cuenta" ng-model="tablaCuenta.filter().cuentaContableID">
                             </div>
                             <div ng-if="!search">
                             <input type="text" class="form-control" placeholder="Buscar Cuenta" ng-model="tablaCuenta.filter().nombre">
                             </div>
                             <div class="input-group-addon "><i class="fa fa-search"></i></div>                            
                         </div>      
                       </div>
                        
                        <div class="form-group col-lg-5 pull-right">
                                       

                                        <div class=" icheck minimal">
                                            <div class="radio"  >
                                                <label>
                                                    <input type="radio"  ng-model="search" ng-value="true" checked>
                                                     número
                                                </label>
                                            </div>
                                           <div  class="radio " >
                                               <label>
                                                   <input type="radio" ng-model="search"  ng-value="false">
                                                    nombre                                                                                                   
                                                 </label>
                                             </div>  
                                        </div>
                        </div>
                        
                        <div class="form-group "> <label></label> </div>
                            
                        <div class="form-group ">     
                                    <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered "  ng-table ="tablaCuenta" show-filter="false"  >
                                         <tr ng-repeat="sm in $data " ng-dblclick="setClickedRow(sm)">
                                            <td data-title="'Número'" filter="{ cuentaContableID: 'text' }" style="width: 65px;text-align:left">
                                                {{sm.numero}}
                                            </td>
                                            <td data-title="'Nombre'" filter="{ nombre: 'text' }" style="width: 170px;text-align:left">
                                                {{sm.nombre}}
                                            </td>
                                             <td data-title="'Tipo'" style="width: 50px;text-align:center">
                                                {{sm.tipo}}
                                            </td>                                                                                    
                                                                                    
                                        </tr>
                                    </table>
                                </div>   
                                    </div>

                             
                        </div>
                        
                      
                        
                                                                
                    </form>
                </div>
            </div>
      <div class="modal-footer">
           
      </div>
        </div>
    </div>
</div>       
