<div class="modal fade " >
     <div class="modal-dialog " style="width:75%">
        <div class="modal-content" >
            <div class="modal-header">
                   <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{title}}</h4>
            </div>
                <div class="modal-body">
                    <div class="row">                            
                        <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <section class="panel" >
                                           
                                            <div class="panel-body" >
                                                <form class="form-horizontal " method="get">  

                                               
                                                <div class="form-group ">   
                                                    <div class="col-lg-8">
                                                    <label class="control-label  "> Descripcion: </label>
                                                        <div class="input-group ">
                                                            <span class="input-group-btn">
                                                                <button  class="btn btn-primary" ng-click="showBuscarOperacion()" ng-disabled="true"> <i class="fa fa-search"> </i></button>
                                                            </span>
                                                            <input type="text" class="form-control" ng-model="asiento.glosa" readonly="" style="background-color: white">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                         <label class="control-label  "> Monto S/ </label>                                                                                                                             
                                                         <input type="number" step="0.01" class="form-control" ng-model="asiento.importe" readonly style="background-color: white">

                                                    </div>
                                                </div> 

                                                <div class="form-group">
                                                    <div class="col-lg-4">

                                                            <label class="control-label"> Tipo de documento: </label>

                                                                   <select class="form-control" ng-model="asiento.tipoPago.tipoPagoID" ng-options="m.tipoPagoID as m.nombre for m in tipoPago" ng-disabled="true" style="background-color: white">
                                                                   </select>

                                                                    
                                                    </div>
                                                     <div class="col-lg-4">
                                                         <label class="control-label  "> N° documento </label>                                                                                                                             
                                                         <input type="text" class="form-control" ng-model="asiento.numeroD" readonly style="background-color: white">

                                                    </div>




                                                            <div class="col-lg-4">
                                                                 <label class="control-label "> Fecha Operación:</label>
                                                                <div class="input-group date form_datetime-component">                                                        
                                                                    <input type="text" class="form-control " uib-datepicker-popup="dd/MM/yyyy" ng-model="asiento.fecha" is-open="popup1.opened" datepicker-options="dateOptions"  close-text="Close"  readonly style="background-color: white"/>
                                                                            <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-primary date-set"  ng-click="open1()" ng-disabled="true" ><i class="fa fa-calendar"></i></button>
                                                                            </span>
                                                                </div>
                                                            </div>





                                                    </div>                                                                                                                        

                                                <div class="form-group ">   
                                                    <div class="col-lg-12">
                                                       <label class="control-label  "> Proveedor </label>
                                                    </div>

                                                    <div class="col-lg-4">
                                                    <div class="input-group ">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-primary" ng-click="showBuscarClienteProveedor()" ng-disabled="true"> <i class="glyphicon glyphicon-user"></i></button>
                                                        </span>
                                                        <input type="text" class="form-control " ng-model="asiento.clienteProveedor.clienteProveedorID" readonly style="background-color: white">

                                                    </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <input type="text" class="form-control " ng-model="asiento.clienteProveedor.datos" readonly style="background-color: white">
                                                    </div>


                                                </div>  
                                                    <div class="form-group ">  <div class="col-lg-12"></div> </div>
                                                    <div class="form-group ">  <div class="col-lg-12"></div> </div>
                                                    <div class="form-group ">  <div class="col-lg-12"></div> </div>
                                                    <div class="form-group ">  <div class="col-lg-12"></div> </div>
                                                    <div class="form-group ">  <div class="col-lg-12"></div> </div>
                                                    <div class="form-group ">  <div class="col-lg-12"></div> </div>
                                                    <div class="form-group "> 
                                                        <div class="col-lg-12">
                                                             <label class="control-label small"> Observación: </label>                                                                                   
                                                             <textarea  class="form-control input-sm m-bot15 "  ng-model="asiento.observacion" readonly style="background-color: white"></textarea>
                                                        </div>
                                                    </div>
                                           

                                                  
                                                </form>
                                            </div> 
                                            
                                            
                                        </section>

                                    </div>
                                </div>

                            </div>
                        <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <section class="panel">
                                            <div  class="panel-heading">
                                                <a>Datos de la Cuenta Asociada</a>
                                        
                                            </div>
                                            
                                            <div class="panel-body">
                                                <form class="form-horizontal " method="get">  
                                                 
                                                   
                                                    <div class="form-group">
                                                        <div class="col-lg-8">
                                                        <label class="control-label"> N° Cta: </label>
                                                        <div ng-if="'C'==asiento.libro">
                                                            <input type="text" class=" form-control " ng-model="asiento.debe.cuentaContableID" readonly style="background-color: white"> 
                                                        </div>
                                                        
                                                        <div ng-if="'V'==asiento.libro">
                                                            <input type="text" class=" form-control " ng-model="asiento.haber.cuentaContableID" readonly style="background-color: white"> 
                                                        </div>
                                                        </div>
                                                    </div>
                                                        
                                                    <div class="form-group">
                                                        <div class="col-lg-12 ">
                                                        <label class="control-label"> Nombre Cta: </label>
                                                        <div ng-if="'C'==asiento.libro">
                                                            <input type="text" class="  form-control " ng-model="asiento.debe.nombre" readonly style="background-color: white"> 
                                                        </div>
                                                        
                                                        <div ng-if="'V'==asiento.libro">
                                                            <input type="text" class="  form-control " ng-model="asiento.haber.nombre" readonly style="background-color: white"> 
                                                        </div>
                                                        </div>
                                                    </div>
                                                    
                                                     <div class="form-group">
                                                    <div class="col-lg-12">

                                                            <label class="control-label"> Cuenta Pagada desde: </label>
                                                                   <div ng-if="'C'==asiento.libro">
                                                                   <select class="form-control" ng-model="asiento.haber.cuentaContableID" ng-options="c.cuentaContableID as c.nombre for c in cuentasEfectivo" ng-disabled="true" style="background-color: white">
                                                                   </select>
                                                                   </div>
                                                                   
                                                                   <div ng-if="'V'==asiento.libro">
                                                                   <select class="form-control" ng-model="asiento.debe.cuentaContableID" ng-options="c.cuentaContableID as c.nombre for c in cuentasEfectivo" ng-disabled="true" style="background-color: white">
                                                                   </select>
                                                                   </div>

                                                    </div>
                                                  </div>
                                                
                                                                                                        
                                                   
                                                </form>
                                            </div>
                                         
                                            <div  class="panel-heading">
                                                <a> Documento Adjunto</a>
                                        
                                            </div>
                                            
                                            <div class="panel-body">                                             
                                                  <div class="form-horizontal">         
                                               
                                                <div class="form-group">
                                                   
                                                    <div class="col-lg-10" >
                                                    <div class="pull-left">
                                                      
                                                        <input-file ng-hide="asiento.doc.edi"  nombre="asiento.doc.nombreArchivo" archivo="asiento.doc.archivo" ></input-file>
                                                        <view-file  ng-show="asiento.doc.edi"  url="{{asiento.doc.url}}" nombre="asiento.doc.nombreArchivo"  archivo="asiento.doc.archivo" > </view-file>
                                                       
                                                    </div>
                                                    </div>                                                
                                                   
                                                    
                                                     <div class="col-lg-2" style="top: 3px">
                                             <!--        <button ng-hide="asiento.doc.edi" class="btn btn-primary btn-xs" ng-click="agregarDoc()" ><i class="fa fa-plus" ></i></button>
                                                     <button ng-show="asiento.doc.edi"  class="btn btn-warning btn-xs" ng-click="borrarDoc()" ><i class="fa fa-times" ></i></button>
                                             -->
                                                     </div>
                                                  
                                                                                                                                        
                                                </div>
                                                                                                
                                           </div>                                                
                                            </div>                                                                                       
                                            
                                        </section>
                                        
                                        

                                    </div>
                                </div>


                            </div>
                    </div>
                       </div>
   <!--    <div class="modal-footer ">
                             
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-warning" ng-click="$watch (getFecha(registro.fechaR,asiento.fecha),agregarTransaccion())">Registrar Operación</button>
                             
                         </div>
   -->
        </div>
   
    </div>
</div>       
