
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="table-responsive">
                <table class="table">
                <colgroup>
                    <col width="85%" />
                    <col width="15%" />
                </colgroup>
                <tr>                    
                    <td>
                         ACTUALIZAR DATOS DE TRABAJADOR
                        <h5 style="text-align:left">Perteneciente a: <span>{{trabajadorData != "" ? trabajadorData : "No registrado" }}</span></h5>
                        <h5 style="text-align:left">DNI: <span>{{trabajadorDNI != "" ? trabajadorDNI : "No registrado" }}</span></h5>
                    </td>
                    <td>
                        <div class="col-xs-3 imagen">
                            <br>  
                          <img src="{{perfil}}" class="imagen-usuario img-circle">
                        </div>                                                
                    </td>
                </tr>
            </table>
           </div>
            </header>
            <table>
                <tr ng-repeat="l in dataRidea">
                    <td data-title="'Accion'"  style="text-align: center;width: 70px">
                        <button ng-disabled="!l.estagrupamiento"  title= "Ver Agrupamientos" class="btn btn-success btn-lg" ng-click="prepararVerAgrups(l);showAgrupamiento()" ng-show="mostrarButtonOpen" ng-hide="mostrarButtonClose">
                            <span class="glyphicon glyphicon-eye-open"> Ver Legajo</span>
                        </button>
                    </td>
                    
                    <td data-title="'Accion'"  style="text-align: center;width: 70px">
                        <button ng-disabled="!l.estagrupamiento"  title= "Ver Agrupamientos" class="btn btn-danger btn-lg" ng-click="prepararVerAgrups(l);hideAgrupamiento()" ng-show="mostrarButtonClose" ng-hide="mostrarButtonOpen">
                            <span class="glyphicon glyphicon-eye-close"> Ocultar Legajo</span>
                        </button>
                    </td>
                </tr>
            </table>
            <div  class="btn-group-vertical" ng-show="mostrarAgrupamiento" ng-hide="ocultarAgrupamiento">
                <article >
                    <section >
                        <ul>
                            <li ng-repeat="ag in doc.agrupamientos">
                                <a class="btn btn-primary btn-md btn-block" rel="preload" ng-click="OpenBrowserInNewTab(doc.coddocumento,ag.nroPagAgrp,ag.pagInicio,uriv)" >{{ag.Agrupamiento != "" ? ag.Agrupamiento : "No registrado" }}</a>
                        </ul>		
                    </section>
                </article>
            </div>
            <div class="panel-body">
                <!--PRUEBA-->
                <uib-tabset id="tabModificarFichaEscalafonaria" active="tabPrincipal" justified="true" >
                    <uib-tab index="4" heading="Datos personales">
                        <br>
                        <div class="row">
                            <div class = "col-sm-2">
                                <uib-tabset active="tabDatosPersonales" vertical="true" type="pills" style="border: 2px solid darkblue; border-radius: 8px">
                                    <uib-tab index="0" heading="General" style="text-align: justify" ng-click="updateOptions(0, optionsDatosPersonales)"></uib-tab>
                                    <uib-tab index="1" heading="Nacimiento" style="text-align: justify" ng-click="updateOptions(1, optionsDatosPersonales)"></uib-tab>
                                    <uib-tab index="2" heading="Domicilio" style="text-align: justify;" ng-click="updateOptions(2, optionsDatosPersonales)"></uib-tab>
                                    <uib-tab index="3" heading="Regimen pensionario" style="text-align: justify;" ng-click="updateOptions(3, optionsDatosPersonales)"></uib-tab>
                                    <uib-tab index="4" heading="Extraordinaria" style="text-align: justify;" ng-click="updateOptions(4, optionsDatosPersonales)"></uib-tab>
                                </uib-tabset>
                            </div>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosPersonales[0]" ng-hide="!optionsDatosPersonales[0]" >
                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Apellido Paterno*: </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="personaSel.apePat">
                                    </div>
                                </div> 

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Apellido Materno*: </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="personaSel.apeMat">
                                    </div>
                                </div> 

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Nombres*: </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="personaSel.nom">
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Sexo*: </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model="personaSel.sex">
                                            <option ng-repeat="s in sexo" value="{{s.id}}">{{s.title != "" ? s.title : "No registrado" }}</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Estado civil*: </label>
                                    <div class="col-sm-3">
                                         <select class="form-control" ng-model="personaSel.estCivId" ng-options="ec.id as ec.nom for ec in estadoCivil">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Edad: </label>
                                    <div class="col-sm-3">
                                        <input type="text" ng-disabled="true" class="form-control" value="{{personaSel.eda}}">
                                    </div>
                                </div>

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">DNI: </label>
                                    <div class="col-sm-3">
                                        <input type="text" ng-disabled="true" class="form-control" ng-model="personaSel.dni">
                                    </div>

                                </div>

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">N° Pasaporte: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model="personaSel.pas">
                                    </div>

                                </div>

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Teléfono fijo: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model="personaSel.fij">
                                    </div>
                                </div>

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Celular1: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model="personaSel.num1">
                                    </div>
                                </div>

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Celular2: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model="personaSel.num2">
                                    </div>
                                </div>

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Email: </label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" ng-model="personaSel.email">
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosPersonales[1]" ng-hide="!optionsDatosPersonales[1]" >

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">País: </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model="personaSel.nacId" ng-options="nac.nacId as nac.nacNom for nac in nacionalidad">
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-3">Complete si es Peruano: </label>
                                </div>

                                <div class="form-group">

                                    <label class="col-sm-3 control-label ">Departamento: </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model= "personaSel.depNac" ng-init="loadProLugNac()" ng-change="loadProLugNac()">
                                            <option ng-repeat="depLugNac in departamentosLugNac" value="{{depLugNac.codigo_ubigeo}}" >{{depLugNac.nombre_ubigeo}}</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Provincia: </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model= "personaSel.proNac" ng-init="loadDisLugNac()" ng-change="loadDisLugNac()">
                                            <option ng-repeat="proLugNac in provinciasLugNac" value="{{proLugNac.codigo_ubigeo}}">{{proLugNac.nombre_ubigeo}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Distrito: </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model= "personaSel.disNac">
                                            <option ng-repeat="disLugNac in distritosLugNac" value="{{disLugNac.codigo_ubigeo}}">{{disLugNac.nombre_ubigeo}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Fecha de Nacimiento: </label>
                                    <div class="col-sm-3">
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="personaSel.fecNac" 
                                                   is-open="date_4" current-text="Hoy" close-text="Cerrar" clear-text="Limpiar" show-meridian="true" datepicker-options="{startingDay: 1, yearFormat: 'yy'}"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="date_4 = true">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                </div>

                            </form>

                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosPersonales[2]" ng-hide="!optionsDatosPersonales[2]" >
                                <br>
                                <div class="form-inline">
                                    <label class="control-label">¿La direccion de su DNI coincide con su domicilio actual?: </label>
                                    <div class="btn-group" data-toggle="buttons">
                                        <input type="radio" ng-model="optionsDirections" value="SI" ng-change="changeDASi()"> SI
                                        <input type="radio" ng-model="optionsDirections" value="NO" ng-change="changeDANo()"> NO
                                    </div>
                                </div>
                                <br>
                                <uib-accordion close-others="status_1.close" ng-show="optionsDirections === 'SI' || optionsDirections === 'NO'">
                                    <div uib-accordion-group class="panel-default" is-open="status_1.statusGD">
                                        <uib-accordion-heading>
                                            Direccion de DNI <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status_1.statusGD, 'glyphicon-chevron-right': !status_1.statusGD}"></i>
                                        </uib-accordion-heading>

                                        <br>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label ">Departamento: </label>
                                            <div class="col-sm-3">
                                                <select class="form-control" ng-model= "direccionDNISel.depDir" ng-init="loadProDirDNI()" ng-change="loadProDirDNI()">
                                                    <option ng-repeat="depDir in departamentosDirDNI" value="{{depDir.codigo_ubigeo}}" >{{depDir.nombre_ubigeo}}</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-3 control-label ">Provincia </label>
                                            <div class="col-sm-3">
                                                <select class="form-control" ng-model= "direccionDNISel.proDir" ng-init="loadDisDirDNI()" ng-change="loadDisDirDNI()">
                                                    <option ng-repeat="proDir in provinciasDirDNI" value="{{proDir.codigo_ubigeo}}">{{proDir.nombre_ubigeo}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label ">Distrito </label>
                                            <div class="col-sm-3">
                                                <select class="form-control" ng-model= "direccionDNISel.disDir">
                                                    <option ng-repeat="disDir in distritosDirDNI" value="{{disDir.codigo_ubigeo}}">{{disDir.nombre_ubigeo}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">   
                                            <label class="col-sm-3 control-label ">Dirección: </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Dirección" ng-model="direccionDNISel.nomDir">
                                            </div>
                                        </div>

                                        <div class="form-group">   
                                            <label class="col-sm-3 control-label">Nombre de zona: </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Nombre de zona" ng-model="direccionDNISel.nomZon">
                                            </div>
                                        </div>

                                        <div class="form-group">   
                                            <label class="col-sm-3 control-label">Referencia: </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Referencia" ng-model="direccionDNISel.desRef">
                                            </div>
                                        </div>
                                    </div>

                                    <div uib-accordion-group class="panel-default" is-open="status_1.statusLD" ng-show="optionsDirections === 'NO'" ng-hide="optionsDirections === 'SI'">
                                        <uib-accordion-heading>
                                            Direccion de domicilio actual <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status_1.statusLD, 'glyphicon-chevron-right': !status_1.statusLD}"></i>
                                        </uib-accordion-heading>
                                        <br>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label ">Departamento: </label>
                                            <div class="col-sm-3">
                                                <select class="form-control" ng-model= "direccionDASel.depDir" ng-init="loadProDirDA()" ng-change="loadProDirDA()">
                                                    <option ng-repeat="depDir in departamentosDirDA" value="{{depDir.codigo_ubigeo}}" >{{depDir.nombre_ubigeo}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label ">Provincia </label>
                                            <div class="col-sm-3">
                                                <select class="form-control" ng-model="direccionDASel.proDir" ng-init="loadDisDirDA()" ng-change="loadDisDirDA()">
                                                    <option ng-repeat="proDir in provinciasDirDA" value="{{proDir.codigo_ubigeo}}">{{proDir.nombre_ubigeo}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label ">Distrito </label>
                                            <div class="col-sm-3">
                                                <select class="form-control" ng-model="direccionDASel.disDir">
                                                    <option ng-repeat="disDir in distritosDirDA" value="{{disDir.codigo_ubigeo}}">{{disDir.nombre_ubigeo}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">   
                                            <label class="col-sm-3 control-label ">Dirección: </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Dirección" ng-model="direccionDASel.nomDir">
                                            </div>
                                        </div>

                                        <div class="form-group">   
                                            <label class="col-sm-3 control-label">Nombre de zona: </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Nombre de zona" ng-model="direccionDASel.nomZon">
                                            </div>
                                        </div>

                                        <div class="form-group">   
                                            <label class="col-sm-3 control-label">Referencia: </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Referencia" ng-model="direccionDASel.desRef">
                                            </div>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </form>

                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosPersonales[3]" ng-hide="!optionsDatosPersonales[3]" >
                                <div class="form-inline col-sm-offset-1">
                                    <label class="control-label">¿A que sistema de pensiones pertenece?: </label>
                                    <div class="btn-group" data-toggle="buttons">
                                        <input type="radio" ng-model="personaSel.sisPen" value="ONP" ng-click="personaSel.sisPen = 'ONP'"> ONP
                                        <input type="radio" ng-model="personaSel.sisPen" value="AFP" ng-click="personaSel.sisPen = 'AFP'"> AFP
                                        <input type="radio" ng-model="personaSel.sisPen" value="NUL" ng-click="personaSel.sisPen = 'NUL'"> NINGUNO
                                    </div>
                                </div>
                                <br>
                                <div class="row" ng-show="personaSel.sisPen === 'AFP'" >
                                    <div class="form-group ">   
                                        <label class="col-sm-3 control-label">Tipo de AFP: </label>
                                        <!--<div class="col-sm-3">
                                            <input type="text" class="form-control" placeholder="Nombre de AFP" ng-model="personaSel.nomAfp">
                                        </div>-->
                                        <div class="col-sm-3">
                                            <select class="form-control input-sm m-bot15" ng-model="personaSel.tipAfp" >
                                               <option ng-repeat="r in afps" value="{{r}}">{{r != "" ? r : "No registrado" }}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group ">   
                                        <label class="col-sm-3 control-label">COD. CUSPP: </label>
                                        <div class="col-sm-3">
                                            <input type="text" maxlength="12" class="form-control" placeholder="Codigo CUSPP" ng-model="personaSel.codCuspp">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Fecha de ingreso: </label>
                                        <div class="col-sm-3">
                                            <p class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="personaSel.fecIngAfp" 
                                                       is-open="date_4" current-text="Hoy" close-text="Cerrar" clear-text="Limpiar" show-meridian="true" datepicker-options="{startingDay: 1, yearFormat: 'yy'}"/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="date_4 = true">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Fecha de traspaso: </label>
                                        <div class="col-sm-3">
                                            <p class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="personaSel.fecTraAfp" 
                                                       is-open="date_5" current-text="Hoy" close-text="Cerrar" clear-text="Limpiar" show-meridian="true" datepicker-options="{startingDay: 1, yearFormat: 'yy'}"/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="date_5 = true">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-inline col-sm-offset-1">
                                    <label class="control-label">¿Persona discapacitada?: </label>
                                    <div class="btn-group" data-toggle="buttons">
                                        <input type="radio" name="discapacidad" ng-model="boolDis.val" value="SI" ng-change="changeDiscapacidadSi()"> SI
                                        <input type="radio" name="discapacidad" ng-model="boolDis.val" value="NO" ng-change="changeDiscapacidadNo()"> NO
                                    </div>
                                </div>
                                <br>
                                <div class="row" ng-show="boolDis.val==='SI'" > 
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label ">Registro CONADIS: </label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" placeholder="Nº Registro CONADIS" ng-model="personaSel.regCon">
                                        </div>
                                    </div>

                                </div>
                                <div class="form-inline col-sm-offset-1">
                                    <label class="control-label">¿Esta asegurado en ESSALUD?: </label>
                                    <div class="btn-group" data-toggle="buttons">
                                        <input type="radio" ng-model="boolSalud.valS" value="SI" ng-click="personaSel.estAseEss=true"> SI
                                        <input type="radio" ng-model="boolSalud.valS" value="NO" ng-click="personaSel.estAseEss=false"> NO
                                    </div>
                                </div>
                                <br>
                                <div class="form-group" ng-show="boolSalud.valS === 'SI'" >   
                                    <label class="col-sm-3 control-label ">Código Autogenerado de ESSALUD: </label>
                                    <div class="col-sm-5">
                                        <input type="text" maxlength="15" class="form-control" placeholder="Código Autogenerado de ESSALUD" ng-model="personaSel.autEss">
                                    </div>
                                </div>
                            </form>

                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosPersonales[4]" ng-hide="!optionsDatosPersonales[4]" >

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Idioma: </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model="personaSel.idiomId" ng-options="idi.idiId as idi.idiNom for idi in idiomas">
                                        </select>
                                    </div>
                                    
                                </div>
                                <div class="form-group ">  
                                    <label class="col-sm-3 control-label">Licencia de conducir: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" placeholder="Número de licencia" ng-model="personaSel.licCond">
                                    </div>
                                </div>
                                <div class="form-group ">  
                                    <label class="col-sm-3 control-label">Bonificación CAFAE: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" placeholder="Bonificación" ng-model="personaSel.bonCaf">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row-sm-6" align="right" >  
                            <button type="button" class="btn btn-primary" ng-click="actualizarDatosGenerales()">Guardar <i class="glyphicon glyphicon-floppy-saved"></i></button>
                        </div>
                    </uib-tab>
                    <uib-tab index="0" heading="Datos familiares">
                        <br>
                        <form class="form-horizontal " method="get">
                            <div align="right">  
                                <button class="btn btn btn-success" ng-click="showNuevoPariente()">
                                    <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                </button>
                            </div>

                            <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <div class="table-responsive" >
                                    <table ng-init="listarParientes()" ng-table ="tablaModParientes" class="table table-hover table-condensed table-bordered" >
                                        <tr ng-repeat="p in $data">
                                            <td data-title="'Apellido Paterno'"  style="text-align: center;width: 70px">{{p.parApePat != "" ? p.parApePat : "No registrado" }}</td>
                                            <td data-title="'Apellido Materno'"  style="text-align: center;width: 70px">{{p.parApeMat != "" ? p.parApeMat : "No registrado" }}</td>
                                            <td data-title="'Nombre'"  style="text-align: center;width: 70px">{{p.parNom != "" ? p.parNom : "No registrado" }}</td>
                                            <td data-title="'Fecha de nacimiento'"  style="text-align: center;width: 70px">{{p.parFecNac != "" ? p.parFecNac : "No registrado" | date: "dd-MM-yyyy"}}</td>
                                            <td data-title="'Edad'"  style="text-align: center;width: 70px">{{p.parFecNac != "" ? p.parEda : "No registrado" }}</td>
                                            <td data-title="'Parentesco'"  style="text-align: center;width: 70px">{{p.parentesco != "" ? p.parentesco : "No registrado" }}</td>
                                            <td data-title="'DNI'"  style="text-align: center;width: 70px">{{p.parDni != "" ? p.parDni : "No registrado" }}</td>
                                            <td data-title="'Acciones'" style="text-align: center;width: 100px">
                                                <button class="btn btn-primary btn-xs" ng-click="prepararEditarPariente(p)">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarPariente(p)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>    
                            </div>
                        </form>
                    </uib-tab>
                    <uib-tab index="1" heading="Datos académicos">
                        <br>
                        <div class="row">
                            <div class = "col-sm-2">
                                <uib-tabset active="tabDatosAcademicos" vertical="true" type="pills" style="border: 2px solid darkblue; border-radius: 8px">
                                    <uib-tab index="0" heading="Formacion Educativa" style="text-align: justify" ng-click="updateOptions(0, optionsDatosAcademicos)"></uib-tab>
                                    <uib-tab index="1" heading="Estudios Complementarios" style="text-align: justify" ng-click="updateOptions(1, optionsDatosAcademicos)"></uib-tab>
                                    <uib-tab index="2" heading="Capacitaciones" style="text-align: justify;" ng-click="updateOptions(2, optionsDatosAcademicos)"></uib-tab>
                                    <uib-tab index="3" heading="Colegiatura" style="text-align: justify" ng-click="updateOptions(3, optionsDatosAcademicos)"></uib-tab>
                                    <!--<uib-tab index="3" heading="Estudios de postgrado" style="text-align: justify;" ng-click="updateOptions(3, optionsDatosAcademicos)"></uib-tab>-->
                                    <uib-tab index="4" heading="Publicaciones" style="text-align: justify;" ng-click="updateOptions(4, optionsDatosAcademicos)"></uib-tab>
                                    <uib-tab index="5" heading="Exposiciones y/o Ponencias" style="text-align: justify;" ng-click="updateOptions(5, optionsDatosAcademicos)"></uib-tab>
                                    
                                </uib-tabset>
                            </div>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[0]" ng-hide="!optionsDatosAcademicos[0]" >
                                <div align="right">  
                                    <button class="btn btn btn-success" ng-click="showNuevaFormacionEducativa()">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                    </button>
                                </div>

                                <div class="dataTables_wrapper form-inline" role="grid">
                                    <div class="table-responsive" >
                                        <table ng-init="listarFormacionesEducativas()" ng-table ="tablaModForEdu"  class="table-hover table-condensed table-bordered">
                                            <colgroup>
                                                <col width="12%" />
                                                <col width="10%" />
                                                <col width="23%" />
                                                <col width="13%" />
                                                <col width="12%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                            </colgroup>

                                            <tr ng-repeat="fe in $data">
                                                <td data-title="'Tipo de formación'"  style="text-align: center;">{{fe.tipFor != "" ? fe.tipFor : "No registrado" }}</td>
                                                <td data-title="'Nivel academico'"  style="text-align: center;">{{fe.nivAca != "" ? fe.nivAca : "No registrado" }}</td>
                                                <!--<td data-title="'Nº de titulo'"  style="text-align: center;">{{fe.numTit != "" ? fe.numTit : "No registrado" }}</td>-->
                                                <td data-title="'Especialidad'"  style="text-align: center;">{{fe.esp != "" ? fe.esp : "No registrado" }}</td>
                                                <td data-title="'Estudios concluidos'"  style="text-align: center;">{{fe.estConDes != "" ? fe.estConDes : "No registrado" }}</td>
                                                <!--<td data-title="'Fecha de expedición'"  style="text-align: center;">{{fe.fecExp != "" ? fe.fecExp : "No registrado" | date : "dd-MM-yyyy"}}</td>-->
                                                <td data-title="'Centro de estudios'"  style="text-align: center;">{{fe.cenEst != "" ? fe.cenEst : "No registrado" }}</td>
                                                <td data-title="'Pais'"  style="text-align: center;">{{fe.pais != "" ? fe.pais : "No registrado" }}</td>
                                                <td data-title="'Acción'" style="text-align: center;">
                                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditarFormacionEducativa(fe)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarFormacionEducativa(fe)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[1]" ng-hide="!optionsDatosAcademicos[1]" >
                                <div align="right">  
                                    <button class="btn btn btn-success" ng-click="showNuevoEstudioComplementario()">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                    </button>
                                </div>

                                <div class="dataTables_wrapper form-inline" role="grid">
                                    <div class="table-responsive">
                                        <table ng-init="listarEstudiosComplementarios()" ng-table ="tablaModEstCom" class="table-hover table-condensed table-bordered">
                                            <colgroup>
                                                <col width="11%" />
                                                <col width="22%" />
                                                <col width="8%" />
                                                <col width="21%" />
                                                <col width="10%" />
                                                <col width="7%" />
                                                <col width="8%" />
                                                <col width="8%" />
                                                <col width="8%" />
                                                <col width="5%" />
                                            </colgroup>
                                            <tr ng-repeat="ec in $data">
                                                <td data-title="'Tipo'"  style="text-align: center;width: 70px">{{ec.tip != "" ? ec.tip : "No registrado" }}</td>
                                                <td data-title="'Descripcion'"  style="text-align: center;width: 70px">{{ec.des != "" ? ec.des : "No registrado" }}</td>
                                                <td data-title="'Nivel'"  style="text-align: center;width: 70px">{{ec.niv != "" ? ec.niv : "No registrado" }}</td>
                                                <td data-title="'Institucion certificadora'"  style="text-align: center;width: 70px">{{ec.insCer != "" ? ec.insCer : "No registrado" }}</td>
                                                <td data-title="'Tipo de participacion'"  style="text-align: center;width: 70px">{{ec.tipPar != "" ? ec.tipPar : "No registrado" }}</td>
                                                <td data-title="'Fecha de inicio'"  style="text-align: center;width: 70px">{{ec.fecIni != "" ? ec.fecIni : "No registrado" | date : "dd-MM-yyyy"}}</td>
                                                <td data-title="'Fecha de termino'"  style="text-align: center;width: 70px">{{ec.fecTer != "" ? ec.fecTer : "No registrado" | date : "dd-MM-yyyy"}}</td>
                                                <!--<td data-title="'Horas Lectivas'"  style="text-align: center;width: 70px">{{ec.horLec != "" ? ec.horLec : "No registrado" }}</td>-->
                                                <td data-title="'País de Certificación'"  style="text-align: center;width: 70px">{{ec.pais != "" ? ec.pais : "No registrado" }}</td>
                                                <td data-title="'Acciones'" style="text-align: center;width: 100px">
                                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditarEstudioComplementario(ec)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarEstudioComplementario(ec)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[2]" ng-hide="!optionsDatosAcademicos[2]" >
                                <div align="right">  
                                    <button class="btn btn btn-success" ng-click="showNuevaCapacitacion()">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                    </button>
                                </div>

                                <div class="dataTables_wrapper form-inline" role="grid">
                                    <div class="table-responsive">
                                        <table ng-init="listarCapacitaciones()" ng-table ="tablaModCapacitaciones" class="table-hover table-condensed table-bordered">
                                            <colgroup>
                                                <col width="30%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="30%" />
                                                <col width="10%" />
                                            </colgroup>
                                            <tr ng-repeat="cap in $data">
                                                <td data-title="'Nombre'"  style="text-align: center;width: 70px">{{cap.nom != "" ? cap.nom : "No registrado" }}</td>
                                                <td data-title="'Tipo'"  style="text-align: center;width: 70px">{{cap.tip != "" ? cap.tip : "No registrado" }}</td>
                                                <td data-title="'Fecha de capacitación'"  style="text-align: center;width: 70px">{{cap.fec !== "" ? cap.fec : "No registrado" | date : "dd-MM-yyyy"}}</td>
                                                <td data-title="'Calificación'"  style="text-align: center;width: 70px">{{cap.cal != "" ? cap.cal : "No registrado" }}</td>
                                                <td data-title="'Lugar '"  style="text-align: center;width: 70px">{{cap.lug != "" ? cap.lug : "No registrado" }}</td>
                                                <td data-title="'Acciones'" style="text-align: center;width: 100px">
                                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditarCapacitacion(cap)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarCapacitacion(cap)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[3]" ng-hide="!optionsDatosAcademicos[3]" >
                                <div class="col-sm-offset-9" align="left">  
                                    <button class="btn btn btn-success" ng-click="showNuevaColegiatura()">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                    </button>
                                </div>

                                <div class="dataTables_wrapper form-inline" role="grid" align="center">
                                    <div class="table-responsive">
                                        <table ng-init="listarColegiaturas()" ng-table ="tablaModColegiaturas" class="table-hover table-condensed table-bordered">
                                            <colgroup>
                                                <col width="40%" />
                                                <col width="25%" />
                                                <col width="25%" />
                                                <col width="10%" />
                                            </colgroup>
                                            <tr ng-repeat="col in $data">
                                                <td data-title="'Colegio Profesional'"  style="text-align: center;">{{col.nomColPro != "" ? col.nomColPro : "No registrado" }}</td>
                                                <td data-title="'Reg. de Nº colegiatura'"  style="text-align: center;">{{col.numRegCol != "" ? col.numRegCol : "No registrado" }}</td>
                                                <td data-title="'Condicion a la Fecha'"  style="text-align: center;">{{col.conRegDes != "" ? col.conRegDes : "No registrado" }}</td>
                                                <td data-title="'Accion'" style="text-align: center;">
                                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditarColegiatura(col)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarColegiatura(col)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            
                            <!--
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[3]" ng-hide="!optionsDatosAcademicos[3]" >
                                <div align="right">  
                                    <button class="btn btn btn-success" ng-click="showNuevoEstudioPostgrado()">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                    </button>
                                </div>

                                <div id="editable-sample_wrapper_3" class="dataTables_wrapper form-inline" role="grid">
                                    <div class="table-responsive">
                                        <table ng-init="listarEstudiosPostgrado()" ng-table ="tablaModEstPos" class="table-hover table-condensed table-bordered">
                                            <colgroup>
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="30%" />
                                                <col width="30%" />
                                                <col width="10%" />
                                            </colgroup>
                                            <tr ng-repeat="ep in $data">
                                                <td data-title="'Tipo'"  style="text-align: center;width: 70px">{{ep.tipDes != "" ? ep.tipDes : "No registrado" }}</td>
                                                <td data-title="'Numero de resolución'"  style="text-align: center;width: 70px">{{ep.numDoc != "" ? ep.numDoc : "No registrado" }}</td>
                                                <td data-title="'Fecha de resolución'"  style="text-align: center;width: 70px">{{ep.fecDoc != "" ? ep.fecDoc : "No registrado" | date : "dd-MM-yyyy"}}</td>
                                                <td data-title="'Tipo de documento'"  style="text-align: center;width: 70px">{{ep.tipDoc != "" ? ep.tipDoc : "No registrado" }}</td>
                                                <td data-title="'Fecha de inicio'"  style="text-align: center;width: 70px">{{ep.fecIniEst != "" ? ep.fecIniEst : "No registrado" | date : "dd-MM-yyyy"}}</td>
                                                <td data-title="'Fecha de termino'"  style="text-align: center;width: 70px">{{ep.fecTerEst != "" ? ep.fecTerEst : "No registrado" | date : "dd-MM-yyyy"}}</td>
                                                <td data-title="'Instituto o universidad'"  style="text-align: center;width: 70px">{{ep.ins != "" ? ep.ins : "No registrado" }}</td>
                                                <td data-title="'País de certificación'"  style="text-align: center;width: 70px">{{ep.pais != "" ? ep.pais : "No registrado" }}</td>
                                                <td data-title="'Resolución'" style="text-align: center;width: 100px">
                                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditarEstudioPostgrado(ep)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarEstudioPostgrado(ep)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            -->
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[4]" ng-hide="!optionsDatosAcademicos[4]" >
                                <div align="right">  
                                    <button class="btn btn btn-success" ng-click="showNuevaPublicacion()">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                    </button>
                                </div>

                                <div class="dataTables_wrapper form-inline" role="grid">
                                    <div class="table-responsive">
                                        <table ng-init="listarPublicaciones()" ng-table ="tablaModPublicaciones" class="table-hover table-condensed table-bordered">
                                            <colgroup>
                                                <col width="28%" />
                                                <col width="10%" />
                                                <col width="28%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="5%" />
                                                <col width="14%" />
                                                <col width="5%" />
                                            </colgroup>
                                            <tr ng-repeat="pub in $data">
                                                <td data-title="'Editorial'"  style="text-align: center;">{{pub.nomEdi != "" ? pub.nomEdi : "No registrado" }}</td>
                                                <td data-title="'Tipo de publicación'"  style="text-align: center;">{{pub.tipPub != "" ? pub.tipPub : "No registrado" }}</td>
                                                <td data-title="'Título de publicación'"  style="text-align: center;">{{pub.titPub != "" ? pub.titPub : "No registrado" }}</td>
                                                <td data-title="'Grado de participación'"  style="text-align: center;">{{pub.graPar != "" ? pub.graPar : "No registrado" }}</td>
                                                <td data-title="'Lugar'"  style="text-align: center;">{{pub.lug != "" ? pub.lug : "No registrado" }}</td>
                                                <td data-title="'Fecha de publicación'"  style="text-align: center;">{{pub.fecPub != "" ? pub.fecPub : "No registrado" | date : "dd-MM-yyyy"}}</td>
                                                <td data-title="'Número de registro'"  style="text-align: center;">{{pub.numReg != "" ? pub.numReg : "No registrado" }}</td>
                                                <td data-title="'Accion'" style="text-align: center;">
                                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditarPublicacion(pub)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarPublicacion(pub)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[5]" ng-hide="!optionsDatosAcademicos[5]" >
                                <div align="right">  
                                    <button class="btn btn btn-success" ng-click="showNuevaExposicion()">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                    </button>
                                </div>

                                <div id="editable-sample_wrapper_4" class="dataTables_wrapper form-inline" role="grid">
                                    <div class="table-responsive">
                                        <table ng-init="listarExposiciones()" ng-table ="tablaModExpPon" class="table-hover table-condensed table-bordered">
                                            <colgroup>
                                                <col width="30%" />
                                                <col width="20%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                            </colgroup>
                                            <tr ng-repeat="eyp in $data">
                                                <td data-title="'Descripción'"  style="text-align: center;width: 70px">{{eyp.des != "" ? eyp.des : "No registrado" }}</td>
                                                <td data-title="'Institución organizadora'"  style="text-align: center;width: 70px">{{eyp.insOrg != "" ? eyp.insOrg : "No registrado" }}</td>
                                                <td data-title="'Tipo de participación'"  style="text-align: center;width: 70px">{{eyp.tipPar != "" ? eyp.tipPar : "No registrado" }}</td>
                                                <td data-title="'Fecha de inicio'"  style="text-align: center;width: 70px">{{eyp.fecIni != "" ? eyp.fecIni : "No registrado" | date : "dd-MM-yyyy"}}</td>
                                                <td data-title="'Fecha de termino'"  style="text-align: center;width: 70px">{{eyp.fecTer != "" ? eyp.fecTer : "No registrado" | date : "dd-MM-yyyy"}}</td>
                                                <td data-title="'Horas Lectivas'"  style="text-align: center;width: 70px">{{eyp.horLec != "" ? eyp.horLec : "No registrado" }}</td>
                                                <td data-title="'Acciones'" style="text-align: center;width: 100px">
                                                    <button class="btn btn-primary btn-xs" ng-click="prepararEditarExposicion(eyp)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarExposicion(eyp)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="Reconocimientos">  
                        <br>

                        <form class="form-horizontal " method="get">
                            <div class="col-sm-offset-11" align="left">  
                                <button class="btn btn btn-success" ng-click="showNuevoReconocimiento()">
                                    <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                </button>
                            </div>

                            <div class="dataTables_wrapper form-inline" role="grid">
                                <div class="table-responsive">
                                    <table ng-init="listarReconocimientos()" ng-table ="tablaModReconocimientos" class="table-hover table-condensed table-bordered">
                                        <colgroup>
                                            <col width="20%" />
                                            <col width="22%" />
                                            <col width="16%" />
                                            <col width="16%" />
                                            <col width="14%" />
                                            <col width="12%" />
                                        </colgroup>
                                        <tr ng-repeat="r in $data">
                                            <td data-title="'Motivo'"  style="text-align: center">{{r.motDes != "" ? r.motDes : "No registrado" }}</td>
                                            <td data-title="'Tipo de documento'"  style="text-align: center">{{r.tipDoc != "" ? r.tipDoc : "No registrado" }}</td>
                                            <td data-title="'Número de resolución'"  style="text-align: center">{{r.numDoc != "" ? r.numDoc : "No registrado" }}</td>
                                            <td data-title="'Fecha de resolución'"  style="text-align: center">{{r.fecDoc !== "" ? r.fecDoc : "No registrado" | date : "dd-MM-yyyy"}}</td>
                                            <td data-title="'Entidad que emite la resolución'"  style="text-align: center">{{r.entEmi != "" ? r.entEmi : "No registrado" }}</td>
                                            <td data-title="'Acciones'" style="text-align: center;">
                                                <button class="btn btn-primary btn-xs" ng-click="prepararEditarReconocimiento(r)">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarReconocimiento(r)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </uib-tab>
                    <uib-tab index="3" heading="Demeritos" ng-disabled="menu">  
                        <br>

                        <form class="form-horizontal " method="get">
                            <div align="right">  
                                <button class="btn btn btn-success" ng-click="showNuevoDemerito()">
                                    <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
                                </button>
                            </div>

                            <div class="dataTables_wrapper form-inline" role="grid">
                                <div class="table-responsive">
                                    <table ng-init="listarDemeritos()" ng-table ="tablaModDemeritos" class="table-hover table-condensed table-bordered">
                                        <colgroup>
                                            <col width="15%" />
                                            <col width="15%" />
                                            <col width="10%" />
                                            <col width="10%" />
                                            <col width="10%" />
                                            <col width="10%" />
                                            <col width="10%" />
                                            <col width="11%" />
                                            <col width="9%" />
                                        </colgroup>
                                        <tr ng-repeat="d in $data">
                                            <td data-title="'Entidad emisora'"  style="text-align: center;width: 70px">{{d.entEmi != "" ? d.entEmi : "No registrado" }}</td>
                                            <td data-title="'Tipo de documento'"  style="text-align: center;width: 70px">{{d.tipDoc !== "" ? d.tipDoc : "No registrado" }}</td>
                                            <td data-title="'Número de resolución'"  style="text-align: center;width: 70px">{{d.numDoc != "" ? d.numDoc : "No registrado" }}</td>
                                            <td data-title="'Fecha de resolución'"  style="text-align: center;width: 70px">{{d.fecDoc !== "" ? d.fecDoc : "No registrado" | date : "dd-MM-yyyy"}}</td>
                                            <td data-title="'Separación definitiva y/o Temporal'"  style="text-align: center;width: 70px">{{d.sepDes != "" ? d.sepDes : "No registrado" }}</td>
                                            <td data-title="'Fecha de inicio'"  style="text-align: center;width: 70px">{{d.fecIni !== "" ? d.fecIni : "No registrado" | date : "dd-MM-yyyy"}}</td>
                                            <td data-title="'Fecha de término'"  style="text-align: center;width: 70px">{{d.fecFin !== "" ? d.fecFin : "No registrado" | date : "dd-MM-yyyy"}}</td>
                                            <td data-title="'Motivo'"  style="text-align: center;width: 70px">{{d.mot != "" ? d.mot : "No registrado" }}</td>
                                            <td data-title="'Acciones'" style="text-align: center;width: 100px">
                                                <button class="btn btn-primary btn-xs" ng-click="prepararEditarDemerito(d)">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarDemerito(d)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </uib-tab>
                </uib-tabset> 
            </div>
        </section>
    </div>
</div>
