<div class="modal fade"  id="modalVisualizarOrganigramaRegLab">
    <div class="modal-dialog modal-lg" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <form name="formTra">
            <div class="modal-header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group ">   
                                <label class="col-sm-5 control-label">Tipo de documento: </label>
                                <div class="col-sm-7">
                                    <select class="form-control" ng-model="desplazamientoSel.tipDocIdIngRe" ng-options="option.id as option.nom for option in tiposDocumentos track by option.id" required>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="form-group ">   
                                <label class="col-sm-5 control-label">Número de documento: </label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="Número de documento" ng-model="desplazamientoSel.numDoc" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Fecha de documento: </label>
                                <div class="col-sm-7">
                                    <p class="input-group">
                                        <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="desplazamientoSel.fecDoc"
                                               is-open="date_1" current-text="Hoy" close-text="Cerrar" clear-text="Limpiar" show-meridian="true" datepicker-options="{startingDay: 1, yearFormat: 'yy'}" required/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group ">   
                                <label class="col-sm-5 control-label ">Jornada Laboral: </label>
                                <div class="col-sm-7">                                
                                    <select class="form-control" ng-model="desplazamientoSel.jorLabIdIngRe" ng-options="option.id as option.nom for option in jornadasLaborales track by option.id" required>
                                            
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Fecha de inicio: </label>
                                <div class="col-sm-7">
                                    <p class="input-group">
                                        <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="desplazamientoSel.fecIni" 
                                               is-open="date_2" current-text="Hoy" close-text="Cerrar" clear-text="Limpiar" show-meridian="true" datepicker-options="{startingDay: 1, yearFormat: 'yy'}" required/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="date_2 = true">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">Organigrama: </label>
                                    <div class="col-sm-7">
                                        <select class="form-control" ng-model="organigrama.id" ng-options="o.datId as o.nomDat for o in organigramas" ng-init="listarDatosOrg()" ng-change="listarTiposOrganismos()" required>
                                            <option value="">-- Seleccione --</option>  
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="table-responsive" ng-show="!mostrarMensaje" ng-hide="mostrarMensaje">
                                    <table class="table table-striped table-hover" ng-table="tablaOrganismos" >
                                        <colgroup>
                                            <col width="5%" />
                                            <col width="20%" />
                                            <col width="20%" />
                                        </colgroup> 
                                        <tr ng-repeat="r in $data">
                                            <td>{{r.i}}</td>
                                            <td>{{r.nomTipOrga}}</td>
                                            <td><select ng-model="arregloSelects[r.i]" ng-options="option as option.nomOrg for option in r.organismosFil track by option.orgId" ng-change="actualizarDescendiente(r.i, arregloSelects[r.i].orgId, $last)">
                                                    <option value="">-- Seleccione --</option>                                                
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <h4 style="text-align:left" ng-show="mostrarMensaje" ng-hide="!mostrarMensaje"><span>{{mensajeOrganigrama}}</span></h4>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">Planilla: </label>
                                    <div class="col-sm-7">
                                        <select class="form-control" ng-model="newTraOrgDetalle.plaId" ng-options="option.plaId as option.nomPla for option in planillas" ng-init="listarPlanillas()" ng-change="listarCategorias()">
                                           
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">Categoría: </label>
                                    <div class="col-sm-7">
                                        <select class="form-control" ng-model="newTraOrgDetalle.catId" ng-options="option.catId as option.nomCat for option in categorias" ng-init="listarCategorias()">
                                            
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">Cargo: </label>
                                    <div class="col-sm-7">
                                        <select class="form-control" ng-model="newTraOrgDetalle.carId" ng-options="option.carId as option.nomCar for option in cargos">
                                            
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>    
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-disabled="formTra.$invalid" data-dismiss="modal" ng-click="registrarTraOrgDet()">Registrar Datos</button>
            </div>
        </div>
    </div>
</div>       
