<div class="modal fade"  id="modalAgregarCese">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Entidad Emisora: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Entidad emisora" ng-model="ceseSel.entEmi">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label ">Tipo de documento: </label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="ceseSel.tipDocId" ng-options="o.id as o.nom for o in tiposDocumentos">
                                    <option value="">-- Seleccione --</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Número de documento: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Número de documento" ng-model="ceseSel.numDoc">
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de documento: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="ceseSel.fecDoc" 
                                           is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label ">Jornada laboral: </label>
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="ceseSel.jorLabId" ng-options="j.id as j.nom for j in jornadasLaborales">
                                    <option value="">-- Seleccione --</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de inicio: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="ceseSel.fecIni" ng-change="calcularAnioPro()" 
                                           is-open="date_2" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_2 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de término: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="ceseSel.fecFin" ng-change="calcularAnioPro()" 
                                           is-open="date_3" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_3 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tiempo Calculado: </label>
                            <table>
                                <tr style="background-color: rgb(255, 246, 228)">
                                    <td>
                                        <label class="col-sm-3 control-label">AÑOS </label>
                                    </td>
                                    <td>
                                        <label class="col-sm-3 control-label">MESES</label>
                                    </td>
                                    <td>
                                        <label class="col-sm-3 control-label">DIAS </label>
                                    </td>
                                </tr>
                                <tr style="background-color: rgb(255, 246, 228)">
                                    <td>
                                        <input type="number" class="form-control" placeholder="AÑOS" min="0" max="150" ng-model="ceseSel.aniosPro">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" placeholder="MESES" min="0" max="12" ng-model="ceseSel.mesesPro">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" placeholder="DIAS" min="0" max="30" ng-model="ceseSel.diasPro">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <br>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Motivo: </label>
                            <div class="col-sm-3">
                                <textarea rows="2" type="text" class="form-control" placeholder="Motivo" ng-model="ceseSel.motCes"></textarea>
                            </div>
                        </div>
                    </form>       
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizarCese()">Registr datos</button>
            </div>
        </div>
    </div>
</div>       
