<div class="modal fade"  id="modalEditarDesplazamiento">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" ng-show="opcion===1" ng-hide="opcion!==1">
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Tipo de documento: </label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="desplazamientoSel.tipDocIdIngRe" ng-options="option.id as option.nom for option in tiposDocumentos">
                                   <option value="">-- Seleccione --</option> 
                                </select>
                            </div>
                        </div> 

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Número de documento: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Número de documento" ng-model="desplazamientoSel.numDoc">
                            </div>
                        </div>

                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de documento: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="desplazamientoSel.fecDoc" 
                                           is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Jornada Laboral: </label>
                            <div class="col-sm-3">                                
                                <select class="form-control" ng-model="desplazamientoSel.jorLabIdIngRe" ng-options="jor.id as jor.nom for jor in jornadasLaborales">
                                   <option value="">-- Seleccione --</option> 
                                </select>
                            </div>
                        </div>

                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de inicio: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="desplazamientoSel.fecIni" 
                                           is-open="date_2" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_2 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal style-form" ng-show="opcion === 2" ng-hide="opcion !== 2">
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Número de documento: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Número de documento" ng-model="desplazamientoSel.numDocTer">
                            </div>
                        </div>

                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de documento: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="desplazamientoSel.fecDocTer" 
                                           is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_3 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Tipo de documento: </label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="desplazamientoSel.tipDocIdRe" ng-options="option.id as option.nom for option in tiposDocumentos ">
                                   <option value="">-- Seleccione --</option> 
                                </select>
                            </div>
                        </div> 

                        <!--<div class="form-group ">   
                            <label class="col-sm-3 control-label ">Jornada Laboral: </label>
                            <div class="col-sm-3">                                
                                <select class="form-control" ng-model="desplazamientoSel.jorLabIdRe" ng-options="option.id as option.nom for option in jornadasLaborales">
                                   <option value="">-- Seleccione --</option> 
                                </select>
                            </div>
                        </div>--->

                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de término: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="desplazamientoSel.fecTer" 
                                           is-open="date_2" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_4 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <br>
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Motivo: </label>
                            <div class="col-sm-3">                                
                                <textarea class="form-control input-sm m-bot15" colspan="2" ng-model="desplazamientoSel.motRet"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="actualizarDesplazamiento()">Registrar datos</button>
            </div>
           
        </div>
    </div>
</div>       
</div>