<div class="modal fade"  id="modalEditarCapacitacion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Nombre: </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Nombre de capacitación" ng-model="capacitacionSel.nom">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Tipo </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Tipo de capacitación" ng-model="capacitacionSel.tip">
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de capacitación: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="capacitacionSel.fec" 
                                           is-open="date_1" current-text="Hoy" close-text="Cerrar" clear-text="Limpiar" show-meridian="true" datepicker-options="{startingDay: 1, yearFormat: 'yy'}"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <br>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Calificación obtenida: </label>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" placeholder="Calificación obtenida" ng-model="capacitacionSel.cal">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Lugar </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Lugar de capacitación" ng-model="capacitacionSel.lug">
                            </div>
                        </div>
                        
                    </form>       
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizarCapacitacion()">Registrar datos</button>
            </div>
        </div>
    </div>
</div>       
