<div class="modal fade"  id="modalVisualizarOrganigramaRegLab">
    <div class="modal-dialog modal-lg" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label ">Tipo de desplazamiento:  </label>
                        <div class="col-sm-7">
                            <select class="form-control" ng-model="opcion" ng-options="o.id as o.nom for o in tiposAscensos track by o.id">
                                <option value="">-- Seleccione --</option> 
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <form class="form-horizontal" role="form" ng-show="opcion === 0" ng-hide="opcion !== 0">
                                <h4 style="text-align:left"><span>{{"No ha elegido el tipo de desplazamiento"}}</span></h4>
                            </form>
                            <form class="form-horizontal" role="form" ng-show="opcion === 1" ng-hide="opcion !== 1">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">Organigrama: </label>
                                    <div class="col-sm-7">
                                        <select class="form-control" ng-model="organigrama.id" ng-options="o.datId as o.nomDat for o in organigramas" ng-init="listarDatosOrg()"  ng-change="listarTiposOrganismos()">
                                            <option value="">-- Seleccione --</option> 
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="table-responsive" ng-show="!mostrarMensaje" ng-hide="mostrarMensaje">
                                    <table class="table table-striped table-hover" ng-table="tablaOrganismosMod" >
                                        <colgroup>
                                            <col width="5%" />
                                            <col width="20%" />
                                            <col width="20%" />
                                        </colgroup> 
                                        <tr ng-repeat="r in $data">
                                            <td>{{r.i}}</td>
                                            <td>{{r.nomTipOrga}}</td>
                                            <td><select ng-model="arregloSelects[r.i]" ng-options="option as option.nomOrg for option in r.organismosFil track by option.orgId" ng-change="actualizarDescendiente(r.i, arregloSelects[r.i].orgId, $last)">
                                                    <option value="">-- Seleccione --</option> 
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <h4 style="text-align:left" ng-show="mostrarMensaje" ng-hide="!mostrarMensaje"><span>{{mensajeOrganigrama}}</span></h4>
                            </form>
                            <form class="form-horizontal" role="form" ng-show="opcion === 2" ng-hide="opcion !== 2">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Planilla(*): </label>
                                    <div class="col-sm-7">
                                        <select class="form-control" ng-model="traOrgDetalleSel.plaId" ng-options="option.plaId as option.nomPla for option in planillas" ng-init="listarPlanillas()" ng-change="listarCategorias()">
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Categoría(*): </label>
                                    <div class="col-sm-7">
                                        <select class="form-control" ng-model="traOrgDetalleSel.catId" ng-options="option.catId as option.nomCat for option in categorias" ng-init="listarCategorias()">
                                            <option value="">-- Seleccione --</option> 
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">Cargo: </label>
                                    <div class="col-sm-7">
                                        <select class="form-control" ng-model="traOrgDetalleSel.carId" ng-options="option.carId as option.nomCar for option in cargos">
                                            <option value="">-- Seleccione --</option> 
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal" role="form" ng-show="opcion === 3" ng-hide="opcion !== 3">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Planilla(*): </label>
                                    <div class="col-sm-7">
                                        <select class="form-control" ng-model="traOrgDetalleSel.plaId" ng-options="option.plaId as option.nomPla for option in planillas" ng-init="listarPlanillas()" ng-change="listarCategorias()">
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Categoría(*): </label>
                                    <div class="col-sm-7">
                                        <select class="form-control" ng-model="traOrgDetalleSel.catId" ng-options="option.catId as option.nomCat for option in categorias" ng-init="listarCategorias()">
                                            <option value="">-- Seleccione --</option> 
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">Cargo: </label>
                                    <div class="col-sm-7">
                                        <select class="form-control" ng-model="traOrgDetalleSel.carId" ng-options="option.carId as option.nomCar for option in cargos">
                                            <option value="">-- Seleccione --</option> 
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-6">
                            <form class="form-horizontal" role="form" ng-show="opcion !== 0" ng-hide="opcion === 0">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Tipo de documento: </label>
                                    <div class="col-sm-9">
                                        <select class="form-control" ng-model="nuevoAscenso.tipDocId" ng-options="option.id as option.nom for option in tiposDocumentos">
                                            <option value="">-- Seleccione --</option> 
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label">N° de documento: </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="N° de documento" ng-model="nuevoAscenso.numDoc">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Fecha de documento </label>
                                    <div class="col-sm-9">
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoAscenso.fecDoc" 
                                                   is-open="date_fecDoc" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="date_fecDoc = true">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Fecha efectiva: </label>
                                    <div class="col-sm-9">
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoAscenso.fecEfe" 
                                                   is-open="date_fecIni" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="date_fecIni = true">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label">Motivo: </label>
                                    <div class="col-sm-9">
                                        <textarea row="2" type="text" class="form-control" placeholder="Motivo" ng-model="nuevoAscenso.mot"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="realizarRotacion()">Registrar datos</button>
            </div>
        </div>     
    </div>
</div>     
