<div class="row fichaEvaluacion">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrl.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Detalles de Programacion Curricular Anual</h4>
            </header>
            <div class="panel-body">
                <uib-tabset active="active" justified="true">
                    <uib-tab index="0" heading="Datos Generales">
                        <div class="form-panel">
                            <div class="form-horizontal style-form" >
                                <fieldset >
                                    <header class="panel-heading">
                                        <h4 style="display:inline;line-height: 1.9">Descripcion</h4>
                                        <span class="tools pull-right">
                                           <input type="checkbox" ng-init="ctrl.editDes = true" ng-click="ctrl.editDes = !ctrl.editDes"/>
                                            <label>Editar</label>
                                        </span>
                                    </header>
                                    <div class="panel-body">
                                        <form class="form-horizontal style-form">
                                            <div class="form-group" >
                                                <div class="col-sm-12">
                                                    <textarea class="form-control" ng-model="ctrl.prog.nom" ng-disabled="ctrl.editDes"></textarea>
                                                </div>
                                            </div>
                                        </form>
                                        <div>
                                            <span class="tools pull-right">
                                                 <button type="submit" class="btn btn-primary btn-xs" ng-disabled="ctrl.editDes">Guardar</button>
                                            </span>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <header class="panel-heading">
                                        <h4 style="display:inline;line-height: 1.9">Objetivos</h4>
                                    </header>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <table ng-table="ctrl.objetivos.pr" class="table table-bordered table-hover table-condensed editable-table" >
                                                    <colgroup>
                                                        <col width="5%" />
                                                        <col width="78%" />
                                                        <col width="22%" />
                                                    </colgroup>
                                                    <tr>
                                                        <th></th>
                                                        <th>Objetivos Principales</th>
                                                        <th>
                                                            <button class="btn btn-primary btn-xs" ng-disabled = "ctrl.isSaving" ng-click="ctrl.nuevoObjetivo('pr')">
                                                                <span class="glyphicon glyphicon-plus-sign"></span>
                                                            </button>
                                                        </th>
                                                    </tr>
                                                    <tr  ng-repeat="row in $data" ng-form="rowFormCapacidad">
                                                        <td ng-form="index">
                                                            <span>{{$index +1}}</span>
                                                        </td>
                                                        <td ng-form="nom" ng-switch="row.edit">
                                                            <span ng-switch-default>{{row.nom}}</span>
                                                            <div class="controls"   ng-switch-when="true">
                                                                <input type="text" name="nom" ng-model="row.nom" class="editable-input form-control input-sm" required />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-primary btn-xs" ng-if="!row.edit" ng-click="ctrl.editarObjetivo(row,row.tip)">
                                                                <span class="glyphicon glyphicon-pencil"></span>
                                                            </button>
                                                            <button class="btn btn-primary btn-xs" ng-if="row.edit" ng-click="ctrl.aceptarEdicionObjetivo(row,row.tip)">
                                                                <span class="glyphicon glyphicon-ok"></span>
                                                            </button>
                                                            <button class="btn btn-danger btn-xs md-primary md-raised" ng-if="!row.edit" ng-click="ctrl.eliminarObjetivo($event,row,row.tip)">
                                                                <span class="glyphicon glyphicon-trash"></span>
                                                            </button>
                                                            <button class="btn btn-danger btn-xs md-primary md-raised" ng-if="row.edit" ng-click="ctrl.cancelarEdicionObjetivo(row,row.tip)">
                                                                <span class="glyphicon glyphicon-remove"></span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <table ng-table="ctrl.objetivos.es" class="table table-bordered table-hover table-condensed editable-table" >
                                                    <colgroup>
                                                        <col width="5%" />
                                                        <col width="78%" />
                                                        <col width="22%" />
                                                    </colgroup>
                                                    <tr>
                                                        <th></th>
                                                        <th>Objetivos Especificos</th>
                                                        <th>
                                                            <button class="btn btn-primary btn-xs" ng-disabled = "ctrl.isSaving" ng-click="ctrl.nuevoObjetivo('es')">
                                                                <span class="glyphicon glyphicon-plus-sign"></span>
                                                            </button>
                                                        </th>
                                                    </tr>
                                                    <tr  ng-repeat="row in $data" ng-form="rowFormCapacidad">
                                                        <td ng-form="index">
                                                            <span>{{$index +1}}</span>
                                                        </td>
                                                        <td ng-form="nom" ng-switch="row.edit">
                                                            <span ng-switch-default>{{row.nom}}</span>
                                                            <div class="controls"   ng-switch-when="true">
                                                                <input type="text" name="nom" ng-model="row.nom" class="editable-input form-control input-sm" required />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-primary btn-xs" ng-if="!row.edit" ng-click="ctrl.editarObjetivo(row,row.tip)">
                                                                <span class="glyphicon glyphicon-pencil"></span>
                                                            </button>
                                                            <button class="btn btn-primary btn-xs" ng-if="row.edit" ng-click="ctrl.aceptarEdicionObjetivo(row,row.tip)">
                                                                <span class="glyphicon glyphicon-ok"></span>
                                                            </button>
                                                            <button class="btn btn-danger btn-xs md-primary md-raised" ng-if="!row.edit" ng-click="ctrl.eliminarObjetivo($event,row,row.tip)">
                                                                <span class="glyphicon glyphicon-trash"></span>
                                                            </button>
                                                            <button class="btn btn-danger btn-xs md-primary md-raised" ng-if="row.edit" ng-click="ctrl.cancelarEdicionObjetivo(row,row.tip)">
                                                                <span class="glyphicon glyphicon-remove"></span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Valores y Actitudes">
                        <div class="form-panel">
                            <div class="form-horizontal style-form" >
                                <fieldset >
                                    <header class="panel-heading">
                                        <h4 style="display:inline;line-height: 1.9">Valores y Actitudes</h4>
                                        <span class="tools pull-right">
                                            <button type="submit" class="btn btn-primary btn-xs" ng-click="ctrl.agregarValor()">Nuevo</button>
                                        </span>
                                    </header>
                                    <div class="panel-body">
                                        <table ng-table="ctrl.tablaValores" class="table table-bordered table-hover table-condensed editable-table">
                                            <colgroup>
                                                <col width="5%" />
                                                <col width="30%" />
                                                <col width="25%" />
                                                <col width="20%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                            </colgroup>
                                            <tr ng-repeat="row in $data" ng-form="rowFormPersona">
                                                <td data-title="'N°'"><span>{{$index + 1}}</span></td>
                                                <td sortable="'nom'"  ng-form="nom" data-title="'Situacion Significativa'"><span>{{row.sit}}</span></td>
                                                <td sortable="'dia'"  ng-form="dia" data-title="'Contenido'"><span>{{row.con}}</span></td>
                                                <td sortable="'ini'"  ng-form="ini" data-title="'Valores'"><span>{{row.val}}</span></td>
                                                <td>
                                                    <button class="btn btn-primary btn-xs" ng-click="ctrl.editarValor(row)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs" ng-click="ctrl.eliminarValor($event,row)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="Unidades Didacticas">
                        <div class="form-panel">
                            <div class="form-horizontal style-form" >
                                <fieldset >
                                    <header class="panel-heading">
                                        <h4 style="display:inline;line-height: 1.9">Unidades Didacticas</h4>
                                        <span class="tools pull-right">
                                            <button type="submit" class="btn btn-primary btn-xs" ng-click="ctrl.agregarUnidad()">Nuevo</button>
                                        </span>
                                    </header>
                                    <div class="panel-body">
                                        <table ng-table="ctrl.tablaUnidades" class="table table-bordered table-hover table-condensed editable-table">
                                            <colgroup>
                                                <col width="5%" />
                                                <col width="25%" />
                                                <col width="15%" />
                                                <col width="25%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                            </colgroup>
                                            <tr ng-repeat="row in $data" ng-form="rowFormPersona">
                                                <td data-title="'N°'"><span>{{$index + 1}}</span></td>
                                                <td sortable="'nom'"  ng-form="nom" data-title="'Nombre de la Unidad'"><span>{{row.nom}}</span></td>
                                                <td sortable="'tip'"  ng-form="tip" data-title="'Tipo de Unidad'"><span>{{ctrl.mostrarTipoUnidad(row.tip)}}</span></td>
                                                <td sortable="'sit'"  ng-form="sit" data-title="'Situacion Significativa'"><span>{{row.sit}}</span></td>
                                                <td sortable="'ini'"  ng-form="ini" data-title="'Fecha Inicio'"><span>{{row.ini |date:'dd-MM-yyyy'}}</span></td>
                                                <td sortable="'fin'"  ng-form="fin" data-title="'Fecha Fin'"><span>{{row.fin | date:'dd-MM-yyyy'}}</span></td>
                                                <td>
                                                    <button class="btn btn-primary btn-xs" ng-click="ctrl.editarUnidad(row)">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs" ng-click="ctrl.eliminarUnidad($event,row)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </uib-tab>
                    <!--<uib-tab index="3" heading="Metodologias">
                        <div class="form-panel">
                            <div class="form-horizontal style-form" >
                                <fieldset >
                                    <header class="panel-heading">
                                        <h4 style="display:inline;line-height: 1.9">Agregar Metodologia</h4>
                                        <span class="tools pull-right">
                                            <button type="submit" class="btn btn-primary btn-xs" ng-click="ctrl.agregarMetodologia()">Nuevo</button>
                                        </span>
                                    </header>
                                    <div class="panel-body">

                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </uib-tab>-->
                </uib-tabset>
            </div>
        </section>
    </div>
</div>
<script type="text/ng-template" id="nueva_unidad.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">{{ctrl.titulo}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal style-form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Tipo: </label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-disabled="ctrl.edit" ng-model="ctrl.uni.tip"  ng-options="s.nom for s in ctrl.tipoUnidad track by s.id"></select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.uni.nom"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Situacion Significativa: </label>
                        <div class="col-sm-10">
                            <textarea class="form-control" ng-model="ctrl.uni.sit" rows="4" cols="60"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Periodo de Evaluacion:</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="ctrl.periodo" ng-options="s.nom for s in ctrl.periodos track by s.id" ng-change="ctrl.cambiarFechas(ctrl.periodo)">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Fecha de Inicio:</label>
                        <div style="padding-left: 15px;" class="input-group col-sm-4 form-inline">
                            <input name="fecini" type="text" class="form-control"  uib-datepicker-popup="dd-MMMM-yyyy" ng-model="ctrl.uni.ini" is-open="ctrl.abrirIniCalendar"
                                   datepicker-options="ctrl.dateIniOptions" close-text="Cerrar" today-text="Hoy" clear-text="Limpiar" required/>
                            <span ng-show="myForm.fecini.$error.required">Este Campo es Requerido</span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openIniCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>

                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Fecha de Fin:</label>
                        <div style="padding-left: 15px;" class="input-group col-sm-4 form-inline" >
                            <input name="fecfin" type="text" class="form-control"  uib-datepicker-popup="dd-MMMM-yyyy" ng-model="ctrl.uni.fin" is-open="ctrl.abrirFinCalendar"
                                   datepicker-options="ctrl.dateFinOptions" close-text="Cerrar" today-text="Hoy" clear-text="Limpiar" required/>
                            <span ng-show="myForm.fecini.$error.required">Este Campo es Requerido</span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openFinCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div ng-if="!ctrl.edit" class="form-group">
                        <label class="col-sm-2 control-label">Competencias y Capacidades:</label>
                        <div class="col-sm-10 form-inline">
                            <section-table model="ctrl.model"></section-table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.save()">Guardar</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="nuevo_valor.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">{{ctrl.titulo}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal style-form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Situacion Significativa: </label>
                        <div class="col-sm-10">
                            <textarea class="form-control" ng-model="ctrl.val.sit" rows="4" cols="60"></textarea>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Contenido: </label>
                        <div class="col-sm-10">
                            <textarea class="form-control" ng-model="ctrl.val.con" rows="4" cols="60"></textarea>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Valor: </label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="ctrl.val.val"  ng-options="s.nom as s.nom for s in ctrl.valores track by s.id"></select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.save()">Guardar</button>
        </div>
    </div>
</script>