<div class="row fichaEvaluacion">
    <div class="col-lg-12">
        <section class="panel" ng-show="ctrlunidadDidactica.window[0]">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrlunidadDidactica.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Unidades Didacticas</h4>
                <span class="tools pull-right">
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="ctrlplanCurricular.listar()">Listar</button>
                </span>
            </header>
            <div class="panel-body">
                <table ng-table="ctrlunidadDidactica.tablaUnidades" class="table table-bordered table-hover table-condensed editable-table">
                    <colgroup>
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="8%" />
                    </colgroup>
                    <tr ng-repeat="row in $data" ng-form="rowFormPersona">
                        <td ng-form="org" data-title="'Colegio'"><span>{{row.org.nom}}</span></td>
                        <td filter="{'are.nom': 'select'}" filter-data="ctrlunidadDidactica.areas" ng-form="are" data-title="'Area'"><span>{{row.are.nom}}</span></td>
                        <td filter="{'grad.nom': 'select'}" filter-data="ctrlunidadDidactica.grados" ng-form="grad" data-title="'Grado'"><span>{{row.grad.nom}}</span></td>
                        <td filter="{'prog.nom': 'select'}" filter-data="ctrlunidadDidactica.planes" ng-form="prog" data-title="'Programacion'"><span>{{row.prog.nom}}</span></td>
                        <td filter="{tip: 'select'}" filter-data="ctrlunidadDidactica.tipoUnidad" data-title="'Tipo de Unidad'"><span>{{ctrlunidadDidactica.mostrarTipoUnidad(row.tip)}}</span></td>
                        <td sortable="'nom'"  ng-form="nom" data-title="'Nombre de la Unidad'"><span>{{row.tit}}</span></td>
                        <td>
                            <button class="btn btn-warning btn-xs" ng-click="ctrlunidadDidactica.ver(row)">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button class="btn btn-danger btn-xs" ng-click="ctrlunidadDidactica.eliminarUnidad($event,row)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
        <section class="panel" ng-show="ctrlunidadDidactica.window[1]">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrlunidadDidactica.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Detalle Unidad de Aprendizaje</h4>
            </header>
            <div class="panel-body">

            </div>
        </section>
    </div>
</div>