<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">ORGANIGRAMAS</h4>
            </header>
            <div class="panel-body">
                <uib-tabset active="tabPrincipal" justified="true" >

                    <uib-tab index="0" heading="Organigrama">
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed editable-table" ng-table ="tablaDatos" ng-init="listarDatos()">
                                <colgroup>
                                    <col width="5%" />
                                    <col width="10%" />
                                    <col width="30%" />
                                    <col width="30%" />
                                    <col width="10%" />
                                    <col width="5%" />
                                    <col width="10%" />
                                </colgroup>
                                <tr ng-repeat="p in $data">
                                    <td data-title="'N°'" style="text-align: center"><span>{{$index + 1}}</span></td>
                                    <td td filter="{codDat: 'text'}" sortable="'codDat'"  ng-form="codDat" data-title="'Código del Organigrama'"  style="text-align: center">{{p.codDat}}</td>
                                    <td td filter="{nomDat: 'text'}" sortable="'nomDat'"  ng-form="nomDat" data-title="'Nombre del Organigrama'"  style="text-align: center">{{p.nomDat}}</td>
                                    <td td filter="{desDat: 'text'}" sortable="'desDat'"  ng-form="desDat" data-title="'Descripción del Organigrama'"  style="text-align: center">{{p.desDat}}</td>
                                    <td td filter="{anioDat: 'text'}" sortable="'anioDat'"  ng-form="anioDat" data-title="'Año del Organigrama'"  style="text-align: center">{{p.anioDat}}</td>
                                    <td data-title="'Estado'"  style="text-align: center">{{p.estReg}}</td>

                                    <td data-title="'Acción'" style="text-align: center">
                                        <button title="Editar" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalnuevodatosOrgani" ng-click="cargarFormularioDato(p)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button title="Eliminar" class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarDatOrganigrama(p)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr> 
                            </table>

                            <div align="right" >
                                <button title="Crear Nuevo Datos Organigrama" style="float:right;" class="btn btn btn-primary" data-toggle="modal" data-target="#modalnuevodatosOrgani" ng-click="limpiarFormularioDato()"><i class="fa fa-plus"></i>Nuevo</button>
                            </div>
                        </div>

                    </uib-tab>

                    <uib-tab index="1" heading="Niveles de Jerarquia">
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed editable-table" ng-table ="tablaTiposOrganigrama" ng-init="listarTipoOrganigrama()">
                                <colgroup>
                                    <col width="5%" />
                                    <col width="10%" />
                                    <col width="25%" />
                                    <col width="25%" />
                                    <col width="20%" />
                                    <col width="5%" />
                                    <col width="10%" />
                                </colgroup>
                                <tr ng-repeat="cat in $data">
                                    <td data-title="'N°'" style="text-align: center"><span>{{$index + 1}}</span></td>
                                    <td td filter="{codTipOrga: 'text'}" sortable="'codTipOrga'"  ng-form="codTipOrga" data-title="'Código de Nivel Jerarquia'"  style="text-align: center">{{cat.codTipOrga}}</td>
                                    <td td filter="{nomTipOrga: 'text'}" sortable="'nomTipOrga'"  ng-form="nomTipOrga" data-title="'Nombre de Nivel Jerarquia'"  style="text-align: center">{{cat.nomTipOrga}}</td>
                                    <td td filter="{desTipOrga: 'text'}" sortable="'desTipOrga'"  ng-form="desTipOrga" data-title="'Descripción de Nivel Jerarquia'"  style="text-align: center">{{cat.desTipOrga}}</td>
                                    <td td filter="{datNom: 'text'}" sortable="'datNom'"  ng-form="datNom" data-title="'Nombre y Año de Organigrama'"  style="text-align: center">{{cat.datNom}}</td>
                                    <td data-title="'Estado'"  style="text-align: center">{{cat.estReg}}</td>
                                    <td data-title="'Acción'" style="text-align: center">
                                        <button title="Editar" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalnuevoTipoOrgani" ng-click="cargarFormularioTipoOrganigrama(cat)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button title="Eliminar" class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarTipoOrganigrama(cat)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr> 
                            </table>

                            <div align="right" >
                                <button title="Crear Niveles de Jerarquia" style="float:right;" class="btn btn btn-primary" data-toggle="modal" data-target="#modalnuevoTipoOrgani" ng-click="limpiarFormularioTipoOrganigrama()"><i class="fa fa-plus"></i> Nuevo</button>
                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab index="2" heading="Entidades">
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed editable-table" ng-table ="tablaOrganigrama" ng-init="listarOrganigramas()">
                                <colgroup>
                                    <col width="5%" />
                                    <col width="5%" />
                                    <col width="5%" />
                                    <col width="20%" />
                                    <col width="10%" />
                                    <col width="15%" />
                                    <col width="10%" />
                                    <col width="15%" />
                                    <col width="5%" />
                                    <col width="10%" />
                                </colgroup>
                                <tr ng-repeat="orga in $data">
                                    <td data-title="'N°'" style="text-align: center"><span>{{$index + 1}}</span></td>
                                    <td td filter="{codOrg: 'text'}" sortable="'codOrg'"  ng-form="codOrg" data-title="'Código de Entidad'"  style="text-align: center">{{orga.codOrg}}</td>
                                    <td td filter="{abrOrg: 'text'}" sortable="'abrOrg'"  ng-form="abrOrg" data-title="'Abreviatura de Entidad'"  style="text-align: center">{{orga.abrOrg}}</td>
                                    <td td filter="{nomOrg: 'text'}" sortable="'nomOrg'"  ng-form="nomOrg" data-title="'Nombre de Entidad'"  style="text-align: center">{{orga.nomOrg}}</td>
                                    <td td filter="{datOrg: 'text'}" sortable="'datOrg'"  ng-form="datOrg" data-title="'Datos de Entidad'"  style="text-align: center">{{orga.datOrg}}</td>
                                    <td td filter="{tipNom: 'text'}" sortable="'tipNom'"  ng-form="tipNom" data-title="'Nivel de Jerarquia'"  style="text-align: center">{{orga.tipNom}}</td>
                                    <td td filter="{orgNomPad: 'text'}" sortable="'orgNomPad'"  ng-form="orgNomPad" data-title="'Entidad Padre'"  style="text-align: center">{{orga.orgNomPad}}</td>
                                    <td td filter="{datNom: 'text'}" sortable="'datNom'"  ng-form="datNom" data-title="'Nombre y Año de Organigrama'"  style="text-align: center">{{orga.datNom}}</td>
                                    <td data-title="'Estado'"  style="text-align: center">{{orga.estReg}}</td>
                                    <td data-title="'Acción'" style="text-align: center">
                                        <button title="Editar" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalnuevoorganigrama" ng-click="cargarFormularioOrganigrama(orga)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button title="Eliminar" class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarOrganismo(orga)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr> 
                            </table>

                            <div align="right" >
                                <button title="Crear Nuevo Organigrama" style="float:right;" class="btn btn btn-primary" data-toggle="modal" data-target="#modalnuevoorganigrama" ng-click="limpiarFormularioOrganigrama()"><i class="fa fa-plus"></i> Nuevo</button>
                            </div>
                        </div>
                    </uib-tab>


                </uib-tabset>
            </div>
        </section>



        <!---------->
        <!----- MODEL Datos Organigrama ----->

        <div class="modal fade" id="modalnuevodatosOrgani" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
            <div class="modal-dialog">
                <div class ="modal-content">
                    <div class ="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Datos del Organigrama</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal style-form">
                            <form name="myForm2">
                            <div class="form-panel" ng-init="">
                                <!-- ---------------------------------------------------- -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Codigo(*):</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="item_datOganigrama.codDat" required >   
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Nombre de Organigrama(*):</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="item_datOganigrama.nomDat" required> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Descripción del Organigrama(*): </label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="item_datOganigrama.desDat" required> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Año del Organigrama(*): </label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="item_datOganigrama.anioDat" required> 
                                    </div>
                                </div>
                                <br>
                                
                            </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default"  data-dismiss="modal">Cancelar</button>
                                    <button class="btn btn btn-primary" ng-disabled="myForm2.$invalid" ng-click="procesarDatOrg()"><i class="fa fa-save" ></i>Guardar</button>
                                </div>
                        </form>
                            </div>
                                <!-- ---------------------------------------------------- -->
                            </div> 
                        </div>
                    </div>
                </div>
            
        
        <!---------->
        <!----- MODEL Tipos de Organismos ----->

        <div class="modal fade" id="modalnuevoTipoOrgani" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
            <div class="modal-dialog">
                <div class ="modal-content">
                    <div class ="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Niveles de Jerarquia</h4>
                    </div>
                    <div class="modal-body">
                        <form name="myForm">
                        <div class="form-horizontal style-form">
                            <div class="form-panel" ng-init="">
                                <!-- --------------------------lista de organimgrama-------------------------- -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Nombre y Año de Organigrama(*):</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control input-sm" ng-model="item_tipoOrg.datId" ng-options="datOrga.datId as datOrga.nomDat + ' ' +  datOrga.anioDat for datOrga in settingDatos.dataset">
                                            <option value="" disabled selected hidden>Seleccione el organigrama</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Codigo Nivel Jerarquia(*):</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="item_tipoOrg.codTipOrga" required> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Nombre Nivel Jerarquia(*):</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="item_tipoOrg.nomTipOrga" required> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Descripcion Nivel Jerarquia(*):</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="item_tipoOrg.desTipOrga" required> 
                                    </div>
                                </div>
                                <br>
                            </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default"  data-dismiss="modal">Cancelar</button>
                                    <button class="btn btn btn-primary" ng-disabled="myForm.$invalid" ng-click="procesarTipoOrganismo()"><i class="fa fa-save" ></i>Guardar</button>
                                </div>
                            </div>
                    </form>
                                 
                                <!-- ---------------------------------------------------- -->
                            </div> 
                        </div>
                    </div>
                </div>
            
        


        <!---------->
        <!----- MODEL Organismos ----->

        <div class="modal fade" id="modalnuevoorganigrama" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
            <div class="modal-dialog">
                <div class ="modal-content">
                    <div class ="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">ENTIDAD</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal style-form">
                            <form name="myForm1">
                            <div class="form-panel" ng-init="listarZonas()">
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Nivel de Jerarquia(*)</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control input-sm" ng-model="item_organigrama.tipId" ng-change="listarOrgPadre()" ng-options="tipOrga.tipId as tipOrga.nomTipOrga  for tipOrga in settingTiposOrganigrama.dataset">
                                            <option value="" disabled selected hidden>Seleccione el nivel de la entidad</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Entidad Padre</label>
                                    <div class="col-sm-4">
                                        <select class="form-control input-sm" ng-model="item_organigrama.orgIdPad"  ng-options="orgPadre.orgId as orgPadre.nomOrg  for orgPadre in orgPasdSel">
                                            <option value="" selected>Opcional</option>
                                        </select> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Codigo de Entidad(*)</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="item_organigrama.codOrg" required> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Abreviatura Entidad(*)</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="item_organigrama.abrOrg" required> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Nombre de Entidad(*)</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="item_organigrama.nomOrg" required> 
                                    </div>
                                </div>
                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Datos de Entidad(*)</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="item_organigrama.datOrg" required> 
                                    </div>
                                </div>
                                <br>
                                <!-- ---------------------------------------------------- -->
                                <h4 class="modal-title" id="myModalLabel">Ubicacion de la Entidad</h4>
                                <div class="form-group" >
                                    <label class="col-sm-3 control-label">Zona</label>
                                    <div class="col-sm-4">
                                        <select class="form-control input-sm"  ng-model="item_organigrama.ubiId"  ng-options="zonas.zonaId as zonas.nomZon  for zonas in zonasOrg">
                                            <option value="" selected >Opcional</option>
                                        </select>
                                            
                                    </div>
                                </div>
                                <br>
                            </div>
                            
                                <div class="modal-footer">
                                    <button class="btn btn btn"  data-dismiss="modal">Cancelar</button>
                                    <button class="btn btn btn-primary"  ng-disabled="myForm1.$invalid" ng-click="procesarOrganigrama()"><i class="fa fa-save" ></i>Guardar</button>
                                </div>
                        </form>
                                 
                                
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        


    </div>
</div>     
