<div class="row fichaEvaluacion">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrlBancoCompetencias.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Banco de Competencias</h4>
                <span class="tools pull-right">
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="ctrlBancoCompetencias.nuevaCompetencia()">Nuevo</button>
                </span>
            </header>
            <div class="panel-body">
                <table ng-table="ctrlBancoCompetencias.tablaCompetencias" class="table table-bordered table-hover table-condensed editable-table" >
                    <colgroup>
                        <col width="5%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="25%" />
                        <col width="25%" />
                        <col width="5%" />
                        <col width="10%" />
                    </colgroup>
                    <tr ng-repeat="row in $data" ng-form="rowFormCargo">
                        <td ng-form="num" data-title="'N°'"><span>{{$index}}</span></td>
                        <td ng-form="dcn" data-title="'Curricula'"><span>{{row.cur}}</span></td>
                        <td ng-form="are" data-title="'Area'"><span>{{row.are.nom}}</span></td>
                        <td filter="{nom: 'text'}" sortable="'nom'"  ng-form="nom" data-title="'Nombre'"><span>{{row.nom}}</span></td>
                        <td ng-form="des" data-title="'Descripcion'"><span>{{row.des}}</span></td>
                        <td ng-form="nca" data-title="'N° Capacidades'"><span>{{row.cap}}</span></td>
                        <td>
                            <button class="btn btn-warning btn-xs" ng-click="ctrlBancoCompetencias.verDetalle(row)">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button class="btn btn-primary btn-xs" ng-click="ctrlBancoCompetencias.editarCompetencia(row)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-danger btn-xs md-primary md-raised" ng-click="ctrlBancoCompetencias.eliminarCompetencia($event,row)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>
<script type="text/ng-template" id="nueva_competencia.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">{{ctrl.titulo}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal style-form">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Curricula: </label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="ctrl.cur"  ng-options="s.nom for s in ctrl.currs track by s.id"></select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Area: </label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="ctrl.are"  ng-change="ctrl.cambiarArea(ctrl.are)" ng-options="s.nom for s in ctrl.areas track by s.cod"></select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.com.nom"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Descripcion: </label>
                        <div class="col-sm-10">
                            <textarea class="form-control" ng-model="ctrl.com.des" rows="4" cols="60"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.save()">Guardar</button>
        </div>
    </div>
</script>