<div class="modal fade"  id="modalAgregarEstudioPostgrado">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tipo </label>
                            <div class="col-sm-3">
                                <select class="form-control input-sm m-bot15" ng-model="nuevoEstPos.tip" >
                                   <option ng-repeat="tep in tiposEstPos" value="{{tep.id}}">{{tep.title}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Número de documento </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Descripción" ng-model="nuevoEstPos.numDoc">
                            </div>
                        </div>
                    
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de documento: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoEstPos.fecDoc" 
                                           is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Tipo de documento: </label>
                            <div class="col-sm-9">
                                <select class="form-control input-sm m-bot15" ng-model="nuevoEstPos.tipDoc" required>
                                   <option ng-repeat="t in tipDocs" value="{{t}}">{{t}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de inicio: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoEstPos.fecIniEst" 
                                           is-open="date_2" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_2 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de término: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoEstPos.fecTerEst" 
                                           is-open="date_3" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_3 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Instituto y/o Universidad: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Instituto y/o Universidad" ng-model="nuevoEstPos.ins">
                            </div>
                        </div>
                        
                         <div class="form-group ">   
                            <label class="col-sm-3 control-label ">País donde se obtuvo el estudio: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="País" ng-model="nuevoEstPos.pais">
                            </div>
                        </div>
                        
                        <!--
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Adjuntar certificado/diploma </label>
                            <div class="col-sm-3 form-inline">
                                <input-file nombre="nuevoLegajoEP.nom" archivo="nuevoLegajoEP.archivo"></input-file>
                                <view-file url="{{nuevoLegajoEP.url}}" nombre="nuevoLegajoEP.nom" archivo="nuevoLegajoEP.archivo" vernombre='true'></view-file>
                            </div>
                        </div> 
                        
                        -->
                       
                    </form>       
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>

                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="agregarEstudioPostgrado()">Registrar datos</button>

            </div>
        </div>
    </div>
</div>       
