<div class="modal fade"  id="modalAgregarPariente">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        <div class="form-group" >
                            <label class="col-sm-3 control-label">Parentesco *: </label>
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="nuevoPariente.tipoPariente">
                                   <option ng-repeat="p in tipoParentesco" value="{{p.tpaId}}">{{p.tpaDes}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label"> Apellido Paterno *: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Apellido Paterno" ng-model="nuevoPariente.parApePat">
                            </div>
                        </div> 

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label"> Apellido Materno *: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Apellido Materno" ng-model="nuevoPariente.parApeMat">
                            </div>
                        </div> 

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label"> Nombres *: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Nombres" ng-model="nuevoPariente.parNom">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label ">Sexo *: </label>
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="nuevoPariente.parSex">
                                    <option ng-repeat="s in sexoPariente" value="{{s.id}}">{{s.title}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de nacimiento *:</label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoPariente.parFecNac" 
                                           is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">DNI* : </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" maxlength="8" placeholder="DNI" ng-model="nuevoPariente.parDni">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Descuento(%) por retención judicial: </label>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" placeholder="Porcentaje(%)" maxlength="2" ng-model="nuevoPariente.retJud">
                            </div>
                        </div>

                        <div class="form-group form-inline">   
                            <label class="col-sm-3 control-label">Teléfono fijo: </label>
                            <div style="padding-left: 15px;" class="input-group col-sm-4 form-inline">
                                <input type="text" maxlength="10" class="form-control" placeholder="Teléfono fijo" ng-model="nuevoPariente.parFij">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" disabled="disabled"><i class="glyphicon glyphicon-earphone"></i></button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Celular1: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" maxlength="10" placeholder="Número Móvil1" ng-model="nuevoPariente.parNum1">
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Celular2: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" maxlength="10" placeholder="Número Móvil2" ng-model="nuevoPariente.parNum2">
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Email: </label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="Correo electrónico" ng-model="nuevoPariente.parEmail">
                            </div>
                        </div>
                    </form>       
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>

                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="agregarPariente()">Registrar datos</button>

            </div>
        </div>
    </div>
</div>       
