<div class="modal fade"  id="modalAgregarDesplazamiento">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <form name="formR">
            <div class="modal-body">
                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tipo de documento: </label>
                            <div class="col-sm-9">
                                <select class="form-control input-sm m-bot15" ng-model="nuevoDesplazamiento.tipDoc" required>
                                   <option ng-repeat="t in tipDocs" value="{{t}}">{{t}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Número de documento: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Número de documento" ng-model="nuevoDesplazamiento.numDoc">
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de documento: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoDesplazamiento.fecDoc" 
                                           is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Jornada Laboral: </label>
                            <div class="col-sm-3">
                                <select class="form-control input-sm m-bot15" ng-model="nuevoDesplazamiento.jorLab" required>
                                   <option ng-repeat="j in jorLabs" value="{{j}}">{{j}}</option>
                                </select>
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de inicio(*): </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoDesplazamiento.fecIni" 
                                           is-open="date_2" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_2 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>       
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-disabled="formR.$invalid" data-dismiss="modal">Registrar datos</button>
                <!--<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="agregarDesplXReingreso(); actualizarDatCenLabReingreso();">Registrar datos</button>-->
            
            </div>
            </form>    
        </div>
    </div>
</div>       
