<div class="modal fade" id="modalAgregarFormacionEducativa">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tipo Formación: </label>
                            <div class="col-sm-3">
                                <select class="form-control input-sm m-bot15" ng-model="nuevaForEdu.tip">
                                   <option ng-repeat="tf in tiposFormacion" value="{{tf.id}}">{{tf.title}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label"> Nivel academico: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Nivel academico" ng-model="nuevaForEdu.niv">
                            </div>
                        </div> 

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label"> Nº de titulo: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Numero de titulo" ng-model="nuevaForEdu.numTit">
                            </div>
                        </div> 

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label"> Especialidad </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Especialidad" ng-model="nuevaForEdu.esp">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">¿Estudios concluidos? </label>                                                                                             
                            <div class="col-sm-3">
                                <input type="checkbox" ng-model="nuevaForEdu.estCon"> 
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de expedición</label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevaForEdu.fecExp" 
                                           is-open="date_exp" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_exp = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Centro de estudios: </label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="Centro de estudios" ng-model="nuevaForEdu.cenEst">
                            </div>
                        </div>
                        
                        <!--
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Adjuntar titulo: </label>
                            <div class="col-sm-3 form-inline">
                                <input-file nombre="nuevoLegajoForEdu.nom" archivo="nuevoLegajoForEdu.archivo"></input-file>
                                <view-file url="{{nuevoLegajoForEdu.url}}" nombre="nuevoLegajoForEdu.nom" archivo="nuevoLegajoForEdu.archivo" vernombre='true'></view-file>
                            </div>
                        </div> 
                        
                        -->
                    </form>       
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>

                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="agregarFormacionEducativa()">Registrar datos</button>

            </div>
        </div>
    </div>
</div>       
