<div class="modal fade"  id="modalAgregarAscenso">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Número de documento: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Número de documento" ng-model="nuevoAscenso.numDoc">
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de documento: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoAscenso.fecDoc" 
                                           is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Tipo de documento: </label>
                            <div class="col-sm-9">
                                <select class="form-control input-sm m-bot15" ng-model="nuevoAscenso.tipDoc" required>
                                   <option ng-repeat="t in tipDocs" value="{{t}}">{{t}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha en que surte efecto el documento: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoAscenso.fecEfe" 
                                           is-open="date_2" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_2 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group" >
                            <label class="col-sm-3 control-label">Rol anterior: </label>
                            <div class="col-sm-3">
                                <select class="form-control input-sm m-bot15" ng-model="nuevoAscenso.currOrgId" ng-change="changeOrgnz(nuevoAscenso.currOrgId)" >
                                   <option ng-repeat="e in escalas" value="{{e.orgid}}">{{e.title}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{escOnom}}:</label>
                            <div class="col-sm-3">
                                <select class="form-control input-sm m-bot15" ng-model="nuevoAscenso.esc" >
                                   <option ng-repeat="r in rolsSel" value="{{r.rolID}}">{{r.rolNom}}</option>
                                </select>
                            </div>
                        </div>
                        <!--
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Adjuntar documento </label>
                            <div class="col-sm-3 form-inline">
                                <input-file nombre="nuevoLegajoAsc.nom" archivo="nuevoLegajoAsc.archivo"></input-file>
                                <view-file url="{{nuevoLegajoAsc.url}}" nombre="nuevoLegajoAsc.nom" archivo="nuevoLegajoAsc.archivo" vernombre='true'></view-file>
                            </div>
                        </div> 
                        -->
                        
                        <div class="form-group" ng-hide="nombOasc">
                            <label class="col-sm-3 control-label">Planilla: </label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="nuevoAscenso.plaId" ng-options="idxp as p for (idxp,p) in planillas">
                                    <option ng-selected="nuevoAscenso.plaId == idxp">{{c}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-hide="nombOasc">
                            <label class="col-sm-3 control-label">Categoria </label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="nuevoAscenso.catId" ng-options="idxc as c for (idxc,c) in categorias">
                                    <option ng-selected="nuevoAscenso.catId == idxc">{{c}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-hide="nombOasc">
                            <label class="col-sm-3 control-label">Organismo: </label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="nuevoAscenso.orgId" ng-options="idxo as o for (idxo,o) in organismos">
                                    <option ng-selected="nuevoAscenso.orgId == idxo">{{o}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-hide="nombOasc">
                            <label class="col-sm-3 control-label">Dependencia: </label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="nuevoAscenso.depId" ng-options="idxd as d for (idxd,d) in dependenciasSel">
                                    <option ng-selected="nuevoAscenso.depId === idxd">{{d}}</option>
                                </select>
                            </div>
                        </div>
                    </form>       
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="agregarAscenso()">Registrar datos</button>
            </div>
        </div>
    </div>
</div>       
