<style>
    .group{
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: solid 1px #666;
    }

    .group-conditions{
        margin-left: 20px;
    }

    .alert-group{
        margin-top: 10px;
        margin-bottom: 10px;
        border-color: rgb(192, 152, 83);
        border-color: rgb(251, 238, 213);
        border-color: rgb(220, 200, 150);
    }

    .condition, .group{
        margin-top: 15px;
        margin-bottom: 15px;   
    }
    

md-switch.md-checked .md-bar {
    background-color: #1fb5ad;
}
md-switch.md-checked .md-thumb {
    background-color: #1fb5ad;
}
/*Is it possible to change the false state color of Angular Material's mdSwitch?
Stackover*/

</style>
<div class="row" >

    <div class="col-lg-12">

        <section class="panel">

            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">CONSULTA GENERAL</h4>
            </header>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td style="border-top:none">
                                
                                <div class="form-group" style="width:auto;">
                                    <button style="align-self: center" ng-click="gestionarPasos()" class="btn btn-block"><span class="glyphicon glyphicon-plus-sign fa-5x"></span></button>
                                    <h4 class="text-center">NUEVA CONSULTA</h4>
                                </div>
                                
                            </td>
                            <td style="border-top:none">
                                
                                <div class="form-group" style="width:auto;">
                                    <button style="align-self: center" ng-click="gestionarConsultas()" class="btn btn-block"><span class="glyphicon glyphicon-eye-open fa-5x"></span></button>
                                    <h4 class="text-center">VER CONSULTA</h4>
                                </div>                        

                            </td>
                        </tr>

                    </table>

                </div>
            </div>
        </section>
    </div>
</div>


<!--ABRIR CONSULTA-->
<script type="text/ng-template" id="abrirConsulta.html">
<div class="modal-header">
    <div class="form-group" style="vertical-align: middle">
        <div class="col-sm-12">
            <h4 class="modal-title">GESTIÓN DE CONSULTAS</h4>
        </div>
    </div>    
</div>
<div class="modal-body">
    <div class="container" style="width:auto;" ng-init="listarConsultasFrecuentes()">
        <div class="alert alert-warning alert-group">
            <div class="form-inline">
                <select class="form-control input-sm" ng-model="idConsulta" ng-options="item.con_cer_id as item.tit for item in listaConsultasFrecuentes"></select>
                <button style="margin-left: 5px" ng-click="verDatosConsulta(idConsulta)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-plus-sign"></span> Abrir Consulta</button>
            </div>
        </div>
    </div>
</div>
</script>
