<div class="modal fade"  id="modalEditarDatCenLab">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>

            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Planilla: </label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="trabajadorSel.plaId" ng-options="p.plaId as p.nomPla for p in planillas">
                                    <option ng-selected="trabajadorSel.plaId === p.plaId">{{p.nomPla}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Número de documento: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Número de documento" ng-model="nuevoAscensoRot.numDoc">
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de documento: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoAscensoRot.fecDoc" 
                                           is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Tipo de documento: </label>
                            <div class="col-sm-9">
                                <select class="form-control input-sm m-bot15" ng-model="nuevoAscensoRot.tipDoc" required>
                                    <option ng-repeat="t in tipDocs" value="{{t}}">{{t}}</option>
                                </select>
                            </div>
                        </div> 

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Categoria </label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="trabajadorSel.catId" ng-options="c.catId as c.nomCat for c in categorias">
                                    <!--<option ng-selected="trabajadorSel.catId === c.catId">{{c.nomCat}}</option>-->
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Organismo: </label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="trabajadorSel.orgaId" ng-init="listarFacultadesSel()" ng-change="listarFacultadesSel()" ng-options="orga.orgaId as orga.nomOrga for orga in organismos">
                                    <option ng-selected="trabajadorSel.orgaId === orga.orgaId">{{orga.nomOrga}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Facultad: </label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="trabajadorSel.facId" ng-init="listarDependenciasSel()" ng-change="listarDependenciasSel()" ng-options="f.facId as f.nomFac for f in facultadesSel">
                                    <option ng-selected="trabajadorSel.facId === f.facId">{{f.nomFac}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Dependencia: </label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="trabajadorSel.depId" ng-options="d.depId as d.nomDep for d in dependenciasSel">
                                    <option ng-selected="trabajadorSel.depId === d.depId">{{d.nomDep}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Zona: </label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="trabajadorSel.zonId" ng-options="z.zonId as z.nomZon for z in zonas">
                                    <option ng-selected="trabajadorSel.zonId === z.zonId">{{z.nomZon}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Cargo: </label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="trabajadorSel.carId" ng-options="car.carId as car.nomCar for car in cargos">
                                    <option ng-selected="trabajadorSel.carId === car.carId">{{car.nomCar}}</option>
                                </select>
                            </div>
                        </div>
                    </form>       
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizarDatCenLab()">Rotar trabajador</button>
            </div>
        </div>
    </div>
</div>       
