<div class="modal fade"  id="modalEditarPublicacion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Editorial: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Nombre de editorial" ng-model="publicacionSel.nomEdi">
                            </div>
                        </div>
                    
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Tipo: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Tipo de publicación" ng-model="publicacionSel.tipPub">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Titulo: </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Título de publicación" ng-model="publicacionSel.titPub">
                            </div>
                        </div> 
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Grado de participación: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Grado de participación" ng-model="publicacionSel.graPar">
                            </div>
                        </div> 
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Lugar: </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="Lugar" ng-model="publicacionSel.lug">
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de publicación: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="publicacionSel.fecPub" 
                                           is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Número de registro: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Número de registro" ng-model="publicacionSel.numReg">
                            </div>
                        </div>
                        
                    </form>       
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizarPublicacion()">Registrar datos</button>
            </div>
        </div>
    </div>
</div>       
