<div class="modal fade"  id="modalEditarEstadoRotacion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">Tipo de documento: </label>
                            <div class="col-sm-7">
                                <select class="form-control input-sm m-bot15" ng-model="nuevoDesplazamiento.tipDoc" ng-options="t.id as t.nom for t in tiposDocumentos" required>
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Organización:</label>
                            <div class="col-sm-7">
                                <input type="text" ng-disabled="true" class="form-control" placeholder="Organización" ng-model="nuevoDesplazamiento.insEdu">
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Número de documento de término: </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="nuevoDesplazamiento.numDoc">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de documento de término: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoDesplazamiento.fecDoc" 
                                           is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de término: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoDesplazamiento.fecTer" 
                                           is-open="date_3" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_3 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label">Motivo: </label>
                            <div class="col-sm-7">
                                <textarea row="2" type="text" class="form-control" placeholder="Motivo" ng-model="nuevoDesplazamiento.motRet"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <!--<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizarDatCenLab(); actualizarDesplXRetiro()">Retrabajador</button>-->
                <button type="button" class="btn btn-primary" data-dismiss="modal" >Retrabajador</button>
            </div>
        </div>
    </div>
</div> 
