<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <uib-tabset active="estadisticas" justified="true" type="pills">
                <uib-tab index="0" heading="DESPLAZAMIENTO DE PERSONAL" >  
                    <hr style="height:3px; border:none; color:rgb(60,90,180); background-color:rgb(60,90,180);margin-top: -1px; margin-bottom: -1px"/>
                    <div class="panel-body" >
                        <form class="form-horizontal">
                            <div class="form-group" >
                                <!--<div class="form-inline col-sm-offset-3 col-sm-8">
                                    <div class="form-group col-sm-5">
                                        <label class="col-sm-2 control-label">Desde: </label>
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="desplazamientos.desde"
                                                   is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>

                                    <div class="form-group col-sm-5">
                                        <label class="col-sm-2 control-label">Hasta: </label>
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="desplazamientos.hasta"
                                                   is-open="date_2" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions2"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="date_2 = true">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                </div>-->

                                <br>
                                <div class="col-sm-offset-8 col-sm-1" align="right">
                                    <button class="btn btn-success " type="button" ng-click="generarEstadisticaDesplazamientos()">Generar</button>
                                </div>
                            </div>
                        </form>
                        
                    
                        <hr style="height:1px"/>

                        <div style="height: 450px" align="center">
                            <canvas id="desplazamientosPorNivelEducativo" 
                                    class="chart chart-bar" 
                                    chart-data="dataDesplazamientos" 
                                    chart-labels="labelsDesplazamientos" 
                                    chart-series="series" 
                                    chart-colors="colorsDesplazamientos"
                                    chart-options="optionsDesplazamientos" 
                                    style="display: block; width: 800px; height:300px" width="800" height="300"></canvas>
                        </div>
                    </div>
                    
                    <div class="panel-footer">
                        <div align="right">            
                            <button class="btn btn btn-primary" ng-click="imprimirGraficoDesplazamientos(1)"><i class="fa fa-print" ></i> Imprimir</button>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab index="1" heading="NUMERO DE HIJOS" >
                    <hr style="height:3px; border:none; color:rgb(60,90,180); background-color:rgb(60,90,180);margin-top: -1px; margin-bottom: -1px"/>
                    <div class="panel-body" >
                        <form class="form-horizontal">
                            <div class="form-group" >
                               <!-- <div class="form-inline col-sm-offset-3 col-sm-8">
                                    <div class="form-group col-sm-5">
                                        <label class="col-sm-2 control-label">Desde: </label>
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="numeroHijos.desde"
                                                   is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>

                                    <div class="form-group col-sm-5">
                                        <label class="col-sm-2 control-label">Hasta: </label>
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="numeroHijos.hasta"
                                                   is-open="date_2" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions2"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="date_2 = true">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                </div>-->

                                <br>
                                <div class="col-sm-offset-8 col-sm-1" align="right">
                                    <button class="btn btn-success " type="button" ng-click="generarEstadisticaNumeroHijos()">generar</button>
                                </div>
                            </div>
                        </form>
                        
                    
                        <hr style="height:1px"/>

                        <div style="height: 450px" align="center">
                            <canvas id="numeroHijos" 
                                    class="chart chart-bar" 
                                    chart-data="dataNumeroHijos" 
                                    chart-labels="labelsNumeroHijos" 
                                    chart-series="series" 
                                    chart-colors="colorsNumeroHijos"
                                    chart-options="optionsNumeroHijos" 
                                    style="display: block; width: 800px; height:300px" width="800" height="300"></canvas>
                        </div>
                    </div>
                    
                    <div class="panel-footer">
                       <div align="right">            
                            <button class="btn btn btn-primary" ng-click="imprimirGraficoNumeroHijos()"><i class="fa fa-print" ></i> Imprimir</button>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="3" heading="MERITOS Y DEMERITOS" > 
                    <hr style="height:3px; border:none; color:rgb(60,90,180); background-color:rgb(60,90,180);margin-top: -1px; margin-bottom: -1px"/>
                    <div class="panel-body" >
                        <form class="form-horizontal">
                            <div class="form-group" >
                                <!--<div class="form-inline col-sm-offset-3 col-sm-8">
                                    <div class="form-group col-sm-5">
                                        <label class="col-sm-2 control-label">Desde: </label>
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="meritosDemeritos.desde"
                                                   is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>

                                    <div class="form-group col-sm-5">
                                        <label class="col-sm-2 control-label">Hasta: </label>
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="meritosDemeritos.hasta"
                                                   is-open="date_2" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions2"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="date_2 = true">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                </div>-->

                                <br>
                                <div class="col-sm-offset-8 col-sm-1" align="right">
                                    <button class="btn btn-success " type="button" ng-click="generarEstadisticaMeritosDemeritos()">generar</button>
                                </div>
                            </div>
                        </form>
                        
                    
                        <hr style="height:1px"/>

                        <div style="height: 450px" align="center">
                            <canvas id="meritosyDemeritos" 
                                    class="chart chart-pie" 
                                    chart-data="dataMeritosDemeritos" 
                                    chart-labels="labelsMeritosDemeritos" 
                                    chart-series="series" 
                                    chart-colors="colorsMeritosDemeritos"
                                    chart-options="optionsMeritosdemeritos"
                                    style="display: block; width: 800px; height:300px" width="800" height="300"></canvas>
                        </div>
                    </div>
                    
                    <div class="panel-footer">
                       <div align="right">            
                            <button class="btn btn btn-primary" ng-click="imprimirGraficoMeritosyDemeritos()"><i class="fa fa-print" ></i> Imprimir</button>
                        </div>
                    </div>

                </uib-tab>
            </uib-tabset>

        </section>
    </div>
</div>