<div class="row" >
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                GESTIONAR CATALOGOS DE CONSULTA GENERAL
            </header>
            <div class="panel-body">
                <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div class="table-responsive" ng-init="listarCatalogos()">
                        <!--<button style="margin-left: 5px; margin-top: 30px; float:right;" ng-click="agregarAtributo()" class="btn btn-primary" data-target="#modalnuevoitem" ><span>Agregar</span></button>-->
                        <button style="float:right;" class="btn btn btn-primary" data-toggle="modal" data-target="#modalnuevoitem" ng-click="limpiarFormulario()"><i class="fa fa-plus"> Agregar</i></button>
                        <table class="table table-striped table-hover"  ng-table ="tablaCatalogo" >
                            <tr ng-repeat="d in $data">
                                <td data-title="'Modulo'"  style="text-align: center;width: 30px" filter="{ mod: 'text'}" sortable="'mod'">{{d.mod}}</td>
                                <td data-title="'Tabla'"  style="text-align: center;width: 30px" filter="{ entity_name: 'text'}" sortable="'entity_name'">{{d.entity_name}}</td>
                                <!--<td data-title="'Atributos'"  style="text-align: center;width: 30px" filter="{ atrib_name: 'text'}" sortable="'atrib_name'">{{d.atrib_name}}</td>-->
                                <td data-title="'Atributos'"  style="text-align: center;width: 30px" filter="{ alias_name: 'text'}" sortable="'alias_name'">{{d.alias_name}}</td>
                                <td data-title="'Tipo Dato'"  style="text-align: center;width: 30px" sortable="'data_type'">
                                    <span class="label label-mini" ng-class="{'label-info': d.data_type=='text','label-warning': d.data_type=='number','label-success':d.data_type=='date','label-default':d.data_type=='checkbox'}">{{ d.data_type=='text' ? 'TEXTO':(d.data_type=='number'? 'NUMERO':(d.data_type=='date'? 'FECHA':'MARCA')) }}</span>
                                    <!--{{d.data_type}}-->
                                </td>
                                <!--<td data-title="'Id'"  style="text-align: center;width: 30px" filter="{ id_met: 'text'}" sortable="'id_met'">{{d.id_met}}</td>
                                <td data-title="'Funcion'"  style="text-align: center;width: 30px" filter="{ related_function: 'text'}" sortable="'related_function'">{{d.related_function}}</td>-->
                                
                                <!--<td data-title="'Estado'"  style="text-align: center;width: 30px" filter="{ est: 'text'}" sortable="'est'">{{d.est}}</td>-->
                                
                                <td data-title="'Operaciones'" style="text-align: center;width: 100px">
                                    <!--<button title="Editar Atributo" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalnuevoitem" ng-click="cargarFormulario(d)">
                                        <span class="glyphicon glyphicon-pencil" ></span>
                                    </button>-->
                                    <button title="ELiminar Atributo" class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarAtributo(d)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>    
                </div>
            </div>
            
            <!----- REGISTRAR NUEVO ITEM ----->

            <div class="modal fade" id="modalnuevoitem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
                    <div class="modal-dialog">
                        <div class ="modal-content">
                            <div class ="modal-header">
                               <h4 class="modal-title" id="myModalLabel">Nuevo Atributo</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-horizontal style-form">
                                    <div class="form-panel" ng-init="">
                                    <!-- ---------------------------------------------------- -->
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Tabla:</label>
                                            <div class="col-sm-4">
                                                <!--<input type="text" class="form-control" ng-model="item_catalogo.entity_name" >-->
                                                <select class="form-control" ng-model="item_catalogo.entity_name" ng-change="listarAtributos(item_catalogo.entity_name)">
                                                  <option ng-repeat="tb in tablas" value="{{tb}}">{{tb}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Atributo:</label>
                                            <div class="col-sm-4">
                                                <!--<input type="text" class="form-control" ng-model="item_catalogo.atrib_name" required>-->
                                                <select class="form-control" ng-model="item_catalogo.alias_name" ng-change="setAtribName(item_catalogo.alias_name)">
                                                    <option ng-repeat="at in atributos" value="{{at.description}}">{{at.description}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group" hidden>
                                            <label class="col-sm-3 control-label">Clave del Atributo:</label>
                                            <div class="col-sm-4" ng-init="">
                                                <input type="text" class="form-control" ng-model="item_catalogo.atrib_name" disabled>  
                                            </div>
                                        </div><div class="form-group" hidden>
                                            <label class="col-sm-3 control-label">Tipo de dato:</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" ng-model="item_catalogo.data_type" disabled>
                                                <!--<select class="form-control" ng-model="item_catalogo.data_type">
                                                    <option value="text">Texto</option>
                                                    <option value="date">Fecha</option>
                                                    <option value="number">Numero</option>
                                                    <option value="checkbox">Para marcar</option>
                                                </select>-->
                                                <!--<input type="text" class="form-control" ng-model="item_catalogo.data_type" required>--> 
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Módulo:</label>
                                            <div class="col-sm-4">
                                                <!--<input type="text" class="form-control" ng-model="item_catalogo.mod" required>-->
                                                <select class="form-control" ng-model="item_catalogo.mod">
                                                    <option value="Escalafon" selected="">Escalafon</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                               <div class="col-md-4 col-md-offset-4">
                                                   <button class="btn btn btn-warning"  data-dismiss="modal"><i class="fa fa-warning">Cancelar</i></button>
                                                   <button class="btn btn btn-primary" ng-click="procesarAtributo()"><i class="fa fa-save" >Guardar</i></button>
                                               </div>
                                        </div> 
                                     <!-- ---------------------------------------------------- -->
                                     </div> 
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            <!---------->

        </section>
    </div>
</div>
