<div class="row" >
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">LISTA DE TRABAJADORES</h4>
            </header>
            <div class="panel-body">
                <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div class="table-responsive" >
                        <table class="table table-striped table-hover"  ng-table ="tablaTrabajadores" ng-init="listarTrabajadores(10,0)">
                                <colgroup>
                                <col width="5%" />
                                <col width="15%" />
                                <col width="10%" />
                                <col width="10%" />
                                <col width="10%" />
                                <col width="10%" />
                            </colgroup> 
                            <tr>
                                <th>N</th>
                                <th>Apellido Paterno</th>
                                <th>Apellido Materno</th>
                                <th>Nombre</th>
                                <th>DNI</th>
                                <th>Accion</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input ng-model="f.apePat" ng-change="filter_by('apePat',f.apePat)"></td>
                                <td><input ng-model="f.apeMat" ng-change="filter_by('apeMat',f.apeMat)"></td>
                                <td><input ng-model="f.nombre" ng-change="filter_by('nombre',f.nombre)"></td>
                                <td><input ng-model="f.DNI" ng-change="filter_by('DNI',f.DNI)"></td>
                                <td></td>
                            </tr>
                            <tr ng-repeat="d in $data">
                                <!--<td data-title="'Apellido Paterno'"  style="text-align: center;width: 30px" filter="{ perApePat: 'text'}" sortable="'perApePat'">{{d.perApePat}}</td>
                                <td data-title="'Apellido Materno'"  style="text-align: center;width: 30px" filter="{ perApeMat: 'text'}" sortable="'perApeMat'">{{d.perApeMat}}</td>
                                <td data-title="'Nombre'"  style="text-align: center;width: 30px" filter="{ perNom: 'text'}" sortable="'perNom'">{{d.perNom}}</td>
                                <td data-title="'DNI'"  style="text-align: center;width: 30px" filter="{ perDni: 'text'}" sortable="'perDni'">{{d.perDni}}</td>
                                <!--<td data-title="'Años de servicios'"  style="text-align: center;width: 30px" filter="{ traAnoSer: 'text'}" sortable="'traAnoSer:'">{{d.traAnoSer}}</td>
                                -->
                                <td>{{d.i}}</td>
                                <td>{{d.perApePat}}</td>
                                <td>{{d.perApeMat}}</td>
                                <td>{{d.perNom}}</td>
                                <td>{{d.perDni}}</td>  
                                <td data-title="'Acción'" style="text-align: center;width: 100px">
                                    <button rel="preload" title="Ver legajo digitalizado" class="btn btn-warning btn-xs" ng-click="prepararVerLegajoPersonalRidea(d)">
                                        <span class="glyphicon glyphicon-book"></span>
                                    </button>
                                    <!--
                                    <button title="Ver legajo sistema escalafon" class="btn btn-warning btn-xs" ng-click="prepararVerLegajoPersonal(d)">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                    -->
                                    <button title="Ver ficha escalafonaria" class="btn btn-info btn-xs" ng-click="verFichaEscalafonaria(d)">
                                        <span class="glyphicon glyphicon-file" ></span>
                                    </button>
                                    <!--<button title="Generar modelo de reporte escalafonario" class="btn btn-success btn-xs" ng-click="generarModeloReporteEscalafonario(d)">
                                        <span class="glyphicon glyphicon-th" ></span>
                                    </button>-->

                                    <!--<button title="Reporte personalizado area Escalafón" class="btn btn-warning btn-xs" ng-click="prepararReportePersonalizado(d)">
                                        <span class="glyphicon glyphicon-folder-open"></span>
                                    </button>-->

                                    <button title="Editar ficha" class="btn btn-primary btn-xs" ng-click="prepararModificarFichaEscalafonaria(d)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <!--
                                    <button title="Eliminar ficha" class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarTrabajador(d)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                    
                                    -->
                                </td>
                            </tr>
                        </table>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='mostrarDataPagAnt()'>&laquo;</button>
                            <!--<button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='(currentPage = currentPage - 1);mostrarDataPagAnt()'>&laquo;</button>-->
                            <button type='button' class='btn btn-default' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
                            <button type='button' class='btn btn-default' ng-disabled='currentPage >= canTotTra/pageSize - 1' ng-click='mostrarDataPagSig()'>&raquo;</button>
                            <!--<button type='button' class='btn btn-default' ng-disabled='currentPage >= canTotUsu/pageSize - 1' ng-click='mostrarDataPagSig()'>&raquo;</button>-->
                        </div>
                    </div>    
                </div>
            </div>
        </section>
    </div>
</div>