<div class="row" >
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">LISTA DE TRABAJADORES</h4>
                <div class="container" style="width:auto;">
                    <div class="alert alert-warning alert-group">
                        <div class="input-group" class="form-inline"> <span class="input-group-addon">Buscar</span>
                            <input type="text" class="form-control" style="width:370px;" ng-model="cadenaBusqueda" placeholder="ApellidoPaterno     ApellidoMaterno     Nombre" ng-keyup="verListadoFiltradoTrabajadores()">
                        </div>
                    </div>
                </div>
                <!--<span class="tools pull-left">
                    <input type="text" class="form-control" placeholder="Cadena de búsqueda" ng-model="cadenaBusqueda">
                    <button type="submit" class="btn btn-primary" ng-click="verListadoFiltradoTrabajadores()">
                        Listar <span class="glyphicon glyphicon-forward"></span>
                    </button>
                    <button type="submit" class="btn btn-primary" ng-click="prepararVerMiLegajoPersonal()">
                        Ver Legajo <span class="glyphicon glyphicon-briefcase"></span>
                    </button>
                </span>-->
            </header>
            <div class="panel-body">
                <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div class="table-responsive" >
                        <table class="table table-striped table-hover"  ng-table ="tablaTrabajadores" ng-init="listarTrabajadores()">
                            <tr ng-repeat="d in $data">
                                <td data-title="'Apellido Paterno'"  style="text-align: center;width: 30px" filter="{ perApePat: 'text'}" sortable="'perApePat'">{{d.perApePat}}</td>
                                <td data-title="'Apellido Materno'"  style="text-align: center;width: 30px" filter="{ perApeMat: 'text'}" sortable="'perApeMat'">{{d.perApeMat}}</td>
                                <td data-title="'Nombre'"  style="text-align: center;width: 30px" filter="{ perNom: 'text'}" sortable="'perNom'">{{d.perNom}}</td>
                                <td data-title="'DNI'"  style="text-align: center;width: 30px" filter="{ perDni: 'text'}" sortable="'perDni'">{{d.perDni}}</td>
                                <!--<td data-title="'Años de servicios'"  style="text-align: center;width: 30px" filter="{ traAnoSer: 'text'}" sortable="'traAnoSer:'">{{d.traAnoSer}}</td>
                                -->
                                <td data-title="'Acción'" style="text-align: center;width: 100px">
                                    <button rel="preload" title="Ver legajo digitalizado" class="btn btn-warning btn-xs" ng-click="prepararVerLegajoPersonalRidea(d)">
                                        <span class="glyphicon glyphicon-book"></span>
                                    </button>
                                    <!--
                                    <button title="Ver legajo sistema escalafon" class="btn btn-warning btn-xs" ng-click="prepararVerLegajoPersonal(d)">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                    -->
                                    <button title="Ver ficha escalafonaria" class="btn btn-info btn-xs" ng-click="verFichaEscalafonaria(d)">
                                        <span class="glyphicon glyphicon-file" ></span>
                                    </button>
                                    <!--<button title="Generar modelo de reporte escalafonario" class="btn btn-success btn-xs" ng-click="generarModeloReporteEscalafonario(d)">
                                        <span class="glyphicon glyphicon-th" ></span>
                                    </button>-->

                                    <!--<button title="Reporte personalizado area Escalafón" class="btn btn-warning btn-xs" ng-click="prepararReportePersonalizado(d)">
                                        <span class="glyphicon glyphicon-folder-open"></span>
                                    </button>-->

                                    <button title="Editar ficha" class="btn btn-primary btn-xs" ng-click="prepararModificarFichaEscalafonaria(d)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <!--
                                    <button title="Eliminar ficha" class="btn btn-danger btn-xs md-primary md-raised" ng-click="eliminarTrabajador(d)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                    
                                    -->
                                </td>
                            </tr>
                        </table>
                    </div>    
                </div>
            </div>
        </section>
    </div>
</div>