<div class="row" >
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                LOG DE AUDITORIA
            </header>
            <div class="panel-body">
                <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div class="table-responsive" ng-init="listarRegistros()">
                        <table class="table table-striped table-hover"  ng-table ="tablaCatalogo" >
                            <tr ng-repeat="d in $data">
                                <td data-title="'Id'"  style="text-align: center;width: 30px" filter="{ log_aud_id: 'text'}" sortable="'log_aud_id'">{{d.log_aud_id}}</td>
                                <!--<td data-title="'Tipo de Operacion'"  style="text-align: center;width: 30px" filter="{ tip_ope : 'text'}" sortable="'tip_ope'">{{d.tip_ope}}</td>-->
                                <td data-title="'Tipo de Operacion'" filter="{ tip_ope: 'text'}" sortable="'tip_ope'" style="text-align: center;width: 30px">
                                    <span class="label label-mini" ng-class="{'label-info': d.tip_ope=='A','label-warning': d.tip_ope=='B','label-success':d.tip_ope=='C','label-default':d.tip_ope=='L'}">{{ d.tip_ope=='A' ? 'ALTA':(d.tip_ope=='B'? 'BAJA':(d.tip_ope=='C'? 'CAMBIO':'LECTURA')) }}</span>
                                </td>
                                <td data-title="'Observacion de Operacion'"  style="text-align: center;width: 30px" filter="{ obs_ope: 'text'}" sortable="'obs_ope'">{{d.obs_ope}}</td>
                                <td data-title="'Contenido de Operacion'"  style="text-align: center;width: 30px" filter="{ con_ope: 'text'}" sortable="'con_ope'">{{d.con_ope}}</td>
                                <td data-title="'Fecha de Operacion'"  style="text-align: center;width: 30px" filter="{ fec_emi: 'text'}" sortable="'fec_emi'">{{d.fec_emi}}</td>
                                <td data-title="'Usuario Id'"  style="text-align: center;width: 30px" filter="{ usu_id: 'text'}" sortable="'usu_id'">{{d.usu_id}}</td>
                                <td data-title="'Nombre'"  style="text-align: center;width: 30px" filter="{ nom: 'text'}" sortable="'nom'">{{d.nom}}</td>
                                <td data-title="'A. Paterno'"  style="text-align: center;width: 30px" filter="{ ape_pat: 'text'}" sortable="'ape_pat'">{{d.ape_pat}}</td>
                                <td data-title="'A. Materno'"  style="text-align: center;width: 30px" filter="{ ape_mat: 'text'}" sortable="'ape_mat'">{{d.ape_mat}}</td>
                                <td data-title="'DNI'"  style="text-align: center;width: 30px" filter="{ dni: 'text'}" sortable="'dni'">{{d.dni}}</td>
                                <!--<td data-title="'Ver Detalle'"  style="text-align: center;width: 30px">
                                    <button title="Ver Detalle" class="btn btn-danger btn-xs md-primary md-raised" data-toggle="modal" data-target="#modalnuevoitem" ng-click="getUsuarioInfo(d.usu_id)">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                </td>-->
                                
                                <!--<td data-title="'Usuario Ejecutor'"  style="text-align: center;width: 30px" filter="{ usu_emi: 'text'}" sortable="'usu_emi'">{{d.usu_emi}}</td>-->
                                <!--<td data-title="'Ip de Acceso'"  style="text-align: center;width: 30px" filter="{ ip_acc: 'text'}" sortable="'ip_acc'">{{d.ip_acc}}</td>-->
                                
                            </tr>
                        </table>
                    </div>    
                </div>
                
                
                <!-- ---REPORTE POR FILTRO DE FECHA Y USUARIO -- -->
                <div class="">
                    </br>
                    <header class="panel-heading">
                        GENERAR REPORTE DE AUDITORIA
                    </header>
                    </br>
                    <!--<label class="col-sm-3 control-label"> CONSULTA: </label>
                    <input type="text" class="form-control" placeholder="Ingrese consulta" ng-model="consulta_reporte">-->
                    <div class=" ">   
                        <label class="col-sm-3 control-label " style="margin-top:20px;">Filtro por fecha(INICIO): </label>
                        <div class="col-sm-7" style="margin-top:10px;">
                            <input type="date" class="form-control" ng-model="fec_ini" >
                        </div>
                        <label class="col-sm-3 control-label " style="margin-top:20px;">Filtro por fecha(FIN): </label>
                        <div class="col-sm-7" style="margin-top:10px;">
                            <input type="date" class="form-control" ng-model="fec_fin" >
                        </div>
                    </div>
                    <div class=" ">
                        <label class="col-sm-3 control-label " style="margin-top:20px;">Filtro por DNI de usuario: </label>
                        <div class="col-sm-7" style="margin-top:10px;">
                            <input type="text" class="form-control"  ng-model="dni" >
                        </div>
                    </div>
                    <div class=" ">
                        <button style="margin-left: 5px" ng-click="descargarReporte()" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-plus-sign"></span> Descargar Reporte</button>
                    </div>
                        <!--<div class=" ">
                        <label class="col-sm-3 control-label " style="margin-top:20px;">Facultad/Dependencia: </label>
                        <div class="col-sm-7" style="margin-top:10px;">
                            <input type="text" class="form-control" placeholder="Ingrese la Facultad/Dependencia" >
                        </div>
                    </div>-->
                    </br>
                </div> 
            </div>
            
            
            <!----- DATOS DE USUARIO EDITADO ----->

            <div class="modal fade" id="modalnuevoitem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="">
                    <div class="modal-dialog">
                        <div class ="modal-content">
                            <div class ="modal-header">
                               <h4 class="modal-title" id="myModalLabel">Usuario que ejecuto transacción</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-horizontal style-form">
                                    <div class="form-panel" ng-init="">
                                    <!-- ---------------------------------------------------- -->
                                        <div class="form-group" >
                                            <label class="col-sm-3 control-label">Nombre:</label>
                                            <div class="col-sm-4" ng-init="">
                                                <input type="text" class="form-control" ng-model="audit_user.nom" disabled>  
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label class="col-sm-3 control-label">Apellido Paterno:</label>
                                            <div class="col-sm-4" ng-init="">
                                                <input type="text" class="form-control" ng-model="audit_user.ape_pat" disabled>  
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label class="col-sm-3 control-label">Apellido Materno:</label>
                                            <div class="col-sm-4" ng-init="">
                                                <input type="text" class="form-control" ng-model="audit_user.ape_mat" disabled>  
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label class="col-sm-3 control-label">DNI:</label>
                                            <div class="col-sm-4" ng-init="">
                                                <input type="text" class="form-control" ng-model="audit_user.dni" disabled>  
                                            </div>
                                        </div>
                                        <div class="form-group">
                                               <div class="col-md-4 col-md-offset-4">
                                                   <button class="btn btn btn-warning"  data-dismiss="modal"><i class="fa fa-warning">Cerrar</i></button>
                                               </div>
                                        </div> 
                                     <!-- ---------------------------------------------------- -->
                                     </div> 
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            <!---------->
            
            
        </section>
    </div>
</div>
