<div class="modal fade" id="modalSeleccionadosPersonalizados" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">REPORTES</h4>
            </div>

            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        <div class="form-group ">   
                            <label class="col-sm-2 control-label">INFORME N°: </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="0000-0000- A.A." ng-model="reportePersonalizado.numInf">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="AAAA." ng-model="reportePersonalizado.numRef">
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-2 control-label">A: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="DESTINATARIO DE INFORME" ng-model="reportePersonalizado.lugDes" >
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-2 control-label">DE: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="reportePersonalizado.lugPro" ng-disabled="true">
                            </div>
                        </div>

                        <div class="form-group ">   
                            <label class="col-sm-2 control-label">ASUNTO: </label>
                            <div class="col-sm-10">
                                <textarea size="3" type="text" class="form-control" placeholder="ASUNTO A TRATAR" ng-model="reportePersonalizado.asu"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <pre>Seleccione el tipo de informe para complementar su reporte</pre>
                <form>
                    <div class="checkbox">
                        <label><input type="checkbox" class="dinamico" ng-model="seleccionados[0]" uib-btn-checkbox>Situación laboral</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="dinamico" ng-model="seleccionados[1]" uib-btn-checkbox>Licencias</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="dinamico" ng-model="seleccionados[2]" uib-btn-checkbox>Vacaciones</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="dinamico" ng-model="seleccionados[3]" uib-btn-checkbox>Desplazamientos</label>
                    </div>
                    <!--<div class="checkbox">
                        <label><input type="checkbox" class="dinamico" ng-model="seleccionados[4]" uib-btn-checkbox>Ascensos</label>
                    </div>-->
                    <div class="checkbox">
                        <label><input type="checkbox" class="dinamico" ng-model="seleccionados[4]" uib-btn-checkbox>Record Laboral</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" class="dinamico" ng-model="seleccionados[5]" uib-btn-checkbox>Interrupciones</label>
                    </div>
                    <!--<div class="checkbox">
                        <label><input type="checkbox" class="dinamico" ng-model="seleccionados[7]" uib-btn-checkbox>Demeritos</label>
                    </div>-->
                </form>
                <div>
                    <h6><b>Opción Múltiple</b></h6>
                    <input type="checkbox" class="check-all" ng-click="marcarTodos()"/> Marcar/Desmarcar todos<br><br>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <select class="form-control col-md-2" ng-model="selecFormat">
                            <option ng-repeat="f in formatos" value="{{f}}">{{f}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-1">
                        <button type="button" class="btn btn-success" ng-click="descargarReportePersonalizado()"><i class="fa fa-download" ></i> Descargar</button>
                    </div>
                    <div class="form-group col-md-9">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" ng-click="genererarReportePersonalizado()"><i class="fa fa-eye" ></i> Visualizar</button>
                    </div>
                </div> 
            </div>        
        </div>
    </div>
</div>