<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">MI INFORMACION ESCALAFONARIA</h4>
                <span class="tools pull-right">
                    <button type="submit" class="btn btn-warning" ng-click="verFichaEscalafonaria()">
                        Generar Ficha <span class="glyphicon glyphicon-file"></span>
                    </button>
                    <!--
                    <button type="submit" class="btn btn-primary" ng-click="prepararVerMiLegajoPersonal()">
                        Ver Legajo <span class="glyphicon glyphicon-briefcase"></span>
                    </button>
                    -->
                </span>
            </header>
            <div class="panel-body">
                <uib-tabset id="tabModificarFichaEscalafonaria" active="tabPrincipal" justified="true" >
                    <uib-tab index="4" heading="Datos personales"> 
                        <br>
                        <div class="row">
                            <div class = "col-sm-2">
                                <uib-tabset active="tabDatosPersonales" vertical="true" type="pills" style="border: 2px solid darkblue; border-radius: 8px">
                                    <uib-tab index="0" heading="General" style="text-align: justify" ng-click="updateOptions(0, optionsDatosPersonales)"></uib-tab>
                                    <uib-tab index="1" heading="Nacimiento" style="text-align: justify" ng-click="updateOptions(1, optionsDatosPersonales)"></uib-tab>
                                    <uib-tab index="2" heading="Domicilio" style="text-align: justify;" ng-click="updateOptions(2, optionsDatosPersonales)"></uib-tab>
                                    <uib-tab index="3" heading="Regimen pensionario" style="text-align: justify;" ng-click="updateOptions(3, optionsDatosPersonales)"></uib-tab>
                                    <uib-tab index="4" heading="Extraordinaria" style="text-align: justify;" ng-click="updateOptions(4, optionsDatosPersonales)"></uib-tab>
                                </uib-tabset>
                            </div>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosPersonales[0]" ng-hide="!optionsDatosPersonales[0]" >
                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Apellido Paterno: </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="personaSel.apePat" disabled="disabled">
                                    </div>
                                </div> 

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Apellido Materno: </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="personaSel.apeMat" disabled="disabled">
                                    </div>
                                </div> 

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Nombres: </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="personaSel.nom" disabled="disabled">
                                    </div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Sexo: </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model="personaSel.sex" disabled="disabled">
                                            <option ng-repeat="s in sexo" value="{{s.id}}">{{s.title}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Estado civil: </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model="personaSel.estCivId" ng-options="ec.id as ec.nom for ec in estadoCivil" disabled="disabled">
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Edad: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="{{personaSel.eda}}" disabled="disabled">
                                    </div>
                                </div>

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">DNI: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model="personaSel.dni" disabled="disabled">
                                    </div>
                                </div>
                                
                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">N° Pasaporte: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model="personaSel.pas" disabled="disabled">
                                    </div>
                                </div>
                                
                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Teléfono fijo: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model="personaSel.fij" disabled="disabled">
                                    </div>
                                </div>

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Celular1: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model="personaSel.num1" disabled="disabled">
                                    </div>
                                </div>

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Celular2: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model="personaSel.num2" disabled="disabled">
                                    </div>
                                </div>

                                <div class="form-group ">   
                                    <label class="col-sm-3 control-label ">Email: </label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" ng-model="personaSel.email" disabled="disabled">
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosPersonales[1]" ng-hide="!optionsDatosPersonales[1]" >
                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Pais: </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model="personaSel.nacId" ng-options="nac.nacId as nac.nacNom for nac in nacionalidad" disabled="disabled">                                        d">
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-3">Si es peruano: </label>
                                </div>
                                    
                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Departamento: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model= "personaSel.depNacDes" disabled="disabled">
                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Provincia </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model= "personaSel.proNacDes" disabled="disabled">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Distrito </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model= "personaSel.disNacDes" disabled="disabled">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Fecha de Nacimiento: </label>
                                    <div class="col-sm-3">
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="personaSel.fecNac"  disabled="disabled"
                                                   is-open="date_3" current-text="Hoy" close-text="Cerrar" clear-text="Limpiar" show-meridian="true" datepicker-options="dateOptions"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="date_3 = true" disabled="disabled">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </form>
                            
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosPersonales[2]" ng-hide="!optionsDatosPersonales[2]" >
                                <br>
                                <div class="form-inline">
                                    <label class="control-label">¿La direccion de su DNI coincide con su domicilio actual?: </label>
                                    <div class="btn-group" data-toggle="buttons">
                                        <input type="radio" ng-model="optionsDirections" value="SI" disabled="disabled"> SI
                                        <input type="radio" ng-model="optionsDirections" value="NO" disabled="disabled"> NO
                                    </div>
                                </div>
                                <br>
                                <uib-accordion close-others="status_1.close" ng-show="optionsDirections == 'SI' || optionsDirections == 'NO'">
                                    <div uib-accordion-group class="panel-default" is-open="status_1.statusGD">
                                        <uib-accordion-heading>
                                            Direccion de DNI <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status_1.statusGD, 'glyphicon-chevron-right': !status_1.statusGD}"></i>
                                        </uib-accordion-heading>
                                        
                                        <br>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label ">Departamento: </label>
                                            <div class="col-sm-3">
                                                <select class="form-control" ng-model= "direccionDNISel.depDir" disabled="disabled">
                                                    <option ng-repeat="depDir in departamentosDir" value="{{depDir.codigo_ubigeo}}" >{{depDir.nombre_ubigeo}}</option>
                                                </select>
                                                <!--<input type="text" class="form-control" ng-model= "direccionDNISel.depDirDes" disabled="disabled">-->
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-3 control-label ">Provincia </label>
                                            <div class="col-sm-3">
                                                <select class="form-control" ng-model= "direccionDNISel.proDir" disabled="disabled">
                                                    <option ng-repeat="proDir in provinciasDirDNI" value="{{proDir.codigo_ubigeo}}">{{proDir.nombre_ubigeo}}</option>
                                                </select>
                                                <!--<input type="text" class="form-control" ng-model= "direccionDNISel.proDirDes" disabled="disabled">-->
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label ">Distrito </label>
                                            <div class="col-sm-3">
                                                <select class="form-control" ng-model= "direccionDNISel.disDir" disabled="disabled">
                                                    <option ng-repeat="disDir in distritosDirDNI" value="{{disDir.codigo_ubigeo}}">{{disDir.nombre_ubigeo}}</option>
                                                </select>
                                                <!--<input type="text" class="form-control" ng-model= "direccionDNISel.disDirDes" disabled="disabled">-->
                                            </div>
                                        </div>

                                        <div class="form-group">   
                                            <label class="col-sm-3 control-label ">Dirección: </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Dirección" ng-model="direccionDNISel.nomDir" disabled="disabled">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">   
                                            <label class="col-sm-3 control-label">Nombre de zona: </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Nombre de zona" ng-model="direccionDNISel.nomZon" disabled="disabled">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">   
                                            <label class="col-sm-3 control-label">Referencia: </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Referencia" ng-model="direccionDNISel.desRef" disabled="disabled">
                                            </div>
                                        </div>
                                    </div>

                                    <div uib-accordion-group class="panel-default" is-open="status_1.statusLD" ng-show="optionsDirections == 'NO'" ng-hide="optionsDirections == 'SI'">
                                        <uib-accordion-heading>
                                            Direccion de domicilio actual <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status_1.statusLD, 'glyphicon-chevron-right': !status_1.statusLD}"></i>
                                        </uib-accordion-heading>
                                        <br>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label ">Departamento: </label>
                                            <div class="col-sm-3">
                                                <select class="form-control" ng-model= "direccionDASel.depDir" disabled="disabled">
                                                    <option ng-repeat="depDir in departamentosDir" value="{{depDir.codigo_ubigeo}}" >{{depDir.nombre_ubigeo}}</option>
                                                </select>
                                                <!--<input type="text" class="form-control" ng-model= "direccionDASel.depDirDes" disabled="disabled">-->
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label ">Provincia </label>
                                            <div class="col-sm-3">
                                                <select class="form-control" ng-model= "direccionDASel.proDir"  disabled="disabled">
                                                    <option ng-repeat="proDir in provinciasDirDA" value="{{proDir.codigo_ubigeo}}">{{proDir.nombre_ubigeo}}</option>
                                                </select>
                                                <!--<input type="text" class="form-control" ng-model="direccionDASel.proDirDes" disabled="disabled">-->
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label ">Distrito </label>
                                            <div class="col-sm-3">
                                                <select class="form-control" ng-model= "direccionDASel.disDir" disabled="disabled">
                                                    <option ng-repeat="disDir in distritosDirDA" value="{{disDir.codigo_ubigeo}}">{{disDir.nombre_ubigeo}}</option>
                                                </select>
                                                <!--<input type="text" class="form-control" ng-model="direccionDASel.disDirDes" disabled="disabled">-->
                                            </div>
                                        </div>

                                        <div class="form-group">   
                                            <label class="col-sm-3 control-label ">Dirección: </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Dirección" ng-model="direccionDASel.nomDir" disabled="disabled">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">   
                                            <label class="col-sm-3 control-label">Nombre de zona: </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Nombre de zona" ng-model="direccionDASel.nomZon" disabled="disabled">
                                            </div>
                                        </div>

                                        <div class="form-group">   
                                            <label class="col-sm-3 control-label">Referencia: </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Referencia" ng-model="direccionDASel.desRef" disabled="disabled">
                                            </div>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </form>
                            
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosPersonales[3]" ng-hide="!optionsDatosPersonales[3]" >
                                <div class="form-inline col-sm-offset-1">
                                    <label class="control-label">¿A que sistema de pensiones pertenece?: </label>
                                    <div class="btn-group" data-toggle="buttons">
                                        <input type="radio" ng-model="personaSel.sisPen" value="ONP" ng-click="personaSel.sisPen = 'ONP'" disabled="disabled"> ONP
                                        <input type="radio" ng-model="personaSel.sisPen" value="AFP" ng-click="personaSel.sisPen = 'AFP'" disabled="disabled"> AFP
                                        <input type="radio" ng-model="personaSel.sisPen" value="NUL" ng-click="personaSel.sisPen = 'NUL'" disabled="disabled"> NINGUNO
                                    </div>
                                </div>
                                <br>
                                <div class="row" ng-show="personaSel.sisPen === 'AFP'" >
                                    <div class="form-group ">   
                                        <label class="col-sm-3 control-label">Tipo de AFP: </label>
                                        <div class="col-sm-3">
                                            <select class="form-control input-sm m-bot15" ng-model="personaSel.tipAfp" disabled="disabled">
                                                <option ng-repeat="r in afps" value="{{r}}">{{r!=""?r:"No registrado"}}</option>>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group ">   
                                        <label class="col-sm-3 control-label">COD. CUSPP: </label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" placeholder="Codigo CUSPP" ng-model="personaSel.codCuspp" disabled="disabled">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Fecha de ingreso: </label>
                                        <div class="col-sm-3">
                                            <p class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="personaSel.fecIngAfp" disabled="disabled"
                                                       is-open="date_4" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="date_4 = true" disabled="disabled">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Fecha de traspaso: </label>
                                        <div class="col-sm-3">
                                            <p class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="personaSel.fecTraAfp" disabled="disabled"
                                                       is-open="date_5" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="date_5 = true" disabled="disabled">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-inline col-sm-offset-1">
                                    <label class="control-label">¿Persona discapacitada?: </label>
                                    <div class="btn-group" data-toggle="buttons">
                                        <input type="radio" name="discapacidad" ng-model="boolDis.val" value="SI" disabled="disabled" > SI
                                        <input type="radio" name="discapacidad" ng-model="boolDis.val" value="NO" disabled="disabled"> NO
                                    </div>
                                </div>
                                <br>
                                <div class="row" ng-show="boolDis.val === 'SI'" > 
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label ">Registro CONADIS: </label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" placeholder="Nº Registro CONADIS" ng-model="personaSel.regCon" disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-inline col-sm-offset-1">
                                    <label class="control-label">¿Esta asegurado en ESSALUD?: </label>
                                    <div class="btn-group" data-toggle="buttons">
                                        <input type="radio" ng-model="boolSalud.valS" value="SI" disabled="disabled"> SI
                                        <input type="radio" ng-model="boolSalud.valS" value="NO" disabled="disabled"> NO
                                    </div>
                                </div>
                                <br>
                                <div class="form-group" ng-show="boolSalud.valS === 'SI'" >   
                                    <label class="col-sm-3 control-label ">Código Autogenerado de ESSALUD: </label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" placeholder="Código Autogenerado de ESSALUD" ng-model="personaSel.autEss" disabled="disabled">
                                    </div>
                                </div>
                            </form>
                            
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosPersonales[4]" ng-hide="!optionsDatosPersonales[4]" >
                                <div class="form-group" >
                                    <label class="col-sm-3 control-label">Idioma: </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" ng-model="personaSel.idiomId" ng-options="idi.idiId as idi.idiNom for idi in idiomas" disabled="disabled">
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group" >
                                    <label class="col-sm-3 control-label">Licencia de conducir: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" placeholder="Número de Licencia" ng-model="personaSel.licCond" disabled="disabled">
                                    </div>
                                </div>
                                
                                <div class="form-group" >
                                    <label class="col-sm-3 control-label">Bonificación CAFAE: </label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" placeholder="Bonificación" ng-model="personaSel.bonCaf" disabled="disabled">
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </uib-tab>
                    <uib-tab index="0" heading="Datos familiares">
                        <br>
                        <form class="form-horizontal " method="get">

                            <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <div class="table-responsive">
                                    <table class="table table-hover table-condensed table-bordered"  ng-table ="tablaMisParientes" >
                                        <tr ng-repeat="p in $data">
                                            <td data-title="'Apellido Paterno'" style="text-align: center;width: 70px">{{p.parApePat}}</td>
                                            <td data-title="'Apellido Materno'" style="text-align: center;width: 70px">{{p.parApeMat}}</td>
                                            <td data-title="'Nombre'"  style="text-align: center;width: 70px">{{p.parNom}}</td>
                                            <td data-title="'Fecha de Nacimiento'" style="text-align: center;width: 70px">{{p.parFecNac!=""?p.parFecNac:"No registrado" | date:"dd-MM-yyyy"}}</td>
                                            <td data-title="'Edad'" style="text-align: center;width: 70px">{{p.parFecNac!=""?p.parEda:"No registrado"}}</td>
                                            <td data-title="'Parentesco'"  style="text-align: center;width: 70px">{{p.parentesco!=""?p.parentesco:"No registrado"}}</td>
                                            <td data-title="'DNI'"  style="text-align: center;width: 70px">{{p.parDni!=""?p.parDni:"No registrado"}}</td>
                                        </tr>
                                    </table>
                                </div>    
                            </div>
                        </form>
                    </uib-tab>
                    <uib-tab index="1" heading="Datos Académicos">
                        <br>
                        <div class="row">
                            <div class = "col-sm-2">
                                <uib-tabset active="tabDatosAcademicos" vertical="true" type="pills" style="border: 2px solid darkblue; border-radius: 8px">
                                    <uib-tab index="0" heading="Formacion Educativa" style="text-align: justify" ng-click="updateOptions(0, optionsDatosAcademicos)"></uib-tab>
                                    <uib-tab index="1" heading="Estudios Complementarios" style="text-align: justify" ng-click="updateOptions(1, optionsDatosAcademicos)"></uib-tab>
                                    <uib-tab index="2" heading="Capacitaciones" style="text-align: justify;" ng-click="updateOptions(2, optionsDatosAcademicos)"></uib-tab>
                                    <uib-tab index="3" heading="Colegiatura" style="text-align: justify" ng-click="updateOptions(3, optionsDatosAcademicos)"></uib-tab>
                                    <uib-tab index="4" heading="Publicaciones" style="text-align: justify;" ng-click="updateOptions(4, optionsDatosAcademicos)"></uib-tab>
                                    <uib-tab index="5" heading="Exposiciones y/o Ponencias" style="text-align: justify;" ng-click="updateOptions(5, optionsDatosAcademicos)"></uib-tab>
                                    <!--<uib-tab index="3" heading="Estudios de postgrado" style="text-align: justify;" ng-click="updateOptions(3, optionsDatosAcademicos)"></uib-tab>-->
                                </uib-tabset>
                            </div>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[0]" ng-hide="!optionsDatosAcademicos[0]" >

                                <div id="editable-sample_wrapper_2" class="dataTables_wrapper form-inline" role="grid">
                                    <div class="table-responsive">
                                        <table class="table-hover table-condensed table-bordered" ng-table ="tablaMisForEdu">
                                            <colgroup>
                                                <col width="16%" />
                                                <col width="16%" />
                                                <col width="14%" />
                                                <col width="14%" />
                                                <col width="12%" />
                                                <col width="14%" />
                                                <col width="14%" />
                                            </colgroup>
                                            
                                            <tr ng-repeat="fe in $data">
                                                <td data-title="'Tipo de formación'"  style="text-align: center;">{{fe.tipFor!=""?fe.tipFor:"No registrado"}}</td>
                                                <td data-title="'Nivel academico'"  style="text-align: center;">{{fe.nivAca!=""?fe.nivAca:"No registrado"}}</td>
                                                <td data-title="'Nº de Documento'"  style="text-align: center;">{{fe.numDoc!=""?fe.numDoc:"No registrado"}}</td>
                                                <td data-title="'Especialidad'"  style="text-align: center;">{{fe.esp!=""?fe.esp:"No registrado"}}</td>
                                                <td data-title="'Estudios concluidos'"  style="text-align: center;">{{fe.estConDes!=""?fe.estConDes:"No registrado"}}</td>
                                                <td data-title="'Fecha de expedición'"  style="text-align: center;">{{fe.fecDoc!=""?fe.fecDoc:"No registrado" | date : "dd-MM-yyyy"}}</td>
                                                <td data-title="'Centro de estudios'"  style="text-align: center;">{{fe.cenEst!=""?fe.cenEst:"No registrado"}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[1]" ng-hide="!optionsDatosAcademicos[1]" >

                                <div class="dataTables_wrapper form-inline" role="grid">
                                    <div class="table-responsive">
                                        <table class="table-hover table-condensed table-bordered" ng-table ="tablaMisEstCom">
                                            <colgroup>
                                                <col width="11%" />
                                                <col width="22%" />
                                                <col width="8%" />
                                                <col width="21%" />
                                                <col width="10%" />
                                                <col width="7%" />
                                                <col width="8%" />
                                                <col width="8%" />
                                            </colgroup>
                                            <tr ng-repeat="ec in $data">
                                                <td data-title="'Tipo'"  style="text-align: center;width: 70px">{{ec.tip!=""?ec.tip:"No registrado"}}</td>
                                                <td data-title="'Descripcion'"  style="text-align: center;width: 70px">{{ec.des!=""?ec.des:"No registrado"}}</td>
                                                <td data-title="'Nivel'"  style="text-align: center;width: 70px">{{ec.niv!=""?ec.niv:"No registrado"}}</td>
                                                <td data-title="'Institucion certificadora'"  style="text-align: center;width: 70px">{{ec.insCer!=""?ec.insCer:"No registrado"}}</td>
                                                <td data-title="'Tipo de participacion'"  style="text-align: center;width: 70px">{{ec.tipPar!=""?ec.tipPar:"No registrado"}}</td>
                                                <td data-title="'Fecha de inicio'"  style="text-align: center;width: 70px">{{ec.fecIni!=""?ec.fecIni:"No registrado" | date : "dd-MM-yyyy"}}</td>
                                                <td data-title="'Fecha de termino'"  style="text-align: center;width: 70px">{{ec.fecTer!=""?ec.fecTer:"No registrado" | date : "dd-MM-yyyy"}}</td>
                                                <td data-title="'Horas Lectivas'"  style="text-align: center;width: 70px">{{ec.horLec}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[2]" ng-hide="!optionsDatosAcademicos[2]" >
                                <div class="dataTables_wrapper form-inline" role="grid">
                                    <div class="table-responsive">
                                        <table class="table-hover table-condensed table-bordered" ng-table ="tablaMisCapacitaciones">
                                            <colgroup>
                                                <col width="30%" />
                                                <col width="15%" />
                                                <col width="15%" />
                                                <col width="10%" />
                                                <col width="30%" />
                                            </colgroup>
                                            <tr ng-repeat="cap in $data">
                                                <td data-title="'Nombre'"  style="text-align: center;width: 70px">{{cap.nom!=""?cap.nom:"No registrado"}}</td>
                                                <td data-title="'Tipo'"  style="text-align: center;width: 70px">{{cap.tip!=""?cap.tip:"No registrado"}}</td>
                                                <td data-title="'Fecha de capacitación'"  style="text-align: center;width: 70px">{{cap.fec!=""?cap.fec:"No registrado" | date : "dd-MM-yyyy"}}</td>
                                                <td data-title="'Calificación'"  style="text-align: center;width: 70px">{{cap.cal!=""?cap.cal:"No registrado"}}</td>
                                                <td data-title="'Lugar'" style="text-align: center;width: 70px">{{cap.lug!=""?cap.lug:"No registrado"}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[3]" ng-hide="!optionsDatosAcademicos[3]" >

                                <div class="dataTables_wrapper form-inline" role="grid" align="center">
                                    <div class="table-responsive">
                                        <table class="table-hover table-condensed table-bordered" ng-table ="tablaMisColegiaturas">
                                            <colgroup>
                                                <col width="40%" />
                                                <col width="25%" />
                                                <col width="25%" />
                                            </colgroup>
                                            <tr ng-repeat="col in $data">
                                                <td data-title="'Colegio Profesional'"  style="text-align: center;">{{col.nomColPro!=""?col.nomColPro:"No registrado"}}</td>
                                                <td data-title="'Reg. de Nº colegiatura'"  style="text-align: center;">{{col.numRegCol!=""?col.numRegCol:"No registrado"}}</td>
                                                <td data-title="'Condicion a la Fecha'"  style="text-align: center;">{{col.conRegDes!=""?col.conRegDes:"No registrado"}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[4]" ng-hide="!optionsDatosAcademicos[4]" >

                                <div class="dataTables_wrapper form-inline" role="grid">
                                    <div class="table-responsive">
                                        <table class="table-hover table-condensed table-bordered" ng-table ="tablaMisPublicaciones">
                                            <colgroup>
                                                <col width="28%" />
                                                <col width="10%" />
                                                <col width="28%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="5%" />
                                                <col width="14%" />
                                            </colgroup>
                                            <tr ng-repeat="pub in $data">
                                                <td data-title="'Editorial'"  style="text-align: center;">{{pub.nomEdi!=""?pub.nomEdi:"No registrado"}}</td>
                                                <td data-title="'Tipo de publicación'"  style="text-align: center;">{{pub.tipPub!=""?pub.tipPub:"No registrado"}}</td>
                                                <td data-title="'Título de publicación'"  style="text-align: center;">{{pub.titPub!=""?pub.titPub:"No registrado"}}</td>
                                                <td data-title="'Grado de participación'"  style="text-align: center;">{{pub.graPar!=""?pub.graPar:"No registrado"}}</td>
                                                <td data-title="'Lugar'"  style="text-align: center;">{{pub.lug!=""?pub.lug:"No registrado"}}</td>
                                                <td data-title="'Fecha de publicación'"  style="text-align: center;">{{pub.fecPub!=""?pub.fecPub:"No registrado" | date : "dd-MM-yyyy"}}</td>
                                                <td data-title="'Número de registro'"  style="text-align: center;">{{pub.numReg!=""?pub.numReg:"No registrado"}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[5]" ng-hide="!optionsDatosAcademicos[5]" >

                                <div id="editable-sample_wrapper_4" class="dataTables_wrapper form-inline" role="grid">
                                    <div class="table-responsive">
                                        <table class="table-hover table-condensed table-bordered" ng-table ="tablaMisExpPon">
                                            <colgroup>
                                                <col width="30%" />
                                                <col width="20%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                            </colgroup>
                                            <tr ng-repeat="eyp in $data">
                                                <td data-title="'Descripción'"  style="text-align: center;width: 70px">{{eyp.des!=""?eyp.des:"No registrado"}}</td>
                                                <td data-title="'Institución organizadora'"  style="text-align: center;width: 70px">{{eyp.insOrg!=""?eyp.insOrg:"No registrado"}}</td>
                                                <td data-title="'Tipo de participación'"  style="text-align: center;width: 70px">{{eyp.tipPar!=""?eyp.tipPar:"No registrado"}}</td>
                                                <td data-title="'Fecha de inicio'"  style="text-align: center;width: 70px">{{eyp.fecIni!=""?eyp.fecIni:"No registrado" | date : "dd-MM-yyyy"}}</td>
                                                <td data-title="'Fecha de termino'"  style="text-align: center;width: 70px">{{eyp.fecTer!=""?eyp.fecTer:"No registrado" | date : "dd-MM-yyyy"}}</td>
                                                <td data-title="'Horas Lectivas'"  style="text-align: center;width: 70px">{{eyp.horLec}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            <!--
                            <form class="form-horizontal col-sm-10" method="get" ng-show="optionsDatosAcademicos[3]" ng-hide="!optionsDatosAcademicos[3]" >

                                <div id="editable-sample_wrapper_3" class="dataTables_wrapper form-inline" role="grid">
                                    <div class="table-responsive">
                                        <table class="table-hover table-condensed table-bordered" ng-table ="tablaMisEstPos">
                                            <colgroup>
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="30%" />
                                            </colgroup>
                                            <tr ng-repeat="ep in $data">
                                                <td data-title="'Tipo'"  style="text-align: center;width: 70px">{{ep.tipDes}}</td>
                                                <td data-title="'Numero de resolución'"  style="text-align: center;width: 70px">{{ep.numDoc}}</td>
                                                <td data-title="'Fecha de resolución'"  style="text-align: center;width: 70px">{{ep.fecDoc | date : "dd-MM-yyyy"}}</td>
                                                <td data-title="'Fecha de inicio'"  style="text-align: center;width: 70px">{{ep.fecIniEst | date : "dd-MM-yyyy"}}</td>
                                                <td data-title="'Fecha de termino'"  style="text-align: center;width: 70px">{{ep.fecTerEst | date : "dd-MM-yyyy"}}</td>
                                                <td data-title="'Instituto o universidad'"  style="text-align: center;width: 70px">{{ep.ins}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            -->
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="Reconocimientos">  
                        <br>
                        
                        <form class="form-horizontal " method="get">
                            <div class="dataTables_wrapper form-inline" role="grid" align="center">
                                <div class="table-responsive">
                                    <table class="table-hover table-condensed table-bordered" ng-table ="tablaMisReconocimientos">
                                        <colgroup>
                                            <col width="30%" />
                                            <col width="15%" />
                                            <col width="15%" />
                                            <col width="30%" />
                                        </colgroup>
                                        <tr ng-repeat="r in $data">
                                            <td data-title="'Motivo'"  style="text-align: center;width: 70px">{{r.motDes!=""?r.motDes:"No registrado"}}</td>
                                            <td data-title="'Número de resolución'"  style="text-align: center;width: 70px">{{r.numDoc!=""?r.numDoc:"No registrado"}}</td>
                                            <td data-title="'Fecha de resolución'"  style="text-align: center;width: 70px">{{r.fecDoc!=""?r.fecDoc:"No registrado" | date : "dd-MM-yyyy"}}</td>
                                            <td data-title="'Entidad que emite la resolución'"  style="text-align: center;width: 70px">{{r.entEmi!=""?r.entEmi:"No registrado"}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </uib-tab>
                    
                    <uib-tab index="3" heading="Demeritos" ng-disabled="menu">  
                        <br>
                        
                        <form class="form-horizontal " method="get">
                            <div class="dataTables_wrapper form-inline" role="grid">
                                <div class="table-responsive">
                                    <table class="table-hover table-condensed table-bordered" ng-table ="tablaMisDemeritos">
                                        <colgroup>
                                            <col width="20%" />
                                            <col width="10%" />
                                            <col width="9%" />
                                            <col width="10%" />
                                            <col width="9%" />
                                            <col width="9%" />
                                            <col width="18%" />
                                        </colgroup>
                                        <tr ng-repeat="d in $data">
                                            <td data-title="'Entidad emisora'"  style="text-align: center;width: 70px">{{d.entEmi!=""?d.entEmi:"No registrado"}}</td>
                                            <td data-title="'Número de resolución'"  style="text-align: center;width: 70px">{{d.numDoc!=""?d.numDoc:"No registrado"}}</td>
                                            <td data-title="'Fecha de resolución'"  style="text-align: center;width: 70px">{{d.fecDoc!=""?d.fecDoc:"No registrado" | date : "dd-MM-yyyy"}}</td>
                                            <td data-title="'Separación definitiva y/o Temporal'"  style="text-align: center;width: 70px">{{d.sepDes!=""?d.sepDes:"No registrado"}}</td>
                                            <td data-title="'Fecha de inicio'"  style="text-align: center;width: 70px">{{d.fecIni!=""?d.fecIni:"No registrado" | date : "dd-MM-yyyy"}}</td>
                                            <td data-title="'Fecha de término'"  style="text-align: center;width: 70px">{{d.fecFin!=""?d.fecFin:"No registrado" | date : "dd-MM-yyyy"}}</td>
                                            <td data-title="'Motivo'"  style="text-align: center;width: 70px">{{d.mot}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </uib-tab>
                </uib-tabset> 
            </div>
        </section>
    </div>
</div>     