<div class="modal fade"  id="idImagen">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">VISOR DOCUMENTO</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>
                            <button ng-disabled="pagActual === pagInicial" ng-click="mostrarPagina(pagInicial);" id="_hkIncio" title="Inicio de Documento"> << </button>
                        </td>
                        <td>
                            <button ng-disabled="pagActual === pagInicial" ng-click="mostrarPagina(pagActual-1);" title="Anterior Página"> < </button>
                        </td>
                        <td valign="top" nowrap="nowrap">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td> Página: </td>
                                    <td>
                                        <input type="number" ng-disabled="numPaginas === 1" id="idPagSeleccionada" value="{{pagActual-pagInicial+1}}" ng-model="pagInput"/>
                                    </td>
                                    <td>
                                        <button ng-disabled="numPaginas === 1" ng-click="mostrarPagina();" title="Ir a pagina">Ir</button>
                                    </td>
                                    <td>
                                        Total: {{numPaginas}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <button ng-disabled="pagActual-pagInicial+1 === numPaginas" ng-click="mostrarPagina(pagActual + 1);" title="Siguiente Página"> > </button>
                        </td>
                        <td>
                            <button  ng-disabled="pagActual-pagInicial+1 === numPaginas" ng-click="mostrarPagina(pagFinal);" title="Fin de Documento"> >> </button>
                        </td>
                    </tr>
                </table>
                <div id="idImagen">
                    <img style='height: 100%; width: 100%; object-fit: contain' id="idImagenReal" src="{{uri}}/cargarPagina?idPagina={{pagActual}}" alt="Página"/>
                </div>
            </div>
        </div>
    </div>
</div>

