<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrlacompAdm.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Acompañamientos</h4>
            </header>
            <div class="panel-body">
                <div class="form-horizontal" >
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">UGEL</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrlacompAdm.ugel" ng-options="s.nom for s in ctrlacompAdm.ugeles track by s.id" ng-change="ctrlacompAdm.mostrarIes(ctrlacompAdm.ugel)">
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">I.E</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrlacompAdm.ie" ng-options="s.nom for s in ctrlacompAdm.ies track by s.id" ng-change="ctrlacompAdm.listarDocentesIE(ctrlacompAdm.ie)">
                            </select>
                        </div>
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-4">
                        </div>
                    </div>
                </div>
                <div>
                    <table ng-table="ctrlacompAdm.docentes" class="table table-bordered table-hover table-condensed editable-table">
                        <colgroup>
                            <col width="5%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="5%" />
                        </colgroup>
                        <tr ng-repeat="row in $data">
                            <td ng-form="num" data-title="'N°'"><span>{{$index + 1}}</span></td>
                            <td filter="{dni: 'text'}" sortable="'org'"  ng-form="org" data-title="'DNI'"><span>{{row.dni}}</span></td>
                            <td filter="{pat: 'text'}" sortable="'nom'"  ng-form="nom" data-title="'Apellido Paterno'"><span>{{row.pat}}</span></td>
                            <td filter="{mat: 'text'}" sortable="'are'"  ng-form="are" data-title="'Apellido Materno'"><span>{{row.mat}}</span></td>
                            <td filter="{nom: 'text'}" sortable="'grad'"  ng-form="grad" data-title="'Nombres'"><span>{{row.nom}}</span></td>
                            <td filter="{nac: 'text'}" sortable="'fec'"  ng-form="fec" data-title="'Email'"><span>{{row.ema}}</span></td>
                            <td>
                                <button class="btn btn-warning btn-xs" data-toggle="tooltip" title="ver acompañamientos" ng-click="ctrlacompAdm.verAcompanamientosDocente(row)">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>