<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrl.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Acompañamientos Docente</h4>
                <span class="tools pull-right">
                    <button type="submit" class="btn btn-primary btn-xs" ng-click="ctrl.nuevoAcompanamiento()">Nuevo</button>
                </span>
            </header>
            <div class="panel-body">
                <div>
                    <table ng-table="ctrl.acompanamientos" class="table table-bordered table-hover table-condensed editable-table">
                        <colgroup>
                            <col width="5%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="10%" />
                            <col width="15%" />
                            <col width="15%" />
                        </colgroup>
                        <tr ng-repeat="row in $data">
                            <td ng-form="num" data-title="'N°'"><span>{{$index + 1}}</span></td>
                            <td filter="{fec: 'text'}" sortable="'fec'"  ng-form="org" data-title="'Fecha'"><span>{{row.fec | date: 'dd-MM-yyyy'}}</span></td>
                            <td data-title="'Resultado'"><span>{{ctrl.showRes(row.res)}}</span></td>
                            <td filter="{'nivel.nom': 'text'}" sortable="'nivel.nom'" data-title="'Nivel'"><span>{{row.nivel.nom}}</span></td>
                            <td filter="{'grado.nom': 'text'}" sortable="'grado.nom'" data-title="'Grado'"><span>{{row.grado.nom}}</span></td>
                            <td filter="{seccion: 'text'}" sortable="'seccion'" data-title="'Seccion'"><span>{{row.seccion}}</span></td>
                            <td filter="{'area.nom': 'text'}" sortable="'area.nom'" data-title="'Area Curricular'"><span>{{row.area.nom}}</span></td>
                            <td>
                                <button class="btn btn-primary btn-xs" data-toggle="tooltip" title="editar acompañamiento" ng-click="ctrl.editarAcompanamiento(row)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button class="btn btn-danger btn-xs" data-toggle="tooltip" title="eliminar acompañamiento" ng-click="ctrl.eliminaAcompanamiento($event,row)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="nuevo_acompanamiento.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">{{ctrl.titulo}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal style-form" name="myForm">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Fecha:</label>
                        <div style="padding-left: 15px;" class="input-group col-sm-4 form-inline">
                            <input name="fec" type="text" class="form-control"  uib-datepicker-popup="dd-MM-yyyy" ng-model="ctrl.acomp.fec" is-open="ctrl.abrirCalendar"
                                   datepicker-options="ctrl.dateOptions" close-text="Cerrar" today-text="Hoy" clear-text="Limpiar"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Resultado: </label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="ctrl.acomp.res"  ng-options="s.nom for s in ctrl.results track by s.cod"></select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nivel</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="ctrl.acomp.nivel" ng-options="s.nom for s in ctrl.niveles track by s.id" ng-change="ctrl.mostrarGrados(ctrl.acomp.nivel)">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Grado</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="ctrl.acomp.grado" ng-options="s.nom for s in ctrl.grados track by s.id" ng-change="ctrl.mostrarSecciones(ctrl.acomp.grado)">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Seccion</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="ctrl.acomp.seccion" ng-options="s for s in ctrl.secciones" ng-change="ctrl.mostrarAreas(ctrl.acomp.seccion)">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Cursos</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="ctrl.acomp.area" ng-options="s.nom for s in ctrl.areas track by s.id">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Compromisos Asumidos: </label>
                        <div class="col-sm-10">
                            <table ng-table="ctrl.tablaCompromisos" class="table table-bordered table-hover table-condensed editable-table" ng-form="ctrl.tableForm">
                                <colgroup>
                                    <col width="5%" />
                                    <col width="75%" />
                                    <col width="5%" />
                                    <col width="15%" />
                                </colgroup>
                                <tr>
                                    <th>N°</th>
                                    <th>Compromiso</th>
                                    <th></th>
                                    <th>
                                        <button class="btn btn-primary btn-xs" ng-disabled = "ctrl.isSaving" ng-click="ctrl.addAccion()">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                        </button>
                                    </th>
                                </tr>
                                <tr ng-repeat="row in $data" ng-form="rowForm">
                                    <td><span>{{$index + 1}}</span></td>
                                    <td ng-switch="row.edit" ng-form="nom">
                                        <span ng-switch-default class="editable-text">{{row.des}}</span>
                                        <div class="controls" ng-switch-when="true">
                                            <input type="text" name="nom" ng-model="row.des" class="editable-input form-control input-sm" required />
                                        </div>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="checkbox" name="cump" ng-model="row.est"/>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-xs" ng-if="!row.edit" ng-click="ctrl.editarAccion(row)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button class="btn btn-primary btn-xs" ng-if="row.edit" ng-click="ctrl.aceptarEdicionAccion(row)">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                        <button class="btn btn-danger btn-xs md-primary md-raised" ng-if="!row.edit" ng-click="ctrl.eliminarAccion(row)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                        <button class="btn btn-danger btn-xs md-primary md-raised" ng-if="row.edit" ng-click="ctrl.cancelarEdicionAccion(row)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.save()">Guardar</button>
        </div>
    </div>
</script>