<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">TIPO DOCUMENTOS</h4>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarTipoDocumentos()"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" >
        
        <div class="tabla-responsiva"><table class="table table-striped table-hover " ng-init="listarTipoDocumentos()">
          <thead>
          <tr>
              <th style="width: 30%">Nombre</th>
              <th>Descripcion</th>
              <th style="text-align: center;width: 100px">Estado</th>
              <th style="width: 65px"></th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="d in documentos">
                <td class="hidden-phone">{{d.nombre}}</td>
                <td class="hidden-phone">{{d.descripcion}}</td>
                <td style="text-align: center">
                    <span class="label label-mini" ng-class="{'label-info': d.estado=='A','label-warning': d.estado=='I'}">{{d.estado}}</span>
                </td>
                <td>
                    <button type="buttom" class="btn btn-primary btn-xs" ng-click="prepararEditar($index,d)"><i class="fa fa-pencil" ></i></button>
                    <button type="buttom" class="btn btn-danger btn-xs" ng-click="eliminarTipoDocumento($index,d.tipoDocumentoID)"><i class="fa fa-trash-o " ></i></button>
                </td>
            </tr>
          </tbody>
        </table></div> 
        <div align="right" >
            <button class="btn btn btn-primary " data-toggle="modal" data-target="#modalNuevo"><i class="fa fa-plus" ></i> Agregar</button>
            <button class="btn btn-danger " ng-click="eliminarTipoDocumentos()"><i class="fa fa-times" ></i> Eliminar</button>
        </div>

    </div>
</section>
</div></div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ACTUALIZAR TIPO DOCUMENTO</h4>
      </div>
      <div class="modal-body">
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="tipoDocumentoSel.nombre">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Descripcion</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="tipoDocumentoSel.descripcion">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="tipoDocumentoSel.estado" ng-value="'A'" >activo</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="tipoDocumentoSel.estado" ng-value="'I'">inactivo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="editarTipoDocumento()"><i class="fa fa-save" ></i> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVO TIPO DOCUMENTO</h4>
      </div>
      <div class="modal-body">
          
          
            <div class="form-panel" >
                <div class="form-horizontal style-form" >
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="tipoDocumento.nombre">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Descripcion</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="tipoDocumento.descripcion">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Estado</label>
                        <div class="col-sm-10">
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="tipoDocumento.estado" ng-value="'A'" checked>activo</label>
                            </div>
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="tipoDocumento.estado" ng-value="'I'">inactivo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="agregarTipoDocumento()"><i class="fa fa-check" ></i> Guardar</button>
      </div>
    </div>
  </div>
</div>

