<div class="row">
    
<div class="col-md-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">BANDEJA MENSAJE</h4>
        <span class="tools pull-right">
            <button type="button" class="btn btn btn-primary btn-sm" ng-click="buscarMensajes();"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" ng-init="buscarMensajes();listarUsuarios(usuMaster.organizacion.organizacionID);">
        
        <uib-tabset active="active" justified="true">
            <uib-tab index="0" heading="RECIBIDOS" ><div class="panel-body" > 
                
            <div class="tabla-responsiva"><table ng-table="tablaMensaje" class="table table-striped table-hover" show-filter="true" >
                <colgroup>
                    <col width="20px" /><col width="auto" /><col width="150px" /><col width="120px" /><col width="120px" />
                </colgroup>
                <tr ng-repeat="o in $data">
                    <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                    <td data-title="'Asunto'" filter="{ asunto: 'text'}" sortable="'asunto'">{{o.asunto}}</td>
                    <td data-title="'Fecha Envio'" filter="{ fechaEnvio: 'text'}" sortable="'fechaEnvio'">{{o.fechaEnvio}}</td>
                    <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estados" sortable="'estado'" style="text-align: center">
                        <span class="label label-mini" ng-class="{'label-info': o.estado=='V','label-warning': o.estado!='V'}">
                            {{o.estado=='V'?'visto':'no visto'}}
                        </span>
                    </td>
                    <td data-title="'Accion'" style="text-align: center">
                        <button class="btn btn-xs btn-primary" ng-click="prepararVerNuevo(o)" title="ver mensaje"><i class="fa fa-eye"></i></button>
                    </td>
                </tr>
            </table></div>
                
            </div></uib-tab>
            <uib-tab index="1" heading="ENVIADOS"><div class="panel-body" >
                    
            <div class="tabla-responsiva"><table ng-table="tablaMensajeEnviados" class="table table-striped table-hover" show-filter="true" >
                <colgroup>
                    <col width="20px" /><col width="auto" /><col width="150px" /><col width="120px" />
                </colgroup>
                <tr ng-repeat="o in $data">
                    <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                    <td data-title="'Asunto'" filter="{ asunto: 'text'}" sortable="'asunto'">{{o.asunto}}</td>
                    <td data-title="'Fecha Envio'" filter="{ fechaEnvio: 'text'}" sortable="'fechaEnvio'">{{o.fechaEnvio}}</td>                    
                    <td data-title="'Accion'" style="text-align: center">
                        <button class="btn btn-xs btn-primary" ng-click="prepararVerEnviado(o)" title="ver mensaje Enviado"><i class="fa fa-eye"></i></button>
                    </td>
                </tr>
            </table></div>
                
            </div></uib-tab>
        </uib-tabset>
        
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="prepararEnviar()"><i class="fa fa-plus" ></i> Nuevo</button>
        </div>
        
    </div>
</section>

</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalNuevoMensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVO MENSAJE</h4>
      </div>
      <div class="modal-body"><div class="form-panel">
        <form class="form-horizontal style-form" method="get">
            
            <div class="form-group" >
                <label class="col-sm-2 control-label">Destinatario</label>
                <div class="col-sm-10">
                <input type="text" ng-model="selected" typeahead-on-select='elegirUsuario($item)' uib-typeahead="u as u.nombres for u in usuarios | filter:$viewValue " class="form-control" style="max-width: 300px;">
                </div>                
            </div>
            <div class="form-group" >
                <div class="col-sm-offset-2 col-sm-10"><div class="form-control" style="height: initial;min-height: 34px">
                    <button type="button" class="btn btn-default btn-xs" ng-repeat="d in mensaje.destinatarios track by $index" ng-click="deselegirUsuario(d,$index)" style="margin-right: 2px;">{{d.nombres}}</button>
                </div></div>                
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Asunto</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="mensaje.asunto">
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Descripción</label>
                <div class="col-sm-10">
                    <textarea class="form-control" style="min-height: 120px" ng-model="mensaje.descripcion"></textarea>
                </div>
            </div>
            <h4>Documentos Adjuntos</h4>
            <div class="form-group" >
                
                
                <div class="col-sm-12">
                <div class="tabla-responsiva" style="max-height: 115px;border-top: 2px solid #ddd;margin-bottom: 0px;">
                <table class="table peque" style="margin-bottom: 0;">
                    <tbody>
                    <tr ng-repeat="d in mensaje.documentos">
                        <td style="width:15px">{{$index+1}}</td>
                        <td style="word-break: break-all;width:auto;">
                            <span ng-hide="d.edi" ><view-file url="{{d.url}}" nombre="d.documento" archivo="d.archivo"> </view-file></span>
                            <span ng-show="d.edi" ><input-file nombre="d.copia.documento" archivo="d.copia.archivo"></input-file></span>
                        </td>
                        <td style="width:55px">
                            <button type="button" class="btn btn-primary btn-xs" ng-click="editarDocumento($index,d)"><i class="fa" ng-class="{'fa-check':d.edi,'fa-pencil':!d.edi}" ></i></button>
                            <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!d.edi}" ng-click="eliminarDocumento($index,d)"><i class="fa" ng-class="{'fa-times':d.edi,'fa-trash-o':!d.edi}"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table></div>
                <table class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
                    <tr>
                        <td style="width:15px">+</td>
                        <td style="width:auto;word-break: break-all;"><input-file nombre="documentoSel.documento" archivo="documentoSel.archivo"></input-file></td>
                        <td style="width:55px">
                            <button type="button" class="btn btn-success btn-xs" ng-click="agregarDocumento()" title="agregar documento"><i class="fa fa-plus" ></i></button>
                            <button type="button" class="btn btn-xs" ng-click="documentoSel={archivo:{}}" title="cancelar"><i class="fa fa-times" ></i></button>
                        </td>
                    </tr>                      
                </table>
                </div>
                
                
                
            </div>
        </form>
      </div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-disabled="!mensaje.asunto || mensaje.destinatarios.length==0" ng-click="enviarMensaje()">Enviar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalVerMensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">MENSAJE</h4>
      </div>
      <div class="modal-body"><div class="form-panel">
        <form class="form-horizontal style-form" method="get">
            
            <div class="form-group" >
                <label class="col-sm-2 control-label">{{mensaje.estado?'Remitente':'Destinatario'}}</label>
                <div class="col-sm-10"><div class="form-control" style="height: initial;min-height: 34px">
                    <button type="button" class="btn btn-default btn-xs" ng-repeat="d in mensaje.destinatarios track by $index" style="margin-right: 2px;">{{d.nombres}}</button>
                </div></div>
            </div>
            <div class="form-group" >
                
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Asunto</label>
                <div class="col-sm-10">
                    <span class="form-control"> {{mensaje.asunto}}</span>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Descripción</label>
                <div class="col-sm-10">
                    <span class="form-control" style="min-height: 120px" >{{mensaje.descripcion}}</span>
                </div>
            </div>
            <h4>Documentos Adjuntos</h4>
            <div class="form-group" >
                
                <div class="col-sm-12">
                <div class="tabla-responsiva" style="max-height: 115px;border-top: 2px solid #ddd;margin-bottom: 0px;">
                <table class="table peque" style="margin-bottom: 0;">
                    <tbody>
                    <tr ng-repeat="d in mensaje.documentos">
                        <td style="width:15px">{{$index+1}}</td>
                        <td style="word-break: break-all;width:auto;">
                            <view-file url="{{d.url}}" nombre="d.documento" archivo="d.archivo"> </view-file>
                        </td>
                        <td style="width:55px">
                        </td>
                    </tr>
                    </tbody>
                </table></div>
                </div>
                
            </div>
        </form>
      </div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>