<div class="row">
    
<div class="col-md-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">BANDEJA DE TAREAS ESCOLARES</h4>
        <span class="tools pull-right">
            <button type="button" class="btn btn btn-primary btn-sm" ng-click="buscarPlanEstudios(usuMaster.organizacion.organizacionID,usuMaster.usuario.usuarioID)"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" ng-init="buscarPlanEstudios(usuMaster.organizacion.organizacionID,usuMaster.usuario.usuarioID)">
        <div class="form-panel">
            <div class="form-horizontal style-form" >
            <div class="form-group" >                
                <label class="col-sm-2 control-label">Area</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="tarea.areaID" ng-options="o.areaID as o.area for o in plan.areas" ng-click="filtrarAreas()">
                        <option ng-value="todos"></option>
                    </select>
                </div>
            </div>
            </div>
            
        </div><hr/>        

        <div class="panel-body" >                

        <div class="tabla-responsiva"><table ng-table="tablaTarea" class="table table-striped table-hover" show-filter="true" >
            <colgroup>
                <col width="20px" /><col width="auto" /><col width="180px" /><col width="80px" /><col width="140px" /><col width="140px" /><col width="160px" />
            </colgroup>
            <tr ng-repeat="o in $data">
                <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                <td data-title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'">{{o.nombre}}</td>
                <td data-title="'Area'" sortable="'areaID'" style="text-align: center">{{o.area}}</td>
                <td data-title="'Nota'" sortable="'nota'" style="text-align: center">{{o.nota}}</td>
                <td data-title="'Fecha Envio'" filter="{ fechaEnvio: 'text'}" sortable="'fechaEnvio'">{{o.fechaEnvio}}</td>
                <td data-title="'Fecha Limite'" filter="{ fechaMaxEntrega: 'text'}" sortable="'fechaMaxEntrega'">{{o.fechaMaxEntrega}}</td>
                <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estados" sortable="'estado'" style="text-align: center">
                    <span class="label label-mini" ng-class="{'label-info': o.estado=='N','label-warning': o.estado=='E','label-success': o.estado=='C','label-danger': o.estado=='F'}">
                        {{o.estado=='N'?'nuevo':o.estado=='E'?'enviado':o.estado=='C'?'calificado':'fuera tiempo'}}
                    </span>
                </td>
                <td data-title="'Accion'" style="text-align: center">
                    <button ng-if="o.estado!='F'" class="btn btn-xs" ng-class="{'btn-success':o.estado=='N','btn-primary':o.estado=='E'||o.estado=='C'}" ng-click="prepararEnviar(o)" title="{{o.estado=='N'? 'enviar tarea':'ver tarea'}}"><i class="fa" ng-class="{'fa-sign-out':o.estado=='N','fa-eye':o.estado=='E'||o.estado=='C'}"></i></button>
                </td>
            </tr>
        </table></div>

        </div>
        
    </div>
</section>
    

</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalEnviarTarea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">TAREA - {{tarea.nombre}}</h4>
      </div>
      <div class="modal-body"><div class="form-panel">
        <form class="form-horizontal style-form" method="get">
            <div class="form-group" >
                <label class="col-sm-2 control-label">Descripción</label>
                <div class="col-sm-10">
                    <p class="form-control" style="height: auto">{{tarea.descripcion}}</p>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2" style="text-align: right">Fecha Maximo de Entrega</label>
                <div class="col-sm-4">
                    <span class="form-control">{{tarea.fechaMaxEntrega}}</span>
                </div>
                <label class="col-sm-2 control-label">Adjunto</label>
                <div class="col-sm-4">
                    <view-file url="{{tarea.url}}" nombre="tarea.adjunto" nover="true"></view-file>
                </div>
            </div>
            <h4>Documentos</h4>
            <div class="form-group" >
                <label class="col-sm-4 control-label" >N° de documentos permitidos</label>
                <div class="col-sm-2">
                    <span class="form-control">{{tarea.numeroDoc}}</span>
                </div>
                
            </div><div class="form-group" >
                
              <div class="col-sm-12">
              <div class="tabla-responsiva" style="max-height: 120px;border-top: 2px solid #ddd;margin-bottom: 0px;">
              <table class="table peque" style="margin-bottom: 0;">
                  <thead>
                  <tr>
                      <th style="width:15px">#</th><th style="width:auto;">Documento</th><th style="width:55px">Accion</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="d in tarea.documentos">
                      <td>{{$index+1}}</td>
                      <td style="word-break: break-all;">
                          <span ng-hide="d.edi" ><view-file url="{{d.url}}" nombre="d.documento" archivo="d.archivo"> </view-file></span>
                          <span ng-show="d.edi" ><input-file nombre="d.copia.documento" archivo="d.copia.archivo"></input-file></span>
                      </td>
                      <td>
                          <button ng-if="tarea.estado=='N'" type="button" class="btn btn-primary btn-xs" ng-click="editarDocumento($index,d)"><i class="fa" ng-class="{'fa-check':d.edi,'fa-pencil':!d.edi}" ></i></button>
                          <button ng-if="tarea.estado=='N'" type="button" class="btn btn-xs" ng-class="{'btn-danger':!d.edi}" ng-click="eliminarDocumento($index,d)"><i class="fa" ng-class="{'fa-times':d.edi,'fa-trash-o':!d.edi}"></i></button>
                      </td>
                  </tr>
                  </tbody>
              </table></div>
              <table ng-if="tarea.estado=='N'" class="table peque" style="margin-bottom: 0;background: #f1f2f7;">
                  <tr>
                      <td style="width:15px">+</td>
                      <td style="width:auto;word-break: break-all;"><input-file nombre="documentoSel.documento" archivo="documentoSel.archivo"></input-file></td>
                      <td style="width:55px">
                          <button class="btn btn-success btn-xs" ng-click="agregarDocumento()" title="agregar documento"><i class="fa fa-plus" ></i></button>
                          <button type="button" class="btn btn-xs" ng-click="documentoSel={archivo:{}}" title="cancelar"><i class="fa fa-times" ></i></button>
                      </td>
                  </tr>                      
              </table>
              </div>
                
                
            </div>
            
            
        </form>
      </div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button ng-if="tarea.estado=='N'" type="button" class="btn btn-primary" ng-click="enviarTarea()">Enviar Tarea</button>
      </div>
    </div>
  </div>
</div>