<div class="row"><div class="col-lg-12">
        
<section class="panel">

        <div class="form-horizontal" style="background-color: white;">
            <div class="form-group" >
                <label class="col-sm-offset-2 col-sm-2 control-label">Institucion</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="busqueda.orgID" ng-change="diseoCurricularVigente()">
                        <option value="0"></option>
                        <option ng-repeat="o in organizaciones" value="{{o.organizacionID}}">{{o.nombre}}</option>
                    </select>
                </div>
            </div>
        </div>
        
<uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="METAS DE ATENCION Y OCUPACION" >    
    <div class="panel-body" >        
        <div class="form-horizontal" >
            <div class="form-group" >
                <label class="col-sm-offset-2 col-sm-1 control-label">Nivel</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="busqueda.nivelID" >
                        <option value="0"></option>
                        <option ng-repeat="o in disenoActual.niveles" value="{{o.nivelID}}">{{o.nombre}}</option>
                    </select>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-success " type="button" ng-click="generarEstadistica()">generar</button>
                </div>
            </div>
        </div>
        <hr/>
        <div style="height: 300px" align="center">
            <canvas id="metasAtencion" width="800" height="300"></canvas>
        </div>
        
        
        <div class="col-sm-6" ng-repeat="a in anosSel track by $index">
        <table class="table table-bordered " style="margin-top: 0px;border-bottom:none;">
        <thead>
            <tr>
                <th class="text-center" style="background: #e8e9f0" colspan="{{gradosSel.length+2}}">
                    Año: {{a.nombre}}
            </tr>
            <tr>
                <th class="text-center" style="background: #e8e9f0">Variables \ Grados</th>
                <th class="text-center" style="background: #e8e9f0" ng-repeat="g in gradosSel">{{g.abreviacion}}</th>
                <th class="text-center" style="background: #e8e9f0">Total</th>
            </tr>
        </thead>
        <tbody >
            <tr >
                <td ><span >N° Estudiates</span></td>
                <td class="text-center" ng-repeat="g in a.data track by $index">
                    <span style="font-size: 18px">{{g}}</span>
                </td>
                <td ><span style="font-size: 18px">{{a.dataT}}</span></td>
            </tr>
            <tr >
                <td ><span >N° Secciones</span></td>
                <td class="text-center" ng-repeat="g in a.data2 track by $index">
                    <span style="font-size: 18px">{{g}}</span>
                </td>
                <td ><span style="font-size: 18px">{{a.data2T}}</span></td>
            </tr>
        </tbody>
        </table>
        </div>
        
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirGrafico()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
    </div>

    </uib-tab>
    <uib-tab index="1" heading="DISTRIBUCION DE HORAS" >
    
    <div class="panel-body" >        
        <div class="form-horizontal" >
            <div class="form-group" >
                <label class="col-sm-offset-2 col-sm-1 control-label">Nivel</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="jornadaSel" ng-options="o as o.descripcion for o in plan.niveles"  >
                        <option value="0">Seleccione jornada</option>
                    </select>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-success " type="button" ng-click="generarEstadistica3(jornadaSel)">generar</button>
                </div>
            </div>
        </div>
        <hr/>
        
        <div style="height: 300px" align="center">
            <canvas id="ditribucionAreas" width="800" height="300"></canvas>
        </div>
        
        <div class="tabla-responsiva">
        <table class="table table-bordered" style="margin-top: 10px;">
        <thead>
            <tr>
                <th style="background: #e8e9f0" >GRADOS</th>
                <th style="background: #e8e9f0" class="text-center" ng-repeat="o in matris.grados" colspan="3">{{o.nombre}}</th>
                <th style="background: #e8e9f0" class="text-center" colspan="3">Totales Parciales</th>
            </tr>
            <tr>
                <th style="background: #e8e9f0">AREAS CURRICULARES</th>
                <th style="background: #e8e9f0" class="text-center" ng-repeat-start="o in matris.grados" >Horas Asig.</th>
                <th style="background: #e8e9f0" class="text-center" >N° Secc.</th>
                <th style="background: #e8e9f0" class="text-center" ng-repeat-end >Total Horas</th>
                <th style="background: #e8e9f0" class="text-center" >Horas Asig.</th>
                <th style="background: #e8e9f0" class="text-center" >N° Secc.</th>
                <th style="background: #e8e9f0" class="text-center" >Total Horas</th>
            </tr>
        </thead>
        <tbody>            
            <tr ng-repeat="a in matris.gradoAreas track by $index" ng-if="a">
                <td class="text-center" style="background: #f5f6f9;">
                    {{matris.areas[$index].nombre}}
                </td>            
                <td class="text-center" ng-repeat-start="o in a track by $index" >
                    <span style="display: inline-block;" >{{o.hora}}</span>
                </td>
                <td ng-if="$parent.$index==0" class="text-center" rowspan="{{matris.f}}" style="vertical-align: middle;">
                    <span style="display: inline-block;" >{{matris.grados[$index].meta}}</span>
                </td>
                <td class="text-center" style="background: #FFFDE7;" ng-repeat-end>
                    <span style="display: inline-block;" >{{o.total}}</span>
                </td>
                <td class="text-center" >
                    <span style="display: inline-block;" >{{matris.areas[$index].totalH}}</span>
                </td>
                <td ng-if="$parent.$index==0" class="text-center " rowspan="{{matris.f}}" style="vertical-align: middle;">
                    <span style="display: inline-block;" >{{matris.metas}}</span>
                </td>
                <td class="text-center" style="background: #FFFDE7;">
                    <span style="display: inline-block;" >{{matris.areas[$index].totalT}}</span>
                </td>
            </tr><tr>
                <td style="text-align: right;background:#e8e9f0;">total</td>
                <td style="background: #E1F5FE;" class="text-center" ng-repeat-start="o in matris.grados track by $index">
                    {{o.totalH}}
                </td>
                <td style="background: #E1F5FE;" class="text-center" >
                    {{o.meta}}
                </td>
                <td style="background: #FFECB3;" class="text-center" ng-repeat-end>
                    {{o.totalT}}
                </td>
                <td style="background: #E1F5FE;" class="text-center" >
                    {{matris.totalH}}
                </td>
                <td style="background: #E1F5FE;" class="text-center" >
                    {{matris.metas}}
                </td>
                <td style="background: #FFECB3;" class="text-center" >
                    {{matris.totalT}}
                </td>
            </tr>
        </tbody>
        </table>
        </div>
        
        
        
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirGrafico3()"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
    </div>

    </uib-tab>
    
    <uib-tab index="2" heading="PLAZAS MAGISTERIALES">
        <div class="panel-body" >
            
        <div class="form-horizontal" >
            <div class="form-group" >
                
                <div class="col-sm-offset-5 col-sm-2">
                    <button class="btn btn-success " type="button" ng-click="generarEstadistica4()">generar</button>
                </div>
            </div>
        </div>
        <hr/>
        <div class="tabla-responsiva"><table ng-table="tabla" class="table table-striped table-hover" show-filter="true" >
            <colgroup>
                <col width="20px" /><col width="100px" /><col width="150px" /><col width="150px" /><col width="auto" /><col width="150px" /><col width="150px" /><col width="150px" /><col width="120px" /><col width="120px" />
            </colgroup>
            <tr ng-repeat="o in $data">
                <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                <td data-title="'Nexus'" filter="{ nexus: 'text'}" sortable="'nexus'">{{o.nexus}}</td>
                <td data-title="'Nivel'" filter="{ nivel: 'text'}" sortable="'nivel'">{{o.nivel}}</td>
                <td data-title="'Cargo'" filter="{ cargo: 'text'}" sortable="'cargo'">{{o.cargo}}</td>
                <td data-title="'Especialidad'" filter="{ especialidad: 'text'}" sortable="'especialidad'">{{o.especialidad}}</td>
                <td data-title="'Naturaleza'" filter="{ naturalezaID: 'text'}" sortable="'naturalezaID'">{{o.naturalezaID}}</td>
                <td data-title="'Condicion'" filter="{ condicionID: 'text'}" sortable="'condicionID'">{{o.condicionID}}</td>
                <td data-title="'Motivo'" filter="{ motivo: 'text'}" sortable="'motivo'">{{o.motivo}}</td>                
                <td data-title="'Jornada'" filter="{ jornadaLaboral: 'text'}" sortable="'jornadaLaboral'">{{o.jornadaLaboral}}</td>
                <td data-title="'H. Dictado'" filter="{ jornadaPedagogica: 'text'}" sortable="'jornada'">{{o.jornadaPedagogica}}</td>
            </tr>
        </table></div>
        <div align="right">            
            <button class="btn btn btn-primary" ng-click="imprimirGrafico4(usuMaster.organizacion.nombre)"><i class="fa fa-print" ></i> Imprimir</button>
        </div>
                
        </div>
    </uib-tab>
</uib-tabset>
</section>
</div></div>