<div class="row">
    
<div class="col-md-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">EVALUACIONES ESCOLARES</h4>
        <span class="tools pull-right">
            <button type="button" class="btn btn btn-primary btn-sm" ng-click="buscarEvaluaciones(usuMaster.usuario.usuarioID)"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" ng-init="buscarPlanEstudios(usuMaster.organizacion.organizacionID,usuMaster.usuario.usuarioID)">
        <div class="form-panel">
            <div class="form-horizontal style-form" >
            <div class="form-group" >
                <label class="col-sm-2 control-label">Grado</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="gradoSel" ng-options="g as g.grado for g in grados" ng-change="calcularSecciones(gradoSel)">
                        <option ng-value="todos"></option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Seccion</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="seccionSel" ng-options="o as o.seccionID for o in gradoSel.secciones" ng-change="filtrarSecciones()">
                        <option ng-value="todos"></option>
                    </select>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Area</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="areaSel" ng-options="o.areaID as o.area for o in seccionSel.areas" ng-click="filtrarAreas()">
                        <option ng-value="todos"></option>
                    </select>
                </div>
            </div>
            </div>
            
        </div><hr/>        

        <uib-tabset active="active" justified="true">
            <uib-tab index="0" heading="EVALUACIONES" disable="true">
            <div class="panel-body" >                
                
            <div class="tabla-responsiva"><table ng-table="tablaEvaluacion" class="table table-striped table-hover" show-filter="true" >
                <colgroup>
                    <col width="20px" /><col width="auto" /><col width="150px" /><col width="80px" /><col width="180px" /><col width="150px" /><col width="120px" /><col width="100px" />
                </colgroup>
                <tr ng-repeat="o in $data">
                    <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                    <td data-title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'">{{o.nombre}}</td>
                    <td data-title="'Grado'" sortable="'gradoID'" style="text-align: center">{{o.grado}}</td>
                    <td data-title="'Seccion'" sortable="'seccionID'" style="text-align: center">{{o.seccionID}}</td>
                    <td data-title="'Area'" sortable="'areaID'" style="text-align: center">{{o.area}}</td>
                    <td data-title="'Fecha Entrega'" filter="{ fechaEntrega: 'text'}" sortable="'fechaEntrega'">{{o.fechaEntrega}}</td>
                    <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estados" sortable="'estado'" style="text-align: center">
                        <span class="label label-mini" ng-class="{'label-info': o.estado=='N','label-warning': o.estado=='E','label-success': o.estado=='C'}">
                            {{o.estado=='C'?'calificado':o.estado=='E'?'enviado':'nuevo'}}
                        </span>
                    </td>
                    <td data-title="'Accion'" style="text-align: center">
                        <div ng-if="o.estado=='N'">
                        <button class="btn btn-primary btn-xs" ng-click="prepararEditar(o)" title="editar evaluacion"><i class="fa fa-pencil" ></i></button>
                        <button class="btn btn-danger btn-xs" ng-click="eliminarEvaluacion(o.i,o.evaluacionID)" title="eliminar evaluacion"><i class="fa fa-trash-o" ></i></button>
                        </div>
                        <button ng-if="o.estado!='N'" class="btn btn-xs" ng-class="{'btn-success':o.estado=='E','btn-primary':o.estado=='C'}" ng-click="prepararEvaluacion(o)" title="{{o.estado=='E'? 'revisar evaluacion':'ver evaluacion'}}"><i class="fa" ng-class="{'fa-check':o.estado=='E','fa-eye':o.estado=='C'}"></i></button>
                    </td>
                </tr>
            </table></div>
            <div align="right">            
                <button class="btn btn btn-primary" ng-disabled="!areaSel || !seccionSel" ng-click="prepararAgregar(evaluacion.seccionID,evaluacion.areaID)"><i class="fa fa-plus" ></i> Agregar</button>
            </div>

            </div>
            </uib-tab>
            <uib-tab index="1" heading="ALUMNOS" disable="true">
            <div class="panel-body" >
                
                <h4>Evaluacion: {{evaluacion.nombre}}</h4>
                
                <div class="tabla-responsiva"><table ng-table="tablaAlumno" class="table table-striped table-hover" show-filter="true" >
                <colgroup>
                    <col width="20px" /><col width="auto" /><col width="220px" ><col width="50px" /><col width="150px" /><col width="100px" /><col width="70px" />
                </colgroup>
                <tr ng-repeat="o in $data">
                    <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                    <td data-title="'Apellidos'" filter="{ apellidos: 'text'}" sortable="'apellidos'">{{o.apellidos}}</td>
                    <td data-title="'Nombres'" filter="{ nombres: 'text'}" sortable="'nombres'">{{o.nombres}}</td>
                    <td data-title="'Nota'" filter="{ nota: 'text'}" sortable="'nota'">{{o.nota}}</td>
                    <td data-title="'Fecha Envio'" filter="{ fechaEntrega: 'text'}" sortable="'fechaEntrega'">{{o.fechaEntrega}}</td>
                    <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estados" sortable="'estado'" style="text-align: center">
                        <span class="label label-mini" ng-class="{'label-info': o.estado=='E','label-success': o.estado=='C'}">
                            {{o.estado=='C'?'calificado':'enviado'}}
                        </span>
                    </td>
                    <td data-title="'Accion'" style="text-align: center">
                        <button class="btn btn-success btn-xs" ng-click="prepararCalificar(o)" title="calificar evaluacion"><i class="fa fa-pencil-square-o" ></i></button>
                    </td>
                </tr>
            </table></div>
                
            <div align="right">            
                <button class="btn btn-default" ng-click="$parent.$parent.active=0"><i class="fa fa-arrow-left" ></i> regresar</button>
                <button class="btn btn btn-primary" ng-click="finalizarCalificacion()"><i class="fa fa-save" ></i> Actualizar Registro</button>
            </div>  

            </div>
            </uib-tab>
            <uib-tab index="2" heading="LISTA DE DOCUMENTOS" disable="true">
            <div class="panel-body" >
                
                <h4>Evaluacion: {{evaluacion.nombre}}</h4>
                <h4>Alumno: {{alumno.nombres}}</h4>
                
                <div class="tabla-responsiva"><table class="table table-striped table-hover " >
                <thead>
                <tr>
                    <th style="width: 65px;">N°</th>
                    <th>Nombre</th>
                    <th style="width: 80px">Nota</th>
                </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="d in documentos">
                      <td >{{d.i}}</td>
                      <td >
                          <view-file url="{{d.url}}" nombre="d.documento" > </view-file>
                      </td>
                      <td >
                          <input type="number" ng-model="d.nota" style="width: 100%;text-align: center" ng-keyup="calcularNota()">
                      </td>
                  </tr>
                  <tr style="background: #e8e9f0">
                      <td ></td>
                      <td style="text-align: right">
                          NOTA FINAL :
                      </td>
                      <td style="text-align: center">
                          <span style="width: 100%;font-weight: bold">{{alumno.nota}}</span>
                      </td>
                  </tr>
                </tbody>
                </table></div>
                
            <div align="right">            
                <button class="btn btn-default" ng-click="$parent.$parent.active=1"><i class="fa fa-arrow-left" ></i> regresar</button>
                <button class="btn btn btn-primary" ng-click="calificarEvaluacion()"><i class="fa fa-save" ></i> guardar</button>
            </div>  

            </div>
            </uib-tab>
        </uib-tabset>
        
    </div>
</section>
    

</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalNuevaEvaluacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">EVALUACION ESCOLAR</h4>
      </div>
          <uib-tabset active="active2" justified="true">
            <uib-tab index="0" heading="DATOS GENERALES" disable="true">
            <div class="panel-body" >
                
                
                <form class="form-horizontal style-form" >                    
            
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="evaluacion.nombre">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Descripción</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" ng-model="evaluacion.descripcion"></textarea>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2" style="text-align: right">Intentos</label>
                        <div class="col-sm-4">
                            <input type="number" step="1" class="form-control" style="max-width: 80px" ng-model="evaluacion.intentos">
                        </div>
                        <label class="col-sm-2 control-label">Calificacion</label>
                        <div class="col-sm-4">
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="evaluacion.calificacion" ng-value="true">Numerico</label>
                            </div>
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="evaluacion.calificacion" ng-value="false">Alfabetica</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Orden aleatorio</label>
                        <div class="col-sm-4">
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="evaluacion.aleatorio" ng-value="true">si</label>
                            </div>
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="evaluacion.aleatorio" ng-value="false">no</label>
                            </div>
                        </div>
                        <label class="col-sm-2 control-label">Programadas</label>
                        <div class="col-sm-4">
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="evaluacion.automatico" ng-value="true">si</label>
                            </div>
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="evaluacion.automatico" ng-value="false">no</label>
                            </div>
                        </div>
                    </div>
                </form>
                <hr/>      
                <div align="right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" ng-if="evaluacion.estado!='E'" class="btn btn-primary" ng-click="agregarEvaluacion(usuMaster.usuario.usuarioID)">Guardar</button>
                    <button class="btn btn-default" ng-disabled="!evaluacion.evaluacionID" ng-click="$parent.$parent.active2=1"><i class="fa fa-arrow-right" ></i> siguiente</button>
                </div>
                
            </div>
            </uib-tab><uib-tab index="1" heading="PREGUNTAS" disable="true">                
            <div class="panel-body" >
                <form class="form-horizontal style-form" >                    
                <div style="border: 1px solid #ccc;border-radius: 8px;padding: 7px" >

                    <div class="form-group" >
                        <label class="col-sm-1" style="padding: 0 10px;text-align: right">Tipo</label>
                        <div class="col-sm-3" style="padding: 0 10px">
                            <select class="form-control input-table" ng-model="pregunta.tipo" ng-change="seleccionarTipo()">
                                <option ng-repeat="tp in tipoPreguntas " value="{{tp.id}}">{{tp.nombre}}</option>
                            </select>
                        </div>
                        <label class="col-sm-1" style="padding: 0 10px;text-align: right">Valor</label>
                        <div class="col-sm-2" style="padding: 0 10px">
                            <input type="number" step="1" class="form-control input-table" style="max-width: 80px" ng-model="pregunta.puntos">
                        </div>
                        <label class="col-sm-2" style="padding: 0 10px;text-align: right">Tiempo</label>
                        <div class="col-sm-3" style="padding: 0 10px">
                            <input type="number" step="1" class="form-control input-table" style="max-width: 80px;display: inline-block;" ng-model="pregunta.tiempo"> <b>Min</b>
                        </div>
                    </div>

                    <div style="margin-bottom: 5px">
                        <input type="text" class="form-control input-table" ng-model="pregunta.titulo" placeholder="titulo o descripcion">
                    </div>
                    <div style="margin-bottom: 5px;max-height: 92px" class="tabla-responsiva">
                        <div style="display: flex;padding-bottom: 1px;" ng-repeat="o in pregunta.opciones">
                            <div style="width: 25px">
                                <span >{{$index+1}}. </span>                
                            </div>
                            <div style="width: 30%">
                                <span ng-hide="o.edi">{{o.respuesta}}</span>
                                <span ng-show="o.edi" ><input style="width: 100%" ng-model="o.copia.respuesta"/></span>
                            </div>
                            <div style="width: 100%">
                                <span ng-hide="o.edi">{{o.contenido}}</span>
                                <span ng-show="o.edi" ><input style="width: 100%" ng-model="o.copia.contenido"/></span>
                            </div>
                            <div style="width:80px">
                            <button type="button" class="btn btn-primary btn-xs" ng-click="editarOpcion($index,o)"><i class="fa" ng-class="{'fa-check':o.edi,'fa-pencil':!o.edi}" ></i></button>
                            <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!o.edi}" ng-click="eliminarOpcion($index,o)"><i class="fa" ng-class="{'fa-times':o.edi,'fa-trash-o':!o.edi}"></i></button>
                            </div>
                        </div>
                    </div>
                    <hr style="margin:2px 0"/>
                    <div style="display:flex;margin-bottom: 5px">
                        <div style="width: 25px">                                 
                        </div>
                        <input type="text" style="width:30%;margin-right: 2px" class="form-control input-table" ng-model="opcion.respuesta" placeholder="respuesta">                            
                        <input type="text" style="margin-right: 2px" class="form-control input-table" ng-model="opcion.contenido" placeholder="contenido o pregunta">
                        <div style="width:80px">
                        <button type="button" ng-disabled="!pregunta.tipo" class="btn btn-success btn-xs" ng-click="agregarOpcion()"><i class="fa fa-plus" ></i></button>
                        <button type="button" class="btn btn-default btn-xs" ng-click="opcion.respuesta='';opcion.contenido=''"><i class="fa fa-times" ></i></button>
                        </div>
                    </div>
                    <div align="center">
                        <button class="btn btn-success btn-xs" ng-click="agregarPregunta()"><i class="fa fa-plus" ></i> Agregar pregunta</button>
                    </div>
                </div>
                <h4>Preguntas</h4>
                <div class="tabla-responsiva" style="max-height: 380px">
                <div ng-repeat="p in evaluacion.preguntas" style="border: 1px solid #ccc;border-radius: 8px;padding: 7px" >

                    <div >
                        <div class="col-sm-4" style="padding: 0 10px">
                            <button class="btn btn-success btn-xs" ng-click="generarOrden(p)"><i class="fa fa-refresh" ></i> generar</button>
                        </div>
                        <label class="col-sm-1" style="padding: 0 10px;text-align: right">Valor</label>
                        <div class="col-sm-2" style="padding: 0 10px">
                            <input type="number" step="1" class="form-control input-table" style="max-width: 80px" ng-model="p.puntos">
                        </div>
                        <label class="col-sm-2" style="padding: 0 10px;text-align: right">Tiempo</label>
                        <div class="col-sm-3" style="padding: 0 10px">
                            <input type="number" step="1" class="form-control input-table" style="max-width: 80px;display: inline-block;" ng-model="p.tiempo"> <b>Min</b>
                        </div>
                    </div>

                    <div style="margin-bottom: 5px">
                        <input type="text" class="form-control input-table" ng-model="p.titulo" placeholder="titulo o nombre">
                    </div>                        
                    <div style="margin-bottom: 5px;max-height: 92px" class="tabla-responsiva">
                        <div style="display: flex;padding-bottom: 1px;" ng-repeat="o in p.opciones">
                            <div style="width: 25px">
                                <span >{{$index+1}}. </span>                
                            </div>
                            <div style="width: 30%" ng-if="o.concepto">
                                <span >{{o.concepto}}</span>                                
                            </div>
                            <div style="width: 100%">
                                <span ng-hide="o.edi" style="margin-right: 10px">( {{o.respuesta}} )</span>
                                <span ng-show="o.edi" ><input style="width: 30%" ng-model="o.copia.respuesta"/></span>
                                <span ng-hide="o.edi">{{o.contenido}}</span>
                                <span ng-show="o.edi" style="display: inline-block;width: 66%"><input style="width: 100%" ng-model="o.copia.contenido"/></span>
                            </div>
                            <div style="width:75px">
                            <button type="button" class="btn btn-primary btn-xs" ng-click="editarOpcion($index,o,p)"><i class="fa" ng-class="{'fa-check':o.edi,'fa-pencil':!o.edi}" ></i></button>
                            <button type="button" class="btn btn-xs" ng-if="o.edi" ng-click="eliminarOpcion($index,o)"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <hr style="margin:2px 0"/>
                    <div style="display: flex">
                        <div ng-repeat="o in p.alternativas" style="display: inline-block;width: 20%">
                            <span><b ng-class="{'opcion-sel':o.res == p.respuestaS}">{{o.id}} ) </b></span>
                            <span ng-if="p.tipo!='P'">{{o.res}}</span>
                            <input ng-if="p.tipo=='P'" style="width: 30%" ng-model="o.res"/></span>
                        </div>         
                        
                    </div>
                </div>
                </div>
                    
                </form>
                <hr style="margin: 5px 0 10px"/>
                <div align="right">            
                    <button class="btn btn-default" ng-click="$parent.$parent.active2=0"><i class="fa fa-arrow-left" ></i> regresar</button>
                    <button type="button" ng-if="evaluacion.estado=='N'" class="btn btn-primary" ng-click="agregarPreguntas()">Guardar</button>
                    <button class="btn btn-default" ng-disabled="evaluacion.preguntas.length<=0" ng-click="$parent.$parent.active2=2"><i class="fa fa-arrow-right" ></i> siguiente</button>
                </div>
                
            </div>
            </uib-tab><uib-tab index="2" heading="MENSAJES" disable="true">
            <div class="panel-body" >
                <form class="form-horizontal style-form" >                    
                <div style="border: 1px solid #ccc;border-radius: 8px;padding: 7px" >

                    <div class="form-group" >
                        <label class="col-sm-1" style="padding: 0 10px;text-align: right">Puntos</label>
                        <div class="col-sm-2" style="padding: 0 10px">
                            <input type="number" step="1" min="0" max="100" class="form-control input-table" style="max-width: 80px" ng-model="mensaje.puntos">
                        </div>
                        <div class="col-sm-9" style="padding: 0 10px">
                        <input type="text" class="form-control input-table" ng-model="mensaje.mensaje" placeholder="titulo o descripcion">
                        </div>
                    </div>
                    <div align="center">
                        <button class="btn btn-success btn-xs" ng-click="agregarMensaje()"><i class="fa fa-plus" ></i> Agregar mensaje</button>
                    </div>
                </div>
                <h4>Mensajes</h4>
                <div class="tabla-responsiva" style="max-height: 400px">
                <div ng-repeat="m in evaluacion.mensajes" style="margin-bottom: 8px;border: 1px solid #ccc;border-radius: 8px;padding: 7px;display:flex" >

                    <label style="width:40px">Puntos</label>
                    <div style="padding: 0 10px;width:20%">
                        <span ng-hide="m.edi" style="margin-right: 10px">( {{m.puntos}} )</span>
                        <input ng-show="m.edi" type="number" step="1" min="0" max="100" class="form-control input-table" style="max-width: 80px" ng-model="m.copia.puntos">
                    </div>
                    <div style="padding: 0 10px;width:80%">
                        <span ng-hide="m.edi" style="margin-right: 10px">{{m.mensaje}}</span>
                        <input ng-show="m.edi" type="text" class="form-control input-table" ng-model="m.copia.mensaje" placeholder="titulo o descripcion">
                    </div>
                    <div style="width:75px">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="editarMensaje($index,m)"><i class="fa" ng-class="{'fa-check':m.edi,'fa-pencil':!m.edi}" ></i></button>
                        <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!m.edi}" ng-click="eliminarMensaje($index,m)"><i class="fa" ng-class="{'fa-times':m.edi,'fa-trash-o':!m.edi}"></i></button>
                    </div>
                </div>
                </div>
                    
                </form>
                
                <hr style="margin: 5px 0 10px"/>
                <div align="right">
                    <button class="btn btn-default" ng-click="$parent.$parent.active2=1"><i class="fa fa-arrow-left" ></i> regresar</button>
                    <button type="button" ng-if="evaluacion.estado=='N'" class="btn btn-primary" ng-click="agregarMensajes()">Guardar</button>
                    <button class="btn btn-default" ng-disabled="evaluacion.mensajes.length<=0" ng-click="$parent.$parent.active2=3"><i class="fa fa-arrow-right" ></i> siguiente</button>
                </div>
                
            </div>
            </uib-tab><uib-tab index="3" heading="ENVIO" disable="true">
            <div class="panel-body" >
                <form class="form-horizontal style-form" >                    
                <h4>Datos Evaluacion</h4>            
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Grado</label>
                    <div class="col-sm-4">
                        <span class="form-control" >{{evaluacion.grado}}</span>
                    </div>
                    <label class="col-sm-2 control-label">Seccion</label>
                    <div class="col-sm-4">
                        <span class="form-control" >{{evaluacion.seccionID}}</span>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Area</label>
                    <div class="col-sm-10">
                        <span class="form-control" >{{evaluacion.area}}</span>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nombre Evaluacion</label>
                    <div class="col-sm-10">
                        <span class="form-control" >{{evaluacion.nombre}}</span>
                    </div>
                </div>
                <h4>Fecha Entrega</h4>
                <div class="form-group" >                
                    <label class="col-sm-2 control-label">Desde</label>
                    <div class="col-md-4">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="evaluacion.fechaI" is-open="fecha1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="fecha1=true"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>                      
                        </p>
                        <div uib-timepicker min="fechaMinima" ng-model="evaluacion.fechaI" show-spinners="false" show-meridian="true"></div>
                    </div>                
                    <label class="col-sm-2 control-label">Hasta</label>
                    <div class="col-sm-4">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="evaluacion.fechaF" is-open="fecha2" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="fecha2=true"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>                      
                        </p>
                        <div uib-timepicker min="evaluacion.fechaI" ng-model="evaluacion.fechaF" show-spinners="false" show-meridian="true"></div>                    
                    </div>
                </div>
                </form>
                
                <hr style="margin: 5px 0 10px"/>
                <div align="right">
                    <button class="btn btn-default" ng-click="$parent.$parent.active2=2"><i class="fa fa-arrow-left" ></i> regresar</button>
                    <button type="button" ng-if="evaluacion.estado=='N'" class="btn btn-primary" ng-click="enviarEvaluacion(usuMaster.organizacion.organizacionID)"> Enviar</button>
                </div>
                
            </div>
            </uib-tab>
          </uib-tabset>
    </div>
  </div>
</div>
