<div class="row">
    
<div class="col-md-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">TAREAS Y EVALUACIONES</h4>
    </header>
    <div class="panel-body" ng-init="buscarPlanEstudios(usuMaster.organizacion.organizacionID)">
        <div class="form-panel">
            <div class="form-horizontal style-form" >
            <div class="form-group" >
                <label class="col-sm-2 control-label">Nivel</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="nivelSel" ng-options="o as o.descripcion for o in plan.niveles"  ng-change="calcularGrados(nivelSel)"></select>
                </div>
                <label class="col-sm-2 control-label">Grado</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="gradoSel" ng-options="g as g.grado for g in grados" ng-change="calcularSecciones(gradoSel)"></select>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">Seccion</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="seccionSel" ng-options="o.seccionID as o.seccionID for o in gradoSel.secciones" ng-change="filtrarSecciones()">
                        <option ng-value="todos"></option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Area</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="areaSel" ng-options="o.areaID as o.area for o in gradoSel.areas" ng-change="filtrarAreas()">
                        <option ng-value="todos"></option>
                    </select>
                </div>
            </div>
            </div>
            <br/>            
            
        </div>
        
        
        <uib-tabset active="active" justified="true">
            <uib-tab index="0" heading="TAREAS" >
            <div class="panel-body" >                
                
            <div class="tabla-responsiva"><table ng-table="tablaTarea" class="table table-striped table-hover" show-filter="true" >
                <colgroup>
                    <col width="20px" /><col width="auto" /><col width="150px" /><col width="80px" /><col width="180px" /><col width="150px" /><col width="120px" /><col width="120px" />
                </colgroup>
                <tr ng-repeat="o in $data">
                    <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                    <td data-title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'">{{o.nombre}}</td>
                    <td data-title="'Grado'" sortable="'gradoID'" style="text-align: center">{{o.grado}}</td>
                    <td data-title="'Seccion'" sortable="'seccionID'" style="text-align: center">{{o.seccionID}}</td>
                    <td data-title="'Area'" sortable="'areaID'" style="text-align: center">{{o.area}}</td>
                    <td data-title="'Fecha Entrega'" filter="{ fechaEntrega: 'text'}" sortable="'fechaEntrega'">{{o.fechaEntrega}}</td>
                    <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estados" sortable="'estado'" style="text-align: center">
                        <span class="label label-mini" ng-class="{'label-info': o.estado=='N','label-warning': o.estado=='E','label-success': o.estado=='C'}">
                            {{o.estado=='C'?'calificado':o.estado=='E'?'enviado':'nuevo'}}
                        </span>
                    </td>
                    <td data-title="'Accion'" style="text-align: center">
                    </td>
                </tr>
            </table></div>

            </div>
            </uib-tab>
            <uib-tab index="1" heading="EVALUACIONES" >
            <div class="panel-body" >
                
            <div class="tabla-responsiva"><table ng-table="tablaEvaluacion" class="table table-striped table-hover" show-filter="true" >
                <colgroup>
                    <col width="20px" /><col width="auto" /><col width="150px" /><col width="80px" /><col width="180px" /><col width="150px" /><col width="120px" /><col width="120px" />
                </colgroup>
                <tr ng-repeat="o in $data">
                    <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                    <td data-title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'">{{o.nombre}}</td>
                    <td data-title="'Grado'" sortable="'gradoID'" style="text-align: center">{{o.grado}}</td>
                    <td data-title="'Seccion'" sortable="'seccionID'" style="text-align: center">{{o.seccionID}}</td>
                    <td data-title="'Area'" sortable="'areaID'" style="text-align: center">{{o.area}}</td>
                    <td data-title="'Fecha Entrega'" filter="{ fechaEntrega: 'text'}" sortable="'fechaEntrega'">{{o.fechaEntrega}}</td>
                    <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estados" sortable="'estado'" style="text-align: center">
                        <span class="label label-mini" ng-class="{'label-info': o.estado=='N','label-warning': o.estado=='E','label-success': o.estado=='C'}">
                            {{o.estado=='C'?'calificado':o.estado=='E'?'enviado':'nuevo'}}
                        </span>
                    </td>
                    <td data-title="'Accion'" style="text-align: center">
                    </td>
                </tr>
            </table></div>

            </div>
            </uib-tab>
        </uib-tabset>
        
    </div>
</section>
    

</div>
</div>