<div ng-if="objConfirm.statePublicCod">
    <div ng-if="!objConfirm.statePublicDat">
        <div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Ingrese Código" style="text-align: center" ng-model="objConfirm.codIng">
                <span class="glyphicon glyphicon-eye-open form-control-feedback"></span>
            </div>
            <button class="btn btn-lg btn-login btn-block" ng-click="validarCodigo()">Ingresar</button>
        </div>
    </div>
    <div ng-if="objConfirm.statePublicDat">
        <div class="mini-stat clearfix">
            <div class="form-group">
                <label class="col-xs-5 control-label">Capacitación:</label>
                <label class="col-xs-7 control-label">{{objConfirm.cap.nom}}</label>
                <label class="col-xs-5 control-label">Tipo:</label>
                <label class="col-xs-7 control-label">{{objConfirm.cap.tip}}</label>                
                <label class="col-xs-5 control-label">Cronograma:</label>
                <label class="col-xs-7 control-label">{{objConfirm.cap.cro}}</label>
            </div>
        </div>
        <div ng-form="myParForm">
            <div class="form-group has-feedback" ng-if="!objConfirm.tipPub">
                <input name="dni" type="text" class="form-control" placeholder="DNI" ng-model="objConfirm.par.dni" ng-pattern="/[0-9]{8}/" required>
                <span class="glyphicon glyphicon-home form-control-feedback"></span>
            </div>
            <div ng-show="objConfirm.estVer" class="alert alert-block alert-danger fade in" >{{objConfirm.men}}</div>
            <div class="form-group has-feedback">
                <input name="name" type="text" class="form-control" placeholder="Nombres" ng-model="objConfirm.par.nom" ng-disabled="objConfirm.parEst" required>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input name="father" type="text" class="form-control" placeholder="Apellido Paterno" ng-model="objConfirm.par.pat" ng-disabled="objConfirm.parEst" required>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input name="mother" type="text" class="form-control" placeholder="Apellido Materno" ng-model="objConfirm.par.mat"  ng-disabled="objConfirm.parEst" required>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>                            
            <div class="form-group has-feedback" ng-if="!objConfirm.tipPub">
                <select class="form-control" name="organization" ng-model="objConfirm.par.org" ng-disabled="objConfirm.parEst" required>
                    <option disabled selected value>Institución Educativa</option>
                    <option ng-repeat="organization in objConfirm.org" value="{{organization.cod}}">{{organization.nom}}</option>
                </select>
                <span class="glyphicon glyphicon-globe form-control-feedback"></span>
            </div>
            <table class="table table-advance">
                <tbody>
                    <tr>
                        <td>
                            <button ng-class="{'btn btn-success btn-sm': objConfirm.par.ter, 'btn btn-default btn-sm': !objConfirm.par.ter}" ng-disabled="objConfirm.parEst" ng-click="objConfirm.par.ter = !objConfirm.par.ter"><span class="glyphicon glyphicon-check"></span></button>
                        </td>
                        <td><strong>Términos y Condiciones</strong></td>                                                
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-lg btn-login btn-block" ng-disabled="myParForm.$invalid || (objConfirm.par.ter === false) || objConfirm.parEst" ng-click="registrarParticipante()">Registrar</button>
    </div>
</div>
<div ng-if="objConfirm.stateSelection">
    <div class="mini-stat clearfix">
        <div class="form-group">
            <label class="col-xs-12 control-label" style="text-align: center">{{objConfirm.men}}</label>
        </div>
    </div>
</div>