<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrlbancoLectura.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Banco de lectura escolar</h4>
            </header>
            <div class="panel-body">
                <div class="form-horizontal" >
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nivel:</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrlbancoLectura.nivel" ng-options="s.nom for s in ctrlbancoLectura.niveles track by s.id" ng-change="ctrlbancoLectura.mostrarGrados(ctrlbancoLectura.nivel)">
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Grado:</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrlbancoLectura.grado" ng-options="s.nom for s in ctrlbancoLectura.grados track by s.id" ng-change="ctrlbancoLectura.mostrarSecciones(ctrlbancoLectura.grado)">
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Seccion:</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrlbancoLectura.seccion" ng-options="s for s in ctrlbancoLectura.secciones">
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Area</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="ctrlbancoLectura.area" ng-options="s.nom for s in ctrlbancoLectura.areas track by s.cod">
                            </select>
                        </div>
                        <div class="col-lg-offset-10 col-sm-4">
                            <button class="btn btn-success btn-sm" type="button" ng-click="ctrlbancoLectura.buscarLecturas()">Listar</button>
                            <button class="btn btn-primary btn-sm" type="button" ng-disabled="ctrlbancoLectura.grado == undefined || ctrlbancoLectura.seccion == undefined || ctrlbancoLectura.area == undefined" ng-click="ctrlbancoLectura.registrarLectura()">Nuevo</button>
                        </div>
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-4">
                        </div>
                    </div>
                </div>
                <div>
                    <table ng-table="ctrlbancoLectura.lecturas" class="table table-bordered table-hover table-condensed editable-table">
                        <colgroup>
                            <col width="5%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col width="10%" />
                        </colgroup>
                        <tr ng-repeat="row in $data">
                            <td ng-form="num" data-title="'N°'"><span>{{$index + 1}}</span></td>
                            <td filter="{noml: 'text'}" sortable="'noml'"  ng-form="noml" data-title="'Nombre'"><span>{{row.noml}}</span></td>
                            <td filter="{aut: 'text'}" sortable="'aut'"  ng-form="aut" data-title="'Autor'"><span>{{row.aut}}</span></td>
                            <td ng-form="des" data-title="'Descripcion'"><span>{{row.des}}</span></td>
                            <td ng-form="pub" data-title="'Publicacion'"><span>{{row.fpub | date:'dd-MM-yyyy'}}</span></td>
                            <td data-title="'Archivo'">
                                <span ng-hide="!row.url && !row.nom" ><view-file url="{{row.url}}" nombre="row.nom" archivo> </view-file></span>
                            </td>
                            <td>
                                <button class="btn btn-primary btn-xs" data-toggle="tooltip" title="Editar Lectura" ng-click="ctrlbancoLectura.editarLectura(row)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button class="btn btn-danger btn-xs" data-toggle="tooltip" title="Eliminar lectura" ng-click="ctrlbancoLectura.eliminarLectura($event,row)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="nueva_lectura.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"  aria-hidden="true" ng-click="ctrl.cancelar()">&times;</button>
            <h4 class="modal-title">{{ctrl.titulo}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-panel">
                <form class="form-horizontal style-form" name="myForm">
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.lec.noml"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Descripcion: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.lec.des"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Autor: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.lec.aut"/>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Publicacion:</label>
                        <div style="padding-left: 15px;" class="input-group col-sm-4 form-inline">
                            <input name="fec" type="text" class="form-control"  uib-datepicker-popup="dd-MM-yyyy" ng-model="ctrl.lec.fpub" is-open="ctrl.abrirCalendar"
                                   datepicker-options="ctrl.dateOptions" close-text="Cerrar" today-text="Hoy" clear-text="Limpiar"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-lg-2 control-label">Archivo:</label>
                        <div class="col-lg-2 form-inline">
                            <input-file nombre="ctrl.lec.nom" archivo="ctrl.lec.arc"></input-file>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.save()">Guardar</button>
        </div>
    </div>
</script>