<div  type="text/ng-template" id="resumen_evaluacion_docente.html">
    <div class="modal-header">
        <h3 class="modal-title">Resumen de Evaluacion Docente</h3>
        <md-progress-linear ng-if="ctrl.showProgress" md-mode="indeterminate"></md-progress-linear>
    </div>
    <div class="modal-body">
        <div>
            <uib-accordion close-others="oneAtATime" ng-repeat ="dominio in ctrl.data.dominios">
                <div  uib-accordion-group class="panel-default" is-open="false">
                    <uib-accordion-heading is-open="true">
                        <table class="table">
                            <colgroup>
                                <col width="70%" />
                                <col width="20%" />
                                <col width="10%" />
                            </colgroup>
                            <thead>
                            <td>
                                <span ng-bind="dominio.nom"></span>
                            </td>
                            <td>{{dominio.sumDom}}</td>
                            <td><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></td>
                            </thead>
                        </table>
                    </uib-accordion-heading>
                    <table class="table">
                        <colgroup>
                            <col width="80%" />
                            <col width="20%" />
                        </colgroup>
                        <thead>
                        <th>Competencia</th>
                        <th>Puntaje</th>
                        </thead>
                        <tr ng-repeat="comp in dominio.cont">
                            <td><span>{{comp.nom}}</span></td>
                            <td><span>{{comp.sumComp}}</span></td>
                        </tr>
                    </table>
                </div>
            </uib-accordion>
        </div>
    </div>
    <div class="modal-footer">
        <table class="table">
            <colgroup>
                <col width="80%" />
                <col width="20%" />
            </colgroup>
            <thead>
            <th>Resultado</th>
            <th>Puntaje total</th>
            </thead>
            <tr>
                <td><span>{{ctrl.data.des}}</span></td>
                <td><span>{{ctrl.data.total}}</span></td>
            </tr>
        </table>
        <div class="col-lg-offset-6 btn-group">
            <button type="submit" class="btn btn-warning" ng-if="ctrl.showbuttonShare" ng-disabled ="!ctrl.registroRealizado" ng-click="ctrl.compartir()">Compartir</button>
            <button type="submit" class="btn btn-primary" ng-click="ctrl.aceptar()">{{ctrl.namebutton}}</button>
            <button type="submit" class="btn btn-danger" ng-click="ctrl.cancelar()">Cancelar</button>
        </div>
    </div>
</div>